<div [ngClass]="langStyle">
  <section id="trainerCourses">
    <!-- Breadcrumbs start  -->
    <!-- <nav aria-label="breadcrumb">
      <ol class="breadcrumb custom-breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/"><i class="fal fa-home-lg-alt"></i> {{'Home' | translate}}</a></li>
        <li class="breadcrumb-item active">{{'Courses'| translate}}</li>
      </ol>
    </nav> -->
    <!-- Breadcrumbs End  -->
    <!-- Course Grid Start -->
    <div class="wrapper-courses-list">
      <mdb-card cascade="true" narrower="true" [ngClass]="{ 'z-depth-0': !shadows }">
        <!-- Top Area Start -->
        <div class="wrapper-top-area">
          <div class="row m-0">
            <div class="col-md-12">
              <a routerLink="/trainer/courses/edit/0" class="test">
                <button mdbBtn rounded="true" class="waves-light gradient-btn" mdbWavesEffect><i
                    class="far fa-plus-circle"></i> {{'Add Course' | translate}}</button>
              </a>
              <!-- <a routerLink="/trainer/courses/media-gallery">
                <button mdbBtn rounded="true" class="waves-light gradient-btn" mdbWavesEffect><i
                    class="far fa-photo-video"></i> {{'Gallery' | translate}}</button>
              </a> -->
            </div>
          </div>
        </div>
        <!-- Top Area End -->
        <div class="px-4">
          <div class="table-wrapper">
            <!--Table-->
            <table class="table table-hover mb-0 table-trainer-courses">
              <!--Table head-->
              <thead>
                <tr>
                  <th class="th-lg">
                    <a># </a>
                  </th>
                  <th class="th-lg">
                    <a (click)="sortBy('name')">{{'Name'|translate}} <i class="far fa-sort-circle"></i>
                    </a>
                  </th>
                  <th class="th-lg">
                    <a (click)="sortBy('code')">{{'Course Code'|translate}} <i class="far fa-sort-circle"></i>
                    </a>
                  </th>
                  <th class="th-lg">
                    <a (click)="sortBy('template')"> {{'Template'|translate}} <i class="far fa-sort-circle"></i>
                    </a>
                  </th>
                  <th class="th-lg">
                    <a (click)="sortBy('course_category')"> {{'Category'|translate}} <i class="far fa-sort-circle"></i>
                    </a>
                  </th>
                  <th class="th-lg">
                    <a (click)="sortBy('students_count')">{{'No of Students' | translate}} <i
                        class="far fa-sort-circle"></i>
                    </a>
                  </th>
                  <th class="th-lg">
                    <a (click)="sortBy('average_rate')">{{'Average Rate' | translate}} <i
                        class="far fa-sort-circle"></i>
                    </a>
                  </th>
                  <th class="th-lg">
                    <a (click)="sortBy('items_count')"> {{'No of Items'|translate}} <i class="far fa-sort-circle"></i>
                    </a>
                  </th>
                  <th class="th-lg">
                    <a (click)="sortBy('items_waiting_count')"> {{'Waiting Items'|translate}} <i
                        class="far fa-sort-circle"></i>
                    </a>
                  </th>
                  <th class="th-lg actions-th">
                    <a>{{'Actions'|translate}} </a>
                  </th>
                </tr>
              </thead>
              <!--Table head-->
              <!--Table body-->
              <tbody>
                <tr *ngFor="let trainerCourse of mycourses ;let i =index">
                  <td>{{(pager.pageSize* (pager.currentPage-1)) +i+1  }}</td>
                  <td class="tr-hover" routerLink="/trainer/courses/view/{{trainerCourse.id}}">{{trainerCourse.name}}
                  </td>
                  <td>{{trainerCourse.code}}</td>
                  <!-- <td>{{trainerCourse.template}}</td> -->
                  <td>
                    {{app_ser.stringLang(this.globals.templatesDic[trainerCourse.template_id].name, this.globals.templatesDic[trainerCourse.template_id].name_en)}}
                  </td>
                  <td>
                    {{app_ser.stringLang(this.globals.subCategoriesDic[trainerCourse.course_category].name, this.globals.subCategoriesDic[trainerCourse.course_category].name_en)}}
                  </td>
                  <!-- <td>{{trainerCourse.course_category}}</td> -->
                  <td>{{trainerCourse.students_count}}</td>
                  <td>{{trainerCourse.average_rate}}</td>
                  <td>{{trainerCourse.items_count}}</td>
                  <td>{{trainerCourse.items_waiting_count}}</td>
                  <td routerLink="/trainer/courses/edit/{{trainerCourse.id}}" class="actions-td"><button mdbBtn
                      rounded="true" class="waves-light btn-edit" mdbWavesEffect><i class="fal fa-edit"></i>
                      {{'edit' | translate}}</button>
                    <!-- <button (click)=delete(trainerCourse.id) mdbBtn rounded="true" class="waves-light btn-delete"
                      mdbWavesEffect><i class="fal fa-trash-alt"></i> Delete
                      Course</button> -->
                    <!-- <button routerLink="/trainer/courses/view/{{trainerCourse.id}}" mdbBtn rounded="true"
                      class="waves-light btn-steps" mdbWavesEffect><i class="fal fa-layer-group"></i>
                      {{'View Items' | translate}}</button> -->
                    <button routerLink="/trainer/courses/view/{{trainerCourse.id}}" mdbBtn rounded="true"
                      class="waves-light btn-steps" mdbWavesEffect><i class="fal fa-layer-group"></i>
                      {{'View Items' | translate}}</button>
                  </td>
                </tr>
              </tbody>
              <!--Table body-->
            </table>
            <!--Table-->
          </div>
          <hr class="my-0" />
          <!-- Pagination Start -->
          <!-- Pagination End -->
        </div>
      </mdb-card>
    </div>
    <!-- Course Grid End -->
    <div class="d-flex justify-content-between wrapper-pagination">
      <jw-pagination [pager]="pager" (changePage)="onChangePage($event)"></jw-pagination>
    </div>
  </section>
</div>
