/* ======================================================================================
  *****************************************************************************************
  =========================================================================================
  ARABIC STYLE START
  =========================================================================================
  *****************************************************************************************
  ====================================================================================== */
.wrapper-terms-lang-ar {
  direction: rtl;
  text-align: right;


  .hdng-terms-and-conditions {
    font-size: 38px;
    background: -webkit-linear-gradient(top, #00b4a8, #00647f);
    padding-bottom: 10px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


}

/* ======================================================================================
  *****************************************************************************************
  =========================================================================================
  ARABIC STYLE END
  =========================================================================================
  *****************************************************************************************
  ====================================================================================== */



/* ======================================================================================
  *****************************************************************************************
  =========================================================================================
  ENGLISH STYLE END
  =========================================================================================
  *****************************************************************************************
  ====================================================================================== */
.wrapper-terms-lang-en {
  direction: ltr;
  text-align: left;


  body {
    font-family: "HelveticaNeueLight";
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "HelveticaNeuelight";
  }

  p {
    font-family: "HelveticaNeuelight";
  }

  span {
    font-family: "HelveticaNeuelight";
  }

  a {
    font-family: "HelveticaNeuelight";
  }

  div {
    font-family: "HelveticaNeuelight";
  }

  input {
    font-family: "HelveticaNeuelight";

  }

  .hdng-terms-and-conditions {
    font-size: 38px;
    background: -webkit-linear-gradient(top, #00b4a8, #00647f);
    padding-bottom: 10px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

}

/* ======================================================================================
  *****************************************************************************************
  =========================================================================================
  ENGLISH STYLE END
  =========================================================================================
  *****************************************************************************************
  ====================================================================================== */
