/* ======================================================================================
  *****************************************************************************************
  =========================================================================================
  ARABIC STYLE START
  =========================================================================================
  *****************************************************************************************
  ====================================================================================== */
.wrapper-terms-lang-ar {
  direction: rtl;
  text-align: right;
  margin: 50px 0;

  .hdng-terms-and-conditions {
    font-size: 38px;
    background: -webkit-linear-gradient(top, #00b4a8, #00647f);
    padding-bottom: 10px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


}

/* ======================================================================================
  *****************************************************************************************
  =========================================================================================
  ARABIC STYLE END
  =========================================================================================
  *****************************************************************************************
  ====================================================================================== */



/* ======================================================================================
  *****************************************************************************************
  =========================================================================================
  ENGLISH STYLE END
  =========================================================================================
  *****************************************************************************************
  ====================================================================================== */
.wrapper-terms-lang-en {
  direction: ltr;
  text-align: left;
  margin: 50px 0;

  .hdng-terms-and-conditions {
    font-size: 38px;
    background: -webkit-linear-gradient(top, #00b4a8, #00647f);
    padding-bottom: 10px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

}

/* ======================================================================================
  *****************************************************************************************
  =========================================================================================
  ENGLISH STYLE END
  =========================================================================================
  *****************************************************************************************
  ====================================================================================== */
