<div [ngClass]="langStyle">
  <div class="wrap-modal-header">
    <div class="row">
      <div class="col-10">
        <h3 class="mb-0 title-modal-register">{{ 'accType' | translate }}</h3>
      </div>
      <div class="col-2 wrap-cross-icon">
        <i class="fal fa-times cross-icon" (click)="activeModal.close(false)"></i>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <p>{{ 'selectAccType' | translate }}</p>
    <a class="btn btn-student-signup" (click)="activeModal.close(false);showSignup()"><i
        class="fal fa-user-graduate icon-student"></i>
      {{ 'signupAsStudent' | translate }}</a> <br>
    <a class="btn btn-trainer-signup" (click)="activeModal.close(false);showTrainerSignup()"><i
        class="fal fa-user-chart icon-trainer"></i>
      {{ 'signupAsTrainer' | translate }}</a>
    <!-- <a class="btn btn-trainer-signup" routerLink="/trainer-signup"><i class="fal fa-user-chart icon-trainer"></i>
        {{ 'signupAsTrainer' | translate }}</a> -->
  </div>
  <div class="modal-footer">
    <!-- <p class="w-100 mb-0">Terms and conditions</p> -->
    <!-- <mdb-checkbox [(ngModel)]="templateChecked" name="templateChecked" class="chkbox-terms w-100">
      {{'I agree with all' | translate }} &nbsp; <a routerLink=""> {{'Terms and Conditions' | translate }} </a> & <a
        routerLink="">{{'Privacy Policy' | translate }} </a> </mdb-checkbox> -->
  </div>
</div>
