<!-- <h6> wwwwwwwwwwwwwwwwwwwmmmm</h6> -->
<div [ngClass]="langStyle">
  <section id="trainerPanel">
    <div class="container-fluid">
      <div class="row">
        <div class="wrapper-sidebar">
          <!-- <div class="sidebar-trainer-panel">
            <a [routerLink]='[{ outlets: { trainer: ["a"] } }]'>HomePage</a><br>
            <a [routerLink]='[{ outlets: { trainer: ["b"] } }]'>Signup Component</a>
          </div> -->
          <app-trainer-navigation></app-trainer-navigation>
        </div>
        <div class="wrapper-contentBar">
          <!-- <section id="header-trainer-panel"> Header Component Goes Here </section> -->
          <app-trainer-header></app-trainer-header>
          <main class="trainer-main-router-outlet">
            <!-- <h6> wwwwwwwwwwwwwwwwwww</h6> -->
            <router-outlet></router-outlet>
          </main>
          <!-- <section id="footer-trainer-panel"> Footer Component Will Goes Here </section> -->
          <app-trainer-footer></app-trainer-footer>
        </div>
      </div>
    </div>
  </section>
</div>
