<div [ngClass]="langStyle">
  <!-- <div class="col-2 wrap-cross-icon">
    <i class="fal fa-times cross-icon" (click)="activeModal.close(false)"></i>
  </div> -->
  <div id="galleryPopupModal">
    <div class="row">
      <div class="col-md-12">
        <div class="wrap-header">
          <div class="row">
            <div class="col-10">
              <h3 class="mb-0 title-modal-register">{{'Gallery' | translate}}</h3>
            </div>
            <div class="col-2 wrap-cross-icon">
              <i class="fal fa-times cross-icon" (click)="activeModal.close(false)"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <select [(ngModel)]="selectedCourse" (change)="ChangedCourse()" class="course-dd">
          <option disabled [value]="0">{{'Select Course' | translate}}</option>
          <option [value]="0">{{'All' | translate}}</option>
          <option [value]="course.id" *ngFor="let course of courses">{{course.name}}</option>
        </select>
      </div>
      <div class="col-md-12">
        <ngb-tabset [destroyOnHide]="false" (tabChange)="onTabChange($event)" [activeId]="activeTab"
          id="tabset-media-types">
          <!-- **************************************** UPLOAD IMAGE GALLERY TAB START **************************************** -->
          <ngb-tab id="image">
            <ng-template ngbTabTitle><b><i class="far fa-images"></i> {{'Images' | translate}}</b></ng-template>
            <ng-template ngbTabContent>
              <div class="row justify-content-center" style="padding: 50px 0;">
                <div class="col-md-11 center mb-3">
                  <ngx-file-drop class="wrapper-browse-btn1" dropZoneLabel="Drop files here"
                    (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector"
                      class="wrapper-browse-btn">
                      <!-- <button type="button" (click)="openFileSelector()">Browse Files</button><br>
                      <p class="txt-files-limit">{{'Maximum Files'|translate}}: {{maximumFiles}} </p>
                      <br>
                      <p class="txt-files-limit"> {{'Maximum Filesize'|translate}}: {{maximumFilesize}}
                        {{'GB'|translate}}</p>
                      <br>
                      <p class="txt-files-limit">{{'Allowed Extensions'|translate}}: {{allawdExtension()}}</p> -->
                      <button type="button" (click)="openFileSelector()"
                        class="btn-browse">{{'Browse Files' | translate}}</button><br>
                      <div class="div-or"><span>{{'or' | translate}}</span></div>
                      <p class="txt-drag-and-drop text-center">{{'Drag and drop files' | translate}}</p>
                      <div class="row" style="margin-top: 20px;">
                        <div class="col-md-12 text-center">
                          <span class="no-of-files-limit files-settings-genrl">{{'Maximum Files'|translate}}:
                            {{maximumFiles}} </span>
                          <span class="divider">|</span>
                          <span class="files-size-limit files-settings-genrl"> {{'Maximum Filesize'|translate}}:
                            {{maximumFilesize}} {{'GB'|translate}}</span>
                          <span class="divider">|</span>
                          <span class="files-extension files-settings-genrl">{{'Allowed Extensions'|translate}}:
                            {{allawdExtension()}}</span>
                        </div>
                      </div>
                    </ng-template>
                  </ngx-file-drop>
                  <div *ngIf="uploadded_files.length" class="upload-table">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>{{'Name'|translate}}</th>
                          <th>{{'Size'|translate}} ({{ round( totalSize /1048576 )}} MB)</th>
                          <th class="th-progress"> {{'Progress'|translate}}</th>
                          <th> {{'Status'|translate}}</th>
                          <th> {{'Actions'|translate}}</th>
                        </tr>
                      </thead>
                      <tbody class="upload-name-style">
                        <tr *ngFor="let item of uploadded_files; let i=index">
                          <td><strong>{{i+1}}</strong></td>
                          <td><strong>{{ item.file.name }}</strong></td>
                          <td><strong>{{ round( item.file.size /1048576 )}} MB</strong></td>
                          <td class="td-progress">
                            <ngb-progressbar style="color: black;" type="success" [value]="item.uploaded">
                              {{item.uploaded}} % </ngb-progressbar>
                          </td>
                          <td><strong>{{item.status|translate}}</strong></td>
                          <td><button [ngClass]="{'enabled': item.uploaded==0, 'disabled': item.uploaded!=0}"
                              (click)="uploadFile(i)" type="button"
                              class="btn btn-success m-1">{{'Upload'|translate}}</button>
                            <button (click)="deleteFile(i)" type="button"
                              class="btn btn-danger m-1">{{'Remove'|translate}}</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div style="text-align:center;">
                      <button (click)="uploadFiles()" type="button"
                        class="btn btn-success m-1">{{'Upload all'|translate}}</button>
                      <button (click)="uploadded_files=[]" type="button"
                        class="btn btn-danger m-1">{{'Remove all'|translate}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <!-- **************************************** UPLOAD IMAGE GALLERY TAB END **************************************** -->
          <!-- **************************************** UPLOAD VIDEO GALLERY TAB END **************************************** -->
          <ngb-tab id="video">
            <ng-template ngbTabTitle><b><i class="far fa-video"></i> {{'Video' | translate }}</b></ng-template>
            <ng-template ngbTabContent>
              <div class="row justify-content-center" style="padding: 50px 0;">
                <div class="col-md-11 center mb-3">
                  <ngx-file-drop class="wrapper-browse-btn1" dropZoneLabel="Drop files here"
                    (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector"
                      class="wrapper-browse-btn">
                      <!-- <button type="button" (click)="openFileSelector()">Browse Files</button><br>
                      <p class="txt-files-limit">{{'Maximum Files'|translate}}: {{maximumFiles}} </p>
                      <br>
                      <p class="txt-files-limit"> {{'Maximum Filesize'|translate}}: {{maximumFilesize}}
                        {{'GB'|translate}}</p>
                      <br>
                      <p class="txt-files-limit">{{'Allowed Extensions'|translate}}: {{allawdExtension()}}</p> -->
                      <button type="button" (click)="openFileSelector()"
                        class="btn-browse">{{'Browse Files' | translate}}</button><br>
                      <div class="div-or"><span>{{'or' | translate}}</span></div>
                      <p class="txt-drag-and-drop text-center">{{'Drag and drop files' | translate}}</p>
                      <div class="row" style="margin-top: 20px;">
                        <div class="col-md-12 text-center">
                          <span class="no-of-files-limit files-settings-genrl">{{'Maximum Files'|translate}}:
                            {{maximumFiles}} </span>
                          <span class="divider">|</span>
                          <span class="files-size-limit files-settings-genrl"> {{'Maximum Filesize'|translate}}:
                            {{maximumFilesize}} {{'GB'|translate}}</span>
                          <span class="divider">|</span>
                          <span class="files-extension files-settings-genrl">{{'Allowed Extensions'|translate}}:
                            {{allawdExtension()}}</span>
                        </div>
                      </div>
                    </ng-template>
                  </ngx-file-drop>
                  <div *ngIf="uploadded_files.length" class="upload-table">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>{{'Name'|translate}}</th>
                          <th>{{'Size'|translate}} ({{ round( totalSize /1048576 )}} MB)</th>
                          <th> {{'Progress'|translate}}</th>
                          <th> {{'Status'|translate}}</th>
                          <th> {{'Actions'|translate}}</th>
                        </tr>
                      </thead>
                      <tbody class="upload-name-style">
                        <tr *ngFor="let item of uploadded_files; let i=index">
                          <td><strong>{{i+1}}</strong></td>
                          <td><strong>{{ item.file.name }}</strong></td>
                          <td><strong>{{ round( item.file.size /1048576 )}} MB</strong></td>
                          <td>
                            <ngb-progressbar style="color: black;" type="success" [value]="item.uploaded">
                              {{item.uploaded}} % </ngb-progressbar>
                          </td>
                          <td><strong>{{item.status|translate}}</strong></td>
                          <td><button [ngClass]="{'enabled': item.uploaded==0, 'disabled': item.uploaded!=0}"
                              (click)="uploadFile(i)" type="button"
                              class="btn btn-success m-1">{{'Upload'|translate}}</button>
                            <button (click)="deleteFile(i)" type="button"
                              class="btn btn-danger m-1">{{'Remove'|translate}}</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div style="text-align:center;">
                      <button (click)="uploadFiles()" type="button"
                        class="btn btn-success m-1">{{'Upload all'|translate}}</button>
                      <button (click)="uploadded_files=[]" type="button"
                        class="btn btn-danger m-1">{{'Remove all'|translate}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <!-- **************************************** UPLOAD VIDEO GALLERY TAB END **************************************** -->
          <!-- **************************************** UPLOAD DUBBING VIDEO GALLERY TAB START **************************************** -->
          <ngb-tab *ngIf="0" id="dubbing">
            <ng-template ngbTabTitle><b><i class="far fa-film"></i> {{'Dubbing Videos' | translate}}</b></ng-template>
            <ng-template ngbTabContent>
              <!-- LANGUAGE TAB START -->
              <ngb-tabset (tabChange)="onSecondryTabChange($event)" [activeId]="activeSecondryTab"
                id="tabset-languages-dubbing">
                <ngb-tab *ngFor="let tab of app_ser.langList" id="{{tab.code}}">
                  <ng-template ngbTabTitle>
                    <span>{{ tab.name | translate }}</span>
                  </ng-template>
                  <ng-template ngbTabContent>
                    <div class="row justify-content-center" style="padding: 50px 0;">
                      <div class="col-md-11 center mb-3">
                        <ngx-file-drop class="wrapper-browse-btn1" dropZoneLabel="Drop files here"
                          (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
                          (onFileLeave)="fileLeave($event)">
                          <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector"
                            class="wrapper-browse-btn">
                            <!-- <button type="button" (click)="openFileSelector()">Browse Files</button><br>
                            <p class="txt-files-limit">{{'Maximum Files'|translate}}: {{maximumFiles}} </p>
                            <br>
                            <p class="txt-files-limit"> {{'Maximum Filesize'|translate}}: {{maximumFilesize}}
                              {{'GB'|translate}}</p>
                            <br>
                            <p class="txt-files-limit">{{'Allowed Extensions'|translate}}: {{allawdExtension()}}</p> -->
                            <button type="button" (click)="openFileSelector()"
                              class="btn-browse">{{'Browse Files' | translate}}</button><br>
                            <div class="div-or"><span>{{'or' | translate}}</span></div>
                            <p class="txt-drag-and-drop text-center">{{'Drag and drop files' | translate}}</p>
                            <div class="row" style="margin-top: 20px;">
                              <div class="col-md-12 text-center">
                                <span class="no-of-files-limit files-settings-genrl">{{'Maximum Files'|translate}}:
                                  {{maximumFiles}} </span>
                                <span class="divider">|</span>
                                <span class="files-size-limit files-settings-genrl"> {{'Maximum Filesize'|translate}}:
                                  {{maximumFilesize}} {{'GB'|translate}}</span>
                                <span class="divider">|</span>
                                <span class="files-extension files-settings-genrl">{{'Allowed Extensions'|translate}}:
                                  {{allawdExtension()}}</span>
                              </div>
                            </div>
                          </ng-template>
                        </ngx-file-drop>
                        <div *ngIf="uploadded_files.length" class="upload-table">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>{{'Name'|translate}}</th>
                                <th>{{'Size'|translate}} ({{ round( totalSize /1048576 )}} MB)</th>
                                <th> {{'Progress'|translate}}</th>
                                <th> {{'Status'|translate}}</th>
                                <th> {{'Actions'|translate}}</th>
                              </tr>
                            </thead>
                            <tbody class="upload-name-style">
                              <tr *ngFor="let item of uploadded_files; let i=index">
                                <td><strong>{{i+1}}</strong></td>
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td><strong>{{ round( item.file.size /1048576 )}} MB</strong></td>
                                <td>
                                  <ngb-progressbar style="color: black;" type="success" [value]="item.uploaded">
                                    {{item.uploaded}} % </ngb-progressbar>
                                </td>
                                <td><strong>{{item.status|translate}}</strong></td>
                                <td><button [ngClass]="{'enabled': item.uploaded==0, 'disabled': item.uploaded!=0}"
                                    (click)="uploadFile(i)" type="button"
                                    class="btn btn-success m-1">{{'Upload'|translate}}</button>
                                  <button (click)="deleteFile(i)" type="button"
                                    class="btn btn-danger m-1">{{'Remove'|translate}}</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <div style="text-align:center;">
                            <button (click)="uploadFiles()" type="button"
                              class="btn btn-success m-1">{{'Upload all'|translate}}</button>
                            <button (click)="uploadded_files=[]" type="button"
                              class="btn btn-danger m-1">{{'Remove all'|translate}}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
              <!-- LANGUAGE TAB END -->
            </ng-template>
          </ngb-tab>
          <!-- **************************************** UPLOAD DUBBING VIDEO GALLERY TAB END **************************************** -->
          <!-- **************************************** UPLOAD SUBTITLES VIDEO GALLERY TAB START **************************************** -->
          <ngb-tab *ngIf="0" id="subtitle">
            <ng-template ngbTabTitle><b><i class="far fa-closed-captioning"></i> {{'Subtitle' | translate }}</b>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- LANGUAGE TAB START -->
              <ngb-tabset (tabChange)="onSecondryTabChange($event)" [activeId]="activeSecondryTab"
                id="tabset-languages-subtitle">
                <ngb-tab *ngFor="let tab of app_ser.langList" id="{{tab.code}}">
                  <ng-template ngbTabTitle>
                    <span>{{ tab.name | translate }}</span>
                  </ng-template>
                  <ng-template ngbTabContent>
                    <div class="row justify-content-center" style="padding: 50px 0;">
                      <div class="col-md-11 center mb-3">
                        <ngx-file-drop class="wrapper-browse-btn1" dropZoneLabel="Drop files here"
                          (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
                          (onFileLeave)="fileLeave($event)">
                          <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector"
                            class="wrapper-browse-btn">
                            <!-- <button type="button" (click)="openFileSelector()">Browse Files</button><br>
                            <p class="txt-files-limit">{{'Maximum Files'|translate}}: {{maximumFiles}} </p>
                            <br>
                            <p class="txt-files-limit"> {{'Maximum Filesize'|translate}}: {{maximumFilesize}}
                              {{'GB'|translate}}</p>
                            <br>
                            <p class="txt-files-limit">{{'Allowed Extensions'|translate}}: {{allawdExtension()}}</p> -->
                            <button type="button" (click)="openFileSelector()"
                              class="btn-browse">{{'Browse Files' | translate}}</button><br>
                            <div class="div-or"><span>{{'or' | translate}}</span></div>
                            <p class="txt-drag-and-drop text-center">{{'Drag and drop files' | translate}}</p>
                            <div class="row" style="margin-top: 20px;">
                              <div class="col-md-12 text-center">
                                <span class="no-of-files-limit files-settings-genrl">{{'Maximum Files'|translate}}:
                                  {{maximumFiles}} </span>
                                <span class="divider">|</span>
                                <span class="files-size-limit files-settings-genrl"> {{'Maximum Filesize'|translate}}:
                                  {{maximumFilesize}} {{'GB'|translate}}</span>
                                <span class="divider">|</span>
                                <span class="files-extension files-settings-genrl">{{'Allowed Extensions'|translate}}:
                                  {{allawdExtension()}}</span>
                              </div>
                            </div>
                          </ng-template>
                        </ngx-file-drop>
                        <div *ngIf="uploadded_files.length" class="upload-table">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>{{'Name'|translate}}</th>
                                <th>{{'Size'|translate}} ({{ round( totalSize /1048576 )}} MB)</th>
                                <th> {{'Progress'|translate}}</th>
                                <th> {{'Status'|translate}}</th>
                                <th> {{'Actions'|translate}}</th>
                              </tr>
                            </thead>
                            <tbody class="upload-name-style">
                              <tr *ngFor="let item of uploadded_files; let i=index">
                                <td><strong>{{i+1}}</strong></td>
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td><strong>{{ round( item.file.size /1048576 )}} MB</strong></td>
                                <td>
                                  <ngb-progressbar style="color: black;" type="success" [value]="item.uploaded">
                                    {{item.uploaded}} % </ngb-progressbar>
                                </td>
                                <td><strong>{{item.status|translate}}</strong></td>
                                <td><button [ngClass]="{'enabled': item.uploaded==0, 'disabled': item.uploaded!=0}"
                                    (click)="uploadFile(i)" type="button"
                                    class="btn btn-success m-1">{{'Upload'|translate}}</button>
                                  <button (click)="deleteFile(i)" type="button"
                                    class="btn btn-danger m-1">{{'Remove'|translate}}</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <div style="text-align:center;">
                            <button (click)="uploadFiles()" type="button"
                              class="btn btn-success m-1">{{'Upload all'|translate}}</button>
                            <button (click)="uploadded_files=[]" type="button"
                              class="btn btn-danger m-1">{{'Remove all'|translate}}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
              <!-- LANGUAGE TAB ENG -->
            </ng-template>
          </ngb-tab>
          <!-- **************************************** UPLOAD SUBTITLES VIDEO GALLERY TAB END **************************************** -->
          <!-- **************************************** UPLOAD AUDIO GALLERY TAB END **************************************** -->
          <ngb-tab *ngIf="0" id="audio">
            <ng-template ngbTabTitle><b><i class="far fa-microphone-alt"></i> {{'Audio' | translate }}</b></ng-template>
            <ng-template ngbTabContent>
              <div class="row justify-content-center" style="padding: 50px 0;">
                <div class="col-md-11 center mb-3">
                  <ngx-file-drop class="wrapper-browse-btn1" dropZoneLabel="Drop files here"
                    (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector"
                      class="wrapper-browse-btn">
                      <button type="button" (click)="openFileSelector()"
                        class="btn-browse">{{'Browse Files' | translate}}</button><br>
                      <div class="div-or"><span>{{'or' | translate}}</span></div>
                      <p class="txt-drag-and-drop text-center">{{'Drag and drop files' | translate}}</p>
                      <div class="row" style="margin-top: 20px;">
                        <div class="col-md-12 text-center">
                          <span class="no-of-files-limit files-settings-genrl">{{'Maximum Files'|translate}}:
                            {{maximumFiles}} </span>
                          <span class="divider">|</span>
                          <span class="files-size-limit files-settings-genrl"> {{'Maximum Filesize'|translate}}:
                            {{maximumFilesize}} {{'GB'|translate}}</span>
                          <span class="divider">|</span>
                          <span class="files-extension files-settings-genrl">{{'Allowed Extensions'|translate}}:
                            {{allawdExtension()}}</span>
                        </div>
                      </div>
                      <!-- <span class="divider"></span>

                      <span class="divider"></span> -->
                    </ng-template>
                  </ngx-file-drop>
                  <div *ngIf="uploadded_files.length" class="upload-table">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>{{'Name'|translate}}</th>
                          <th>{{'Size'|translate}} ({{ round( totalSize /1048576 )}} MB)</th>
                          <th> {{'Progress'|translate}}</th>
                          <th> {{'Status'|translate}}</th>
                          <th> {{'Actions'|translate}}</th>
                        </tr>
                      </thead>
                      <tbody class="upload-name-style">
                        <tr *ngFor="let item of uploadded_files; let i=index">
                          <td><strong>{{i+1}}</strong></td>
                          <td><strong>{{ item.file.name }}</strong></td>
                          <td><strong>{{ round( item.file.size /1048576 )}} MB</strong></td>
                          <td>
                            <ngb-progressbar style="color: black;" type="success" [value]="item.uploaded">
                              {{item.uploaded}} % </ngb-progressbar>
                          </td>
                          <td><strong>{{item.status|translate}}</strong></td>
                          <td><button [ngClass]="{'enabled': item.uploaded==0, 'disabled': item.uploaded!=0}"
                              (click)="uploadFile(i)" type="button"
                              class="btn btn-success m-1">{{'Upload'|translate}}</button>
                            <button (click)="deleteFile(i)" type="button"
                              class="btn btn-danger m-1">{{'Remove'|translate}}</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div style="text-align:center;">
                      <button (click)="uploadFiles()" type="button"
                        class="btn btn-success m-1">{{'Upload all'|translate}}</button>
                      <button (click)="uploadded_files=[]" type="button"
                        class="btn btn-danger m-1">{{'Remove all'|translate}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <!-- **************************************** UPLOAD AUDIO GALLERY TAB END **************************************** -->
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>
