/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */
.wrapper-header-navigation-ar {
  direction: rtl;
  text-align: right;

  .header-sub-categories {
    height: 100%;
    background: transparent;
    color: lightgray;
    margin-top: 0px;
    margin-bottom: 10px;


    .ul-sub-categories {
      text-align: center;
      padding-left: 0;
      padding-right: 0;
      list-style: none;
      margin-left: -5px;
      margin-top: -1px;
      margin-bottom: -1px;

      li {
        position: relative;
        display: inline-block;
        padding-right: 12px;
        padding-left: 12px;
        max-width: 100px;
        vertical-align: top;


        .wrap-sub-category-item {
          a {

            font-weight: bold;
            color: #636363;
            font-size: 12px;


            .icon-genrl {
              font-size: 20px !important;
            }

            .title-sub-category {
              line-height: 1.2;
              margin-top: 3px;
            }
          }
        }

        .wrap-sub-category-item:hover {
          cursor: pointer !important;
        }

        .wrap-sub-category-item:hover a .title-sub-category {
          color: #e5e5e5 !important;

        }

        .wrap-sub-category-item:hover a .txt-all {
          color: #e5e5e5 !important;

        }

        .wrap-sub-category-item:hover a .icon-genrl {
          color: #e5e5e5 !important;

        }
      }

      li:hover {
        cursor: pointer;
      }

      li:hover .wrap-sub-category-item a {
        color: #e5e5e5 !important;
      }
    }
  }

  /* ================= MEDIA QUERY START ================= */


  @media (max-width:575px) {
    .header-sub-categories {
      .ul-sub-categories {
        li {
          display: block;
          margin-bottom: 14px;
          border-bottom: 1px solid #cacaca;
          padding-bottom: 10px;

          .wrap-sub-category-item {
            a {
              .icon-genrl {
                padding: 0 8px;
              }

              .title-sub-category,
              .txt-all {
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 576px) and (max-width: 767px) {}

  @media (min-width: 768px) and (max-width: 991px) {
    .header-sub-categories {
      .ul-sub-categories {
        li {
          display: block;
          margin-bottom: 14px;
          border-bottom: 1px solid #cacaca;
          padding-bottom: 10px;

          .wrap-sub-category-item {
            a {
              .icon-genrl {
                padding: 0 8px;
              }

              .title-sub-category,
              .txt-all {
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1499px) {}

  @media (min-width: 1440px) {
    .header-sub-categories {
      .ul-sub-categories {
        li {

          padding-right: 8px;
          padding-left: 8px;

        }
      }
    }


  }

  /* ================= MEDIA QUERY END ================= */
}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */
.wrapper-header-navigation-en {
  body {
    font-family: "HelveticaNeueLight";
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "HelveticaNeuelight";
  }

  p {
    font-family: "HelveticaNeuelight";
  }

  span {
    font-family: "HelveticaNeuelight";
  }

  a {
    font-family: "HelveticaNeuelight";
  }

  div {
    font-family: "HelveticaNeuelight";
  }

  input {
    font-family: "HelveticaNeuelight";

  }

  .header-sub-categories {
    height: 100%;
    background: transparent;
    color: lightgray;
    margin-top: 0px;
    margin-bottom: 10px;


    .ul-sub-categories {
      text-align: center;
      padding-left: 0;
      padding-right: 0;
      list-style: none;
      margin-left: -5px;
      margin-top: -1px;
      margin-bottom: -1px;

      li {
        position: relative;
        display: inline-block;
        padding-right: 12px;
        padding-left: 12px;
        max-width: 100px;
        vertical-align: top;


        .wrap-sub-category-item {
          a {

            font-weight: bold;
            color: #636363;


            .icon-genrl {
              font-size: 20px !important;
            }

            .title-sub-category {
              font-size: 14px;
              line-height: 1.2;
              margin-top: 3px;
            }
          }
        }

        .wrap-sub-category-item:hover {
          cursor: pointer !important;
        }

        .wrap-sub-category-item:hover a .title-sub-category {
          color: #e5e5e5 !important;

        }

        .wrap-sub-category-item:hover a .txt-all {
          color: #e5e5e5 !important;

        }

        .wrap-sub-category-item:hover a .icon-genrl {
          color: #e5e5e5 !important;

        }
      }

      li:hover {
        cursor: pointer;
      }

      li:hover .wrap-sub-category-item a {
        color: #e5e5e5 !important;
      }
    }
  }

  /* ================= MEDIA QUERY START ================= */

  @media (max-width:575px) {
    .header-sub-categories {
      .ul-sub-categories {
        li {
          display: block;
          margin-bottom: 14px;
          border-bottom: 1px solid #cacaca;
          padding-bottom: 10px;

          .wrap-sub-category-item {
            a {
              .icon-genrl {
                padding: 0 8px;
              }

              .title-sub-category,
              .txt-all {
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 1440px) {
    .header-sub-categories {
      .ul-sub-categories {
        li {

          padding-right: 8px;
          padding-left: 8px;
        }
      }
    }


  }

  /* ================= MEDIA QUERY END ================= */
}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */
