<div [ngClass]="langStyle">
  <!-- ================ HEADER CATEGORIES START ================ -->
  <div *ngIf="subCategories" class="header-sub-categories">
    <ul class="ul-sub-categories">
      <li>
        <!-- <div class="wrap-sub-category-item" [ngClass]="{'wrap-active-sub-category-item': this.activeSubCategory == 0, 'wrap-inactive-sub-category-item': this.activeSubCategory != 0}"> -->
        <div class="wrap-sub-category-item"
          [ngClass]="activeMainCategoryObj?'active'+activeMainCategoryObj.color:'active'+ 'all-css'">
          <a (click)="setactiveSubCategory()">
            <i class="icon-genrl fal fa-list-ul"
              [style.color]="activeMainCategoryObj ? (activeSubCategory?'#ffffff':activeMainCategoryObj.color): (activeSubCategory?'#ffffff':'#00b5a9') "></i>
            <div class="txt-all"
              [style.color]="activeMainCategoryObj ? (activeSubCategory?'#ffffff':activeMainCategoryObj.color): (activeSubCategory?'#ffffff':'#00b5a9') ">
              {{'All' | translate}}</div>
          </a>
        </div>
      </li>
      <li *ngFor="let sub_category of subCategories">
        <div class="wrap-sub-category-item"
          [ngClass]="{'wrap-active-sub-category-item': this.activeSubCategory == sub_category.id, 'wrap-inactive-sub-category-item': this.activeSubCategory != sub_category.id}">
          <a (click)="setactiveSubCategory(sub_category)" class="link-sub-category">
            <!-- <i [ngClass]="sub_category.fa_icon" class="icon-genrl" aria-hidden="true"
          [style.color]="activeSubCategory == sub_category.id? activeMainCategoryObj.color: '#636363'"></i> -->
            <i class="icon-genrl fal" [ngClass]="sub_category.fa_icon"
              [style.color]="activeMainCategoryObj ? (activeSubCategory== sub_category.id?activeMainCategoryObj.color:'#ffffff'): (activeSubCategory== sub_category.id? '#00b5a9':'#ffffff')"></i>
            <div class="title-sub-category"
              [style.color]="activeMainCategoryObj ? (activeSubCategory== sub_category.id?activeMainCategoryObj.color:'#ffffff'): (activeSubCategory== sub_category.id? '#00b5a9':'#ffffff')">
              {{ app_ser.stringLang(sub_category.name,sub_category.name_en) }} </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <!-- ================ HEADER CATEGORIES END ================ -->
</div>
