<div [ngClass]="langStyle">
  <div class="wrap-modal-header">
    <div class="row">
      <div class="col-10">
        <h3 class="mb-0 title-modal-register">{{ correctionData.type | translate }}</h3>
      </div>
      <div class="col-2 wrap-cross-icon">
        <i class="fal fa-times cross-icon" (click)="activeModal.close(false)"></i>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6 col-user-image">
        <div class="row m-0 align-items-center">
          <div class="col-pic">
            <img [src]="usrImg()" alt="" class="img-student img-fluid">
          </div>
          <div class="col-username-and-date">
            <p class="username">{{studentData.name}}</p>
            <p class="date">{{correctionData.updated}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-item-type">
        <span class="item-name">{{correctionData.item_name | translate}}</span>
        <!-- <span class="item-type">{{correctionData.type | translate}}</span> -->
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-md-8">
        <h5 class="hdng-question">{{'Question' | translate}}</h5>
        <p class="text-center">{{correctionData.question |translate}}</p>
      </div>
      <div class="col-md-8 mt-2">
        <h5 class="hdng-answer">{{'Answer' | translate}}</h5>
        <!-- ANSWER TEXTBOX START -->
        <div class="wrap-answer" *ngIf="correctionData.type=='textbox'">
          <p *ngIf='answer && skipedTimeOutOpt'>{{answer}}</p>
        </div>
        <!-- ANSWER TEXTBOX END -->


        <!-- ANSWER VIDEO RECORD START -->
        <div class="wrap-answer" *ngIf="correctionData.type=='video' ||correctionData.type=='upload-video'">
          <div class="wrapper-video-answer" *ngIf='answer && skipedTimeOutOpt'>
            <vg-player>
              <vg-overlay-play vgFor="masterVideo" class="video-big-play-icon">
              </vg-overlay-play>
              <vg-controls>
                <vg-play-pause></vg-play-pause>
                <vg-scrub-bar>
                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                  <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                </vg-scrub-bar>
                <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                <vg-mute></vg-mute>
                <vg-volume vgFor="masterVideo"></vg-volume>
                <vg-fullscreen></vg-fullscreen>
              </vg-controls>
              <video [vgMedia]="master" #master id="masterVideo" preload="auto" [src]="app_ser.video_url(answer)">
              </video>
              <!-- <video [vgMedia]="master" #master  id="masterVideo" preload="auto"
                          [src]="app_ser.video_url(template.video, template.video_derivation,'q_720')">
                          </video> -->
            </vg-player>
          </div>
        </div>
        <!-- ANSWER VIDEO RECORD END -->
        <!-- ANSWER AUDIO RECORD START -->
        <div class="wrap-answer" *ngIf="correctionData.type=='sound' ||correctionData.type=='upload-sound'">
          <audio controls *ngIf='answer && skipedTimeOutOpt'>
            <source [src]="app_ser.audio_url(answer)" type="audio/mpeg">
            <!-- <source [src]="app_ser.audio_url(activeStep.data)" type="audio/mpeg"> -->
            {{'audioNotSupported'|translate}} </audio>
        </div>
        <!-- ANSWER AUDIO RECORD END -->
        <!-- ANSWER IMAGE START -->
        <div class="wrap-answer" *ngIf="correctionData.type=='upload-image'">
          <img *ngIf='answer && skipedTimeOutOpt' [src]="app_ser.img_url(answer)" alt="" class="img-answer img-fluid">
        </div>
        <!-- ANSWER IMAGE END -->
        <!-- ANSWER UPLOAD DOCUMENT START -->
        <div class="wrap-answer" *ngIf="correctionData.type=='upload-document'">
          <div *ngIf='answer && skipedTimeOutOpt' (click)="app_ser.showFile(answer)" class="document">
            <img src="../../../../../assets/images/pdf-answer-img.png" alt="" class="img-fluid img-pdf-answer">
          </div>
        </div>
        <!-- ANSWER UPLOAD DOCUMENT END -->
        <!-- ANSWER VIDEO AUTOQUE START -->
        <div class="wrap-answer" *ngIf="correctionData.type=='autocue'">
          <p class="autocue-text">{{correctionData.news}}.</p>
          <div class="wrapper-video-answer" *ngIf='answer && skipedTimeOutOpt'>
            <vg-player>
              <vg-overlay-play vgFor="masterVideo" class="video-big-play-icon">
              </vg-overlay-play>
              <vg-controls>
                <vg-play-pause></vg-play-pause>
                <vg-scrub-bar>
                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                  <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                </vg-scrub-bar>
                <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                <vg-mute></vg-mute>
                <vg-volume vgFor="masterVideo"></vg-volume>
                <vg-fullscreen></vg-fullscreen>
              </vg-controls>
              <video [vgMedia]="master" #master id="masterVideo" preload="auto" [src]="app_ser.video_url(answer)">
              </video>
              <!-- <video [vgMedia]="master" #master id="masterVideo" preload="auto"
                                              [src]="app_ser.video_url(template.video, template.video_derivation,'q_720')">
                                              </video> -->
            </vg-player>
          </div>
        </div>
        <!-- ANSWER  VIDEO AUTOQUE END -->
        <!-- ANSWER AUDIO AUTOQUE START -->
        <div class="wrap-answer" *ngIf="correctionData.type=='autocue-voice'">
          <p class="autocue-text">{{correctionData.news}}.</p>
          <audio controls *ngIf='answer && skipedTimeOutOpt'>
            <source [src]="app_ser.audio_url(answer)" type="audio/mpeg">
            <!-- <source [src]="app_ser.audio_url(activeStep.data)" type="audio/mpeg"> -->
            {{'audioNotSupported'|translate}} </audio>
        </div>


        <div class="wrap-answer" *ngIf="!skipedTimeOutOpt">
          <p>{{answer}}</p>
        </div>
        <!-- ANSWER  AUDIO AUTOQUE END -->
      </div>
    </div>
  </div>
  <div class="modal-footer text-center">
    <div class="wrap-marks">
      <form novalidate #resetForm="ngForm">
        <div class="form-row row align-items-center custom-form-row">
          <div class="col-12">
            <p class="text-center">{{'Apply the appropriate marks'|translate}}</p>
          </div>
          <div class="col-5">
            <input type="text" class="form-control form-control-genrl custom-border-radius"
              [value]="correctionData.mark" placeholder="Total Marks" disabled>
          </div>
          <div class="col-2">/</div>
          <!-- <div class="col-5">
            <input type="number" (change)="change(ansMark)" [(ngModel)]="ansMark" [value]="ansMark" min="0"
              [max]="correctionData.mark" class="form-control form-control-genrl custom-border-radius"
              placeholder="{{'Enter marks' | translate}}">
          </div> -->

          <div class="col-5">
            <input class="form-control form-control-genrl custom-border-radius" type="number" #userEmail="ngModel"
              required name="mark" [(ngModel)]="ansMark" min="0" [max]="correctionData.mark"
              placeholder="{{ 'Mark' | translate }}" />
          </div>
          <div class="col-12">
            <!-- disabled [ngClass]="{disabled:ansMark == null}" -->
            <button [ngClass]="{'enabled':(checked(resetForm)) , 'disabled': !(checked(resetForm))}"
              (click)="setMark(resetForm)" class="btn btn-save-mark"><i class="far fa-save"></i>
              {{'Save'| translate}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
