<div class="wrapper-modal-confirmation">
  <div class="modal-header text-center">
    <h4 class="modal-title text-center" style="width:100%; direction: rtl;">{{ title|translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()" style="box-shadow: 0; outline:0;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center"> {{ message|translate}} </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-primary"
      style="margin: 0 1%;width:48%; background: #00b5a9 !important;border: 1px solid #00b5a9; color: white;outline: 0; box-shadow:0 0 0 0; border-radius: 100px"
      (click)="accept()">{{ btnOkText |translate }}</button>
    <button type="button" class="btn btn-danger"
      style="margin: 0 1%;width:48%; border: 1px solid #00b5a9;background: transparent !important; color: black;outline: 0; box-shadow:0 0 0 0;border-radius: 100px"
      (click)="decline()">{{ btnCancelText |translate}}</button>
  </div>
</div>
