<div *ngIf="trainer.name" [ngClass]="langStyle">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-12">
        <h4 class="text-center mt-5 mb-5">{{ 'Trainer Profile' | translate }}</h4>
      </div>
      <div class="col-md-12">
        <mdb-stepper #stepper [linear]="true" class="stepper-trainer-registration">
          <!-- =============================== STEP 1 - STEP BASIC INFO START =============================== -->
          <mdb-step name="{{ 'Basic Information' | translate }}" [stepForm]="basicInformationForm" class="step1">
            <!-- FORM START -->
            <form novalidate #basicInformationForm="ngForm">
              <div class="form-group">
                <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="droppedImage($event)"
                  (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)"
                  class="upload-profile-pic-file-upload">
                  <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                    <button *ngIf="!trainer.image" type="button" (click)="openFileSelector()"
                      class="btn-upload-picture">{{ 'Upload Profile Picture' | translate }}</button>
                    <button *ngIf="trainer.image" type="button" (click)="openFileSelector()"
                      class="btn-upload-picture">{{ 'Change Profile Picture' | translate }} </button>
                    <div class="img-uploaded">
                      <img class="img-file" [src]="app_ser.img_url(trainer.image,'user')" alt="">
                    </div>
                  </ng-template>
                </ngx-file-drop>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label for="" class="mb-0">{{ 'Full Name' | translate }}</label><br>
                  </div>
                  <div class="col-md-6 error-msg-div">
                    <mdb-error *ngIf="fullName.errors?.required && fullName.touched">{{ 'Full Name' | translate }}
                      {{ 'is required' | translate }}</mdb-error>
                    <mdb-error *ngIf="fullName.errors?.fullName && fullName.touched">{{ 'Full Name' | translate }}
                      {{ 'is required' | translate }}</mdb-error>
                  </div>
                </div>
                <input class="form-control form-control-genrl mb-4" type="text" #fullName="ngModel" name="fullName"
                  [(ngModel)]="trainer.name" placeholder="{{ 'Full Name' | translate }}" required />
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label for="" class="mb-0">{{'Email' | translate }}</label><br>
                  </div>
                  <div class="col-md-6 error-msg-div">
                    <mdb-error *ngIf="userEmail.errors?.required && userEmail.touched">{{ 'Email' | translate }}
                      {{ 'is required' | translate }}</mdb-error>
                    <mdb-error *ngIf="userEmail.errors?.email && userEmail.touched">{{ 'Email' | translate }}
                      {{ 'is required' | translate }}</mdb-error>
                  </div>
                </div>
                <input disabled class="form-control form-control-genrl mb-4" type="email" #userEmail="ngModel" required
                  email="true" name="email" [(ngModel)]="trainer.email" placeholder="{{ 'Email' | translate }}" />
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label for="" class="mb-0">{{ 'Phone' | translate }}</label><br>
                  </div>
                  <div class="col-md-6 error-msg-div">
                    <mdb-error *ngIf="phone.errors?.required && phone.touched">{{ 'Phone' | translate }}
                      {{ 'is required' | translate }}</mdb-error>
                    <mdb-error *ngIf="phone.errors?.phone && phone.touched">{{ 'Phone' | translate }}
                      {{ 'is required' | translate }}</mdb-error>
                  </div>
                </div>
                <input class="form-control form-control-genrl mb-4" type="text" #phone="ngModel" name="phone"
                  [(ngModel)]="trainer.phone" placeholder="{{ 'Phone' | translate }}" required />
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label for="" class="mb-0">{{ 'Address' | translate }}</label><br>
                  </div>
                  <div class="col-md-6 error-msg-div">
                    <mdb-error *ngIf="address.errors?.required && address.touched">{{ 'Address' | translate }}
                      {{ 'is required' | translate }}</mdb-error>
                  </div>
                </div>
                <textarea class="form-control form-control-genrl mb-4" #address="ngModel"
                  name="{{ 'Address' | translate }}" [(ngModel)]="trainer.address"
                  placeholder="{{ 'address' | translate }}" required></textarea>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <label for="" class="mb-0">{{ 'Nationality' | translate }}</label><br>
                </div>
                <select required name="nationality" [(ngModel)]="trainer.nationality"
                  class="mdb-select md-form form-control form-control-genral mb-4" #Nationality="ngModel"
                  placeholder="Nationality" style="height: 50px;">
                  <!-- <option *ngIf="!user.nationality">اختر دولة </option> -->
                  <option [ngValue]="null">{{ 'select_your_county' | translate }}</option>
                  <option [value]="item.key"
                    *ngFor="let item of app_ser.nationalities()|keyvalue:app_ser.valueAscOrder"> {{item.value}}</option>
                </select>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <label for="" class="mb-0">{{ 'Residence' | translate }}</label><br>
                </div>
                <select name="residence" [(ngModel)]="trainer.residence"
                  class="mdb-select md-form form-control form-control-genral mb-4" #Residence="ngModel"
                  placeholder="Residence" style="height: 50px;">
                  <!-- <option *ngIf="!user.nationality">اختر دولة </option> -->
                  <option [ngValue]="null">{{ 'select_your_county' | translate }}</option>
                  <option [value]="item.key"
                    *ngFor="let item of app_ser.nationalities()|keyvalue:app_ser.valueAscOrder"> {{item.value}}</option>
                </select>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label for="" class="mb-0">{{ 'Language' | translate }}</label><br>
                  </div>
                  <div class="col-md-6 error-msg-div">
                    <mdb-error *ngIf="language.errors?.required && language.touched">{{ 'Language' | translate }}
                      {{ 'is required' | translate }} </mdb-error>
                  </div>
                </div>
                <select required name="language" [(ngModel)]="trainer.lang"
                  class="mdb-select md-form form-control form-control-genral mb-4" #language="ngModel"
                  style="height: 50px;">
                  <option [value]="item.code" *ngFor="let item of app_ser.appLangs()"> {{item.name}} </option>
                </select>
              </div>
              <div class="form-group">
                <div>
                  <label class="input-male">
                    <input [(ngModel)]="trainer.gender" type="radio" class="option-input radio" name="example" checked
                      [value]="1" /> {{ 'Male' | translate }} </label>
                  <label class="input-female">
                    <input [(ngModel)]="trainer.gender" type="radio" class="option-input radio" name="example"
                      [value]="0" /> {{ 'Female' | translate }} </label>
                </div>
              </div>
              <!-- BUTTONS CONTINUE AND BACK START -->
              <button mdbBtn color="primary" class="btn-genrl btn-continue"
                (click)="stepper.next(); updateTrainerProfile('basic_info')"><bdi>{{ 'Save' | translate }} <i
                    class="far fa-long-arrow-right"></i></bdi></button>
              <!-- BUTTONS CONTINUE AND BACK END -->
            </form>
            <!-- FORM END -->
          </mdb-step>
          <!-- =============================== STEP 1 - STEP BASIC INFO END =============================== -->
          <!-- =============================== STEP 2 - STEP EXPERIENCE AND SKILLS START =============================== -->
          <mdb-step name="{{ 'Experience & Skills' | translate }}" [stepForm]="experienceForm" class="step2">
            <!-- FORM START -->
            <form novalidate #experienceForm="ngForm">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label for="" class="mb-0">{{ 'Current Company' | translate }}</label><br>
                  </div>
                  <div class="col-md-6 error-msg-div">
                    <mdb-error *ngIf="company.errors?.required && company.touched">{{ 'Current Company' | translate }}
                      {{ 'is required' | translate }}</mdb-error>
                  </div>
                </div>
                <input class="form-control form-control-genrl mb-4" type="text" #company="ngModel" name="company"
                  [(ngModel)]="trainer.foundation" placeholder="{{ 'Current Company' | translate }}" />
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label for="" class="mb-0">{{ 'Position' | translate }}</label><br>
                  </div>
                  <div class="col-md-6 error-msg-div">
                    <mdb-error *ngIf="position.errors?.required && position.touched">{{ 'Position' | translate }}
                      {{ 'is required' | translate }}</mdb-error>
                  </div>
                </div>
                <input class="form-control form-control-genrl mb-4" type="text" #position="ngModel" name="position"
                  [(ngModel)]="trainer.position" placeholder="{{ 'Position' | translate }}" />
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label for="" class="mb-0">{{ 'Biography' | translate }}</label><br>
                  </div>
                  <div class="col-md-6 error-msg-div">
                    <mdb-error *ngIf="biography.errors?.required && biography.touched">{{ 'Biography' | translate }}
                      {{ 'is required' | translate }}</mdb-error>
                  </div>
                </div>
                <textarea class="form-control form-control-genrl mb-4" #biography="ngModel" name="biography"
                  [(ngModel)]="trainer.description" placeholder="{{ 'Biography' | translate }}" required></textarea>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label for="" class="mb-0">{{ 'Experience' | translate }}</label><br>
                  </div>
                  <div class="col-md-6 error-msg-div">
                    <mdb-error *ngIf="experience.errors?.required && experience.touched">{{ 'Experience' | translate }}
                      {{ 'is required' | translate }} </mdb-error>
                  </div>
                </div>
                <textarea class="form-control form-control-genrl mb-4" #experience="ngModel" name="experience"
                  [(ngModel)]="trainer.experience" placeholder="{{ 'Experience' | translate }}"></textarea>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-6">
                      <label for="" class="mb-0">{{ 'Demonstration Video' | translate }}</label><br>
                    </div>
                    <div class="col-md-6 error-msg-div">
                      <mdb-error *ngIf="!trainer.demonstration_video.doc">{{ 'Demonstration Video' | translate }}
                        {{ 'is required' | translate }}</mdb-error>
                    </div>
                  </div>
                  <ngx-file-drop dropZoneLabel="Drop files here"
                    (onFileDrop)="droppedVideo($event,'demonstration_video')" (onFileOver)="fileOver($event)"
                    (onFileLeave)="fileLeave($event)" class="upload-demonstration-video">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                      <div *ngIf="trainer.demonstration_video.doc" class="video-uploaded">
                        <vg-player (onPlayerReady)="onPlayerReady($event)">
                          <vg-controls>
                            <vg-play-pause></vg-play-pause>
                            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                            <vg-scrub-bar class="vg-scrub-genrl">
                              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                              <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                            </vg-scrub-bar>
                            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                            <vg-mute></vg-mute>
                            <vg-fullscreen></vg-fullscreen>
                          </vg-controls>
                          <video [vgMedia]="master" #master id="masterVideo" preload="auto" isWaiting="" isCompleted=""
                            autoplay="true" [src]="app_ser.video_url(trainer.demonstration_video.doc)">
                          </video>
                        </vg-player>
                      </div>
                      <button *ngIf="!trainer.demonstration_video.doc" type="button" (click)="openFileSelector()"
                        class="btn-upload-video">{{ 'Upload Video' | translate }} </button>
                      <button *ngIf="trainer.demonstration_video.doc" type="button" (click)="openFileSelector()"
                        class="btn-upload-video"
                        [ngClass]="{'btn-change-video':trainer.demonstration_video.doc}">{{ 'Change Video' | translate }}
                      </button>
                    </ng-template>
                  </ngx-file-drop>
                </div>
                <div class="col-md-8 mt-3">
                  <div class="row">
                    <div class="col-md-6">
                      <label for="" class="mb-0">{{ 'Training Video' | translate }}</label><br>
                    </div>
                    <div class="col-md-6 error-msg-div">
                      <mdb-error *ngIf="!trainer.training_video.doc">{{ 'Training Video' | translate }}
                        {{ 'is required' | translate }}</mdb-error>
                    </div>
                  </div>
                  <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="droppedVideo($event,'training_video')"
                    (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)"
                    class="upload-demonstration-video">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                      <div *ngIf="trainer.training_video.doc" class="video-uploaded">
                        <vg-player (onPlayerReady)="onPlayerReady($event)">
                          <vg-controls>
                            <vg-play-pause></vg-play-pause>
                            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                            <vg-scrub-bar class="vg-scrub-genrl">
                              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                              <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                            </vg-scrub-bar>
                            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                            <vg-mute></vg-mute>
                            <vg-fullscreen></vg-fullscreen>
                          </vg-controls>
                          <video [vgMedia]="master" #master id="masterVideo" preload="auto" isWaiting="" isCompleted=""
                            autoplay="true" [src]="app_ser.video_url(trainer.training_video.doc)">
                          </video>
                        </vg-player>
                      </div>
                      <button *ngIf="!trainer.training_video.doc" type="button" (click)="openFileSelector()"
                        class="btn-upload-video">{{ 'Upload Video' | translate }} </button>
                      <button *ngIf="trainer.training_video.doc" type="button" (click)="openFileSelector()"
                        class="btn-upload-video"
                        [ngClass]="{'btn-change-video':trainer.training_video.doc}">{{ 'Change Video' | translate }}
                      </button>
                    </ng-template>
                  </ngx-file-drop>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6 mt-3">
                    <div class="row">
                      <div class="col-md-6">
                        <label for="" class="mb-0">{{ 'Signature' | translate }}</label><br>
                      </div>
                      <div class="col-md-6 error-msg-div">
                        <mdb-error *ngIf="!trainer.trainer_signature.doc">{{ 'Signature' | translate }}
                          {{ 'is required' | translate }}</mdb-error>
                      </div>
                    </div>
                    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="droppedImage($event,'signature')"
                      (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" class="upload-signature">
                      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        <div class="signature-img-uploaded" *ngIf="trainer.trainer_signature.doc">
                          <img class="img-file" [src]="app_ser.img_url(trainer.trainer_signature.doc,'signature')"
                            alt="">
                        </div>
                        <button *ngIf="!trainer.trainer_signature.doc" type="button" (click)="openFileSelector()"
                          class="btn-upload-signature"> {{ 'Upload Signature Image' | translate }}</button>
                        <button *ngIf="trainer.trainer_signature.doc" type="button" (click)="openFileSelector()"
                          class="btn-change-signature">{{ 'Change Signature Image' | translate }} </button>
                      </ng-template>
                    </ngx-file-drop>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6 mt-3">
                    <div class="row">
                      <div class="col-md-6">
                        <label for="" class="mb-0">{{ 'CV' | translate }}</label><br>
                      </div>
                      <div class="col-md-6 error-msg-div">
                        <mdb-error *ngIf="!trainer.cv.doc">{{ 'CV' | translate }} {{ 'is required' | translate }}
                        </mdb-error>
                      </div>
                    </div>
                    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="droppedFile($event,'cv')"
                      (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" class="upload-cv">
                      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        <!-- <div class="img-uploaded">
                      <img class="img-file" [src]="app_ser.doc_url(trainer.cv.doc,'default')" alt="">
                    </div> -->
                        <div [ngClass]="{'file-name':trainer.cv.doc}">
                          <a *ngIf="trainer.cv.doc" (click)="app_ser.showPdf(trainer.cv.doc)">
                            {{ 'CV' | translate }}</a>
                        </div>
                        <button *ngIf="!trainer.cv.doc" type="button" (click)="openFileSelector()"
                          class="btn-upload-cv">{{ 'Upload CV' | translate }} </button>
                        <button *ngIf="trainer.cv.doc" type="button" (click)="openFileSelector()"
                          [ngClass]="{'btn-update-cv':trainer.cv.doc}">{{ 'Update CV' | translate }} </button>
                      </ng-template>
                    </ngx-file-drop>
                  </div>
                </div>
              </div>
              <!-- <div class="form-group">
                <input type="file" id="file" (change)="onFileSelected()">
                <input type="text" [(ngModel)]="page" id="page">
                <pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block;"></pdf-viewer>
              </div> -->
            </form>
            <!-- FORM END -->
            <!-- BUTTONS CONTINUE AND BACK START -->
            <button mdbBtn size="sm" color="secondary" (click)="stepper.previous()" class="btn-genrl btn-back"><i
                class="far fa-long-arrow-left"></i> {{ 'Back' | translate }}</button>
            <button mdbBtn size="sm" color="primary" (click)="stepper.next(); updateTrainerProfile('experince')"
              class="btn-genrl btn-continue">{{ 'Save'| translate }} <i class="far fa-long-arrow-right"></i></button>
            <!-- BUTTONS CONTINUE AND BACK END -->
          </mdb-step>
          <!-- =============================== STEP 2 - STEP EXPERIENCE AND SKILLS END =============================== -->
          <!-- =============================== STEP 3 - STEP BANK DETAILS START =============================== -->
          <mdb-step name="{{ 'Bank Details'| translate }}" [stepForm]="bankDetail" class="step3">
            <!-- FORM START -->
            <form novalidate #bankDetail="ngForm">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label for="" class="mb-0">{{ 'Bank Name'| translate }}</label><br>
                  </div>
                  <div class="col-md-6 error-msg-div">
                    <mdb-error *ngIf="bankName.errors?.required && bankName.touched">{{ 'Bank Name' | translate }}
                      {{ 'is required' | translate }}</mdb-error>
                  </div>
                </div>
                <input class="form-control form-control-genrl mb-4" type="text" #bankName="ngModel" name="bankName"
                  [(ngModel)]="trainer.bank_details.bank" placeholder="{{ 'Bank Name' | translate }}" />
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label for="" class="mb-0">{{ 'Account Number' | translate }}</label><br>
                  </div>
                  <div class="col-md-6 error-msg-div">
                    <mdb-error *ngIf="accountNumber.errors?.required && accountNumber.touched">
                      {{ 'Account Number' | translate }} {{ 'is required' | translate }}</mdb-error>
                  </div>
                </div>
                <input class="form-control form-control-genrl mb-4" type="text" #accountNumber="ngModel"
                  name="accountNumber" [(ngModel)]="trainer.bank_details.account_number"
                  placeholder="{{ 'Account Number' | translate }}" />
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label for="" class="mb-0">{{ 'IBAN Number' | translate }}</label><br>
                  </div>
                  <div class="col-md-6 error-msg-div">
                    <mdb-error *ngIf="ibanNumber.errors?.required && ibanNumber.touched">{{ 'IBAN Number' | translate }}
                      {{ 'is required' | translate }}</mdb-error>
                  </div>
                </div>
                <input class="form-control form-control-genrl mb-4" type="text" #ibanNumber="ngModel" name="ibanNumber"
                  [(ngModel)]="trainer.bank_details.iban" placeholder="{{ 'IBAN Number' | translate }}" />
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label for="" class="mb-0">{{ 'Swift Code' | translate }}</label><br>
                  </div>
                  <div class="col-md-6 error-msg-div">
                    <mdb-error *ngIf="swiftCode.errors?.required && swiftCode.touched">{{ 'Swift Code' | translate }}
                      {{ 'is required' | translate }}</mdb-error>
                  </div>
                </div>
                <input class="form-control form-control-genrl mb-4" type="text" #swiftCode="ngModel" name="swiftCode"
                  [(ngModel)]="trainer.bank_details.swift_code" placeholder="{{ 'Swift Code' | translate }}" />
              </div>
            </form>
            <!-- FORM END -->
            <!-- BUTTONS CONTINUE AND BACK START -->
            <button mdbBtn size="sm" color="secondary" class="btn-genrl btn-back" (click)="stepper.previous()"><i
                class="far fa-long-arrow-left"></i> {{ 'Back' | translate }}</button>
            <button mdbBtn size="sm" color="primary" class="btn-genrl btn-continue"
              (click)="stepper.next(); updateTrainerProfile('bank')">{{ 'Save' | translate }} <i
                class="far fa-long-arrow-right"></i></button>
            <!-- BUTTONS CONTINUE AND BACK END -->
          </mdb-step>
          <!-- =============================== STEP 3 - STEP BANK DETAILS END =============================== -->
          <!-- =============================== STEP 4 - STEP FINISH START =============================== -->
          <mdb-step name="{{ 'Finish' | translate }}" class="step4">
            <p class="pl-2">{{ 'Do you want to save your data and send it to the Admins for approval?' | translate }}
            </p>
            <!-- BUTTONS SUBMIT AND BACK START -->
            <button mdbBtn size="sm" color="secondary" (click)="stepper.previous()" class="btn-genrl btn-back"><i
                class="far fa-long-arrow-left"></i> {{ 'Back' | translate }}</button>
            <button mdbBtn size="sm" color="primary" (click)="approve()"
              class="btn-genrl btn-submit">{{ 'Ask Approval' | translate }} <i
                class="far fa-long-arrow-right"></i></button>
            <!-- BUTTONS SUBMIT AND BACK END -->
          </mdb-step>
          <!-- =============================== STEP 4 - STEP FINISH END =============================== -->
        </mdb-stepper>
      </div>
    </div>
  </div>
</div>
