/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */
.wrapper-header-dubai-club-ar {


  .container-width {
    max-width: calc(100% - 150px) !important;
    width: calc(100% - 150px) !important;
  }

  .header-dubai-club {
    background: #0e1c24;
    padding: 30px 0 20px;

    .col-kun-logo {
      text-align: left;

      .img-kun-logo {
        width: 180px;
        outline: 0;
      }

      .img-kun-logo:hover {
        cursor: pointer;
      }

      .wrapper-links-header-desktop {
        display: inline-block;
        margin-left: 10px;

        .btn-my-courses {
          .nav-link {
            padding: 0;
            padding-left: 20px;
          }

          background: transparent;
          color: white;
          border: 0;
          outline: 0;
        }

        .btn-go-profile-popup {
          background: transparent;
          color: white;
          border: 0;
          outline: 0;
        }

        .btn-mobile-search {
          background: transparent;
          color: white;
          border: 0;
          outline: 0;
        }

        .btn-go-profile-popup {
          .nav-link-user {
            padding-left: 0;
          }

          .img-user {
            width: 50px;
            height: 50px;
            object-fit: cover;
            object-position: top;
            border-radius: 100px;
            border: 1px solid #01b2a8;
            margin-right: 5px;
          }
        }

        .btn-mobile-signin {
          background: transparent;
          color: white;
          padding: 0;
          border: 0;
          outline: 0;
          margin: 0 5px;



          a {
            padding: 0;
            font-size: 13px;
            font-weight: bold;

            i {
              font-size: 13px;
              font-weight: 500;
            }
          }
        }

        .btn-mobile-signup {
          background: transparent;
          color: white;
          padding: 0;
          border: 0;
          outline: 0;
          margin: 0 5px;

          a {
            padding: 0;
            font-size: 13px;
            font-weight: bold;

            i {
              font-size: 13px;
              font-weight: 500;
            }
          }
        }

        .btn-mobile-search {
          color: white;
          background: transparent;
          border: 0;
          outline: 0;

          a {
            padding: 0;
            font-size: 13px;

            i {
              font-size: 13px;
              font-weight: 500;
            }
          }
        }

        .custom-dropdown-menu {
          right: -120px !important;
          top: 0px !important;
          width: 230px !important;
          padding: 0 !important;
          border: 0;
          border-radius: 10px;
          background: transparent;

          .user-items-dd {
            padding: 8px 25px 6px !important;
            display: block;
            color: #6F6F6F !important;
            -webkit-text-stroke: 0.3px;
            text-align: right;
            direction: rtl;
            border-right: 3px solid transparent;
            transition: 0.3s ease-in-out;

          }

          .user-items-dd:hover {
            color: black !important;
            border-right: 3px solid #00b5a9;
            text-decoration: underline;
            transition: 0.3s ease-in-out;

          }


          .testimonial-card {
            border-radius: 12px;
            background: white;

            .card-up {
              height: 75px;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              background-image: linear-gradient(to right, #00b5a9, #01637f) !important;
            }

            .avatar {
              border-radius: 50%;
              box-shadow: 0px 0px 2px grey;
              width: 80px;
              margin-bottom: 10px;
              overflow: hidden;
              border: 3px solid #fff;

              img {
                width: 80px;
                height: 80px;
                object-fit: cover;
                object-position: top;
              }
            }

            .card-body {
              padding: 20px 0px;
              text-align: left;
              background: white;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
            }
          }
        }
      }
    }

    .col-dubai-club-logo {
      text-align: right;

      .img-dubai-club-logo {
        width: 120px;
      }
    }
  }

  /* ================= MEDIA QUERY START ================= */
  /* Extra Small devices (Mobile phones, max width 575px) */
  @media (max-width:575px) {
    .container-width {
      max-width: 100% !important;
      width: 100% !important;
    }

    .header-dubai-club {
      padding-bottom: 0 !important;

      .col-kun-logo {
        .img-kun-logo {
          width: 100px !important;
        }
      }

      .col-dubai-club-logo {
        .img-dubai-club-logo {
          width: 70px !important;
        }
      }

      .wrapper-links-header-desktop {
        display: none !important;
      }

      .wrapper-links-header-mobile {
        padding: 20px;

        .btn-my-courses {
          .nav-link {
            padding: 0;
            padding-left: 20px;
          }

          background: transparent;
          color: white;
          border: 0;
          outline: 0;
        }

        .btn-go-profile-popup {
          background: transparent;
          color: white;
          border: 0;
          outline: 0;
        }

        .btn-mobile-search {
          background: transparent;
          color: white;
          border: 0;
          outline: 0;
        }

        .btn-go-profile-popup {
          .nav-link-user {
            padding-left: 0;
          }

          .img-user {
            width: 50px;
            height: 50px;
            border-radius: 100px;
            border: 1px solid #01b2a8;
            margin-right: 5px;
          }
        }

        .btn-mobile-signin {
          background: transparent;
          color: white;
          padding: 0;
          border: 0;
          outline: 0;
          margin: 0 5px;



          a {
            padding: 0;
            font-size: 13px;
            font-weight: bold;

            i {
              font-size: 13px;
              font-weight: 500;
            }
          }
        }

        .btn-mobile-signup {
          background: transparent;
          color: white;
          padding: 0;
          border: 0;
          outline: 0;
          margin: 0 5px;

          a {
            padding: 0;
            font-size: 13px;
            font-weight: bold;

            i {
              font-size: 13px;
              font-weight: 500;
            }
          }
        }

        .btn-mobile-search {
          color: white;
          background: transparent;
          border: 0;
          outline: 0;

          a {
            padding: 0;
            font-size: 13px;

            i {
              font-size: 13px;
              font-weight: 500;
            }
          }
        }

        .custom-dropdown-menu {
          right: -120px !important;
          top: 0px !important;
          width: 230px !important;
          padding: 0 !important;
          border: 0;
          border-radius: 10px;
          background: transparent;

          .user-items-dd {
            padding: 8px 25px 6px !important;
            display: block;
            color: #6F6F6F !important;
            -webkit-text-stroke: 0.3px;
            text-align: right;
            direction: rtl;
            border-right: 3px solid transparent;
            transition: 0.3s ease-in-out;

          }

          .user-items-dd:hover {
            color: black !important;
            border-right: 3px solid #00b5a9;
            text-decoration: underline;
            transition: 0.3s ease-in-out;

          }


          .testimonial-card {
            border-radius: 12px;
            background: white;

            .card-up {
              height: 75px;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              background-image: linear-gradient(to right, #00b5a9, #01637f) !important;
            }

            .avatar {
              border-radius: 50%;
              box-shadow: 0px 0px 2px grey;
              width: 80px;
              margin-bottom: 10px;
              overflow: hidden;
              border: 3px solid #fff;
            }

            .card-body {
              padding: 20px 0px;
              text-align: left;
              background: white;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
            }
          }
        }
      }
    }

  }

  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .wrapper-links-header-desktop {
      display: none !important;
    }

    .wrapper-links-header-mobile {
      padding: 20px;

      .btn-my-courses {
        .nav-link {
          padding: 0;
          padding-left: 20px;
        }

        background: transparent;
        color: white;
        border: 0;
        outline: 0;
      }

      .btn-go-profile-popup {
        background: transparent;
        color: white;
        border: 0;
        outline: 0;
      }

      .btn-mobile-search {
        background: transparent;
        color: white;
        border: 0;
        outline: 0;
      }

      .btn-go-profile-popup {
        .nav-link-user {
          padding-left: 0;
        }

        .img-user {
          width: 50px;
          height: 50px;
          border-radius: 100px;
          border: 1px solid #01b2a8;
          margin-right: 5px;
        }
      }

      .btn-mobile-signin {
        background: transparent;
        color: white;
        padding: 0;
        border: 0;
        outline: 0;
        margin: 0 5px;



        a {
          padding: 0;
          font-size: 13px;
          font-weight: bold;

          i {
            font-size: 13px;
            font-weight: 500;
          }
        }
      }

      .btn-mobile-signup {
        background: transparent;
        color: white;
        padding: 0;
        border: 0;
        outline: 0;
        margin: 0 5px;

        a {
          padding: 0;
          font-size: 13px;
          font-weight: bold;

          i {
            font-size: 13px;
            font-weight: 500;
          }
        }
      }

      .btn-mobile-search {
        color: white;
        background: transparent;
        border: 0;
        outline: 0;

        a {
          padding: 0;
          font-size: 13px;

          i {
            font-size: 13px;
            font-weight: 500;
          }
        }
      }

      .custom-dropdown-menu {
        right: -120px !important;
        top: 0px !important;
        width: 230px !important;
        padding: 0 !important;
        border: 0;
        border-radius: 10px;
        background: transparent;

        .user-items-dd {
          padding: 8px 25px 6px !important;
          display: block;
          color: #6F6F6F !important;
          -webkit-text-stroke: 0.3px;
          text-align: right;
          direction: rtl;
          border-right: 3px solid transparent;
          transition: 0.3s ease-in-out;

        }

        .user-items-dd:hover {
          color: black !important;
          border-right: 3px solid #00b5a9;
          text-decoration: underline;
          transition: 0.3s ease-in-out;

        }


        .testimonial-card {
          border-radius: 12px;
          background: white;

          .card-up {
            height: 75px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-image: linear-gradient(to right, #00b5a9, #01637f) !important;
          }

          .avatar {
            border-radius: 50%;
            box-shadow: 0px 0px 2px grey;
            width: 80px;
            margin-bottom: 10px;
            overflow: hidden;
            border: 3px solid #fff;
          }

          .card-body {
            padding: 20px 0px;
            text-align: left;
            background: white;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
      }
    }
  }

  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) and (max-width: 991px) {
    .wrapper-links-header-desktop {
      display: none !important;
    }

    .wrapper-links-header-mobile {
      padding: 20px;

      .btn-my-courses {
        .nav-link {
          padding: 0;
          padding-left: 20px;
        }

        background: transparent;
        color: white;
        border: 0;
        outline: 0;
      }

      .btn-go-profile-popup {
        background: transparent;
        color: white;
        border: 0;
        outline: 0;
      }

      .btn-mobile-search {
        background: transparent;
        color: white;
        border: 0;
        outline: 0;
      }

      .btn-go-profile-popup {
        .nav-link-user {
          padding-left: 0;
        }

        .img-user {
          width: 50px;
          height: 50px;
          border-radius: 100px;
          border: 1px solid #01b2a8;
          margin-right: 5px;
        }
      }

      .btn-mobile-signin {
        background: transparent;
        color: white;
        padding: 0;
        border: 0;
        outline: 0;
        margin: 0 5px;


        a {
          padding: 0;
          font-size: 13px;
          font-weight: bold;

          i {
            font-size: 13px;
            font-weight: 500;
          }
        }
      }

      .btn-mobile-signup {
        background: transparent;
        color: white;
        padding: 0;
        border: 0;
        outline: 0;
        margin: 0 5px;

        a {
          padding: 0;
          font-size: 13px;
          font-weight: bold;

          i {
            font-size: 13px;
            font-weight: 500;
          }
        }
      }

      .btn-mobile-search {
        color: white;
        background: transparent;
        border: 0;
        outline: 0;

        a {
          padding: 0;
          font-size: 13px;

          i {
            font-size: 13px;
            font-weight: 500;
          }
        }
      }

      .custom-dropdown-menu {
        right: -120px !important;
        top: 0px !important;
        width: 230px !important;
        padding: 0 !important;
        border: 0;
        border-radius: 10px;
        background: transparent;

        .user-items-dd {
          padding: 8px 25px 6px !important;
          display: block;
          color: #6F6F6F !important;
          -webkit-text-stroke: 0.3px;
          text-align: right;
          direction: rtl;
          border-right: 3px solid transparent;
          transition: 0.3s ease-in-out;

        }

        .user-items-dd:hover {
          color: black !important;
          border-right: 3px solid #00b5a9;
          text-decoration: underline;
          transition: 0.3s ease-in-out;

        }


        .testimonial-card {
          border-radius: 12px;
          background: white;

          .card-up {
            height: 75px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-image: linear-gradient(to right, #00b5a9, #01637f) !important;
          }

          .avatar {
            border-radius: 50%;
            box-shadow: 0px 0px 2px grey;
            width: 80px;
            margin-bottom: 10px;
            overflow: hidden;
            border: 3px solid #fff;
          }

          .card-body {
            padding: 20px 0px;
            text-align: left;
            background: white;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
      }
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1499px) {
    .wrapper-links-header-desktop {
      display: inline-block !important;
    }
  }



  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1500px) and (max-width: 3000px) {
    .wrapper-links-header-desktop {
      display: inline-block !important;
    }
  }

  /* ================= MEDIA QUERY END ================= */

}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */

.wrapper-header-dubai-club-en {

  .container-width {
    max-width: calc(100% - 150px) !important;
    width: calc(100% - 150px) !important;
  }

  .header-dubai-club {
    background: #0e1c24;
    padding: 30px 0 20px;

    .col-kun-logo {
      text-align: left;

      .img-kun-logo {
        width: 180px;
        outline: 0;
      }

      .img-kun-logo:hover {
        cursor: pointer;
      }

      .wrapper-links-header-desktop {
        display: inline-block;
        margin-left: 10px;

        .btn-my-courses {
          .nav-link {
            padding: 0;
            padding-left: 20px;
          }

          background: transparent;
          color: white;
          border: 0;
          outline: 0;
        }

        .btn-go-profile-popup {
          background: transparent;
          color: white;
          border: 0;
          outline: 0;
        }

        .btn-mobile-search {
          background: transparent;
          color: white;
          border: 0;
          outline: 0;
        }

        .btn-go-profile-popup {
          .nav-link-user {
            padding-left: 0;
          }

          .img-user {
            width: 50px;
            height: 50px;
            object-fit: cover;
            object-position: top;
            border-radius: 100px;
            border: 1px solid #01b2a8;
            margin-right: 5px;
          }
        }

        .btn-mobile-signin {
          background: transparent;
          color: white;
          padding: 0;
          border: 0;
          outline: 0;
          margin: 0 5px;



          a {
            padding: 0;
            font-size: 13px;
            font-weight: bold;

            i {
              font-size: 13px;
              font-weight: 500;
            }
          }
        }

        .btn-mobile-signup {
          background: transparent;
          color: white;
          padding: 0;
          border: 0;
          outline: 0;
          margin: 0 5px;

          a {
            padding: 0;
            font-size: 13px;
            font-weight: bold;

            i {
              font-size: 13px;
              font-weight: 500;
            }
          }
        }

        .btn-mobile-search {
          color: white;
          background: transparent;
          border: 0;
          outline: 0;

          a {
            padding: 0;
            font-size: 13px;

            i {
              font-size: 13px;
              font-weight: 500;
            }
          }
        }

        .custom-dropdown-menu {
          right: -120px !important;
          top: 0px !important;
          width: 230px !important;
          padding: 0 !important;
          border: 0;
          border-radius: 10px;
          background: transparent;

          .user-items-dd {
            padding: 8px 25px 6px !important;
            display: block;
            color: #6F6F6F !important;
            -webkit-text-stroke: 0.3px;
            text-align: right;
            direction: rtl;
            border-right: 3px solid transparent;
            transition: 0.3s ease-in-out;

          }

          .user-items-dd:hover {
            color: black !important;
            border-right: 3px solid #00b5a9;
            text-decoration: underline;
            transition: 0.3s ease-in-out;

          }


          .testimonial-card {
            border-radius: 12px;
            background: white;

            .card-up {
              height: 75px;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              background-image: linear-gradient(to right, #00b5a9, #01637f) !important;
            }

            .avatar {
              border-radius: 50%;
              box-shadow: 0px 0px 2px grey;
              width: 80px;
              margin-bottom: 10px;
              overflow: hidden;
              border: 3px solid #fff;

              img {
                width: 80px;
                height: 80px;
                object-fit: cover;
                object-position: top;
              }
            }

            .card-body {
              padding: 20px 0px;
              text-align: left;
              background: white;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
            }
          }
        }
      }
    }

    .col-dubai-club-logo {
      text-align: right;

      .img-dubai-club-logo {
        width: 120px;
      }
    }
  }

  /* ================= MEDIA QUERY START ================= */
  /* Extra Small devices (Mobile phones, max width 575px) */
  @media (max-width:575px) {
    .container-width {
      max-width: 100% !important;
      width: 100% !important;
    }

    .header-dubai-club {
      padding-bottom: 0 !important;

      .col-kun-logo {
        .img-kun-logo {
          width: 100px !important;
        }
      }

      .col-dubai-club-logo {
        .img-dubai-club-logo {
          width: 70px !important;
        }
      }

      .wrapper-links-header-desktop {
        display: none !important;
      }

      .wrapper-links-header-mobile {
        padding: 20px;

        .btn-my-courses {
          .nav-link {
            padding: 0;
            padding-left: 20px;
          }

          background: transparent;
          color: white;
          border: 0;
          outline: 0;
        }

        .btn-go-profile-popup {
          background: transparent;
          color: white;
          border: 0;
          outline: 0;
        }

        .btn-mobile-search {
          background: transparent;
          color: white;
          border: 0;
          outline: 0;
        }

        .btn-go-profile-popup {
          .nav-link-user {
            padding-left: 0;
          }

          .img-user {
            width: 50px;
            height: 50px;
            border-radius: 100px;
            border: 1px solid #01b2a8;
            margin-right: 5px;
          }
        }

        .btn-mobile-signin {
          background: transparent;
          color: white;
          padding: 0;
          border: 0;
          outline: 0;
          margin: 0 5px;



          a {
            padding: 0;
            font-size: 13px;
            font-weight: bold;

            i {
              font-size: 13px;
              font-weight: 500;
            }
          }
        }

        .btn-mobile-signup {
          background: transparent;
          color: white;
          padding: 0;
          border: 0;
          outline: 0;
          margin: 0 5px;

          a {
            padding: 0;
            font-size: 13px;
            font-weight: bold;

            i {
              font-size: 13px;
              font-weight: 500;
            }
          }
        }

        .btn-mobile-search {
          color: white;
          background: transparent;
          border: 0;
          outline: 0;

          a {
            padding: 0;
            font-size: 13px;

            i {
              font-size: 13px;
              font-weight: 500;
            }
          }
        }

        .custom-dropdown-menu {
          right: -120px !important;
          top: 0px !important;
          width: 230px !important;
          padding: 0 !important;
          border: 0;
          border-radius: 10px;
          background: transparent;

          .user-items-dd {
            padding: 8px 25px 6px !important;
            display: block;
            color: #6F6F6F !important;
            -webkit-text-stroke: 0.3px;
            text-align: right;
            direction: rtl;
            border-right: 3px solid transparent;
            transition: 0.3s ease-in-out;

          }

          .user-items-dd:hover {
            color: black !important;
            border-right: 3px solid #00b5a9;
            text-decoration: underline;
            transition: 0.3s ease-in-out;

          }


          .testimonial-card {
            border-radius: 12px;
            background: white;

            .card-up {
              height: 75px;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              background-image: linear-gradient(to right, #00b5a9, #01637f) !important;
            }

            .avatar {
              border-radius: 50%;
              box-shadow: 0px 0px 2px grey;
              width: 80px;
              margin-bottom: 10px;
              overflow: hidden;
              border: 3px solid #fff;
            }

            .card-body {
              padding: 20px 0px;
              text-align: left;
              background: white;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
            }
          }
        }
      }
    }

  }

  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .wrapper-links-header-desktop {
      display: none !important;
    }

    .wrapper-links-header-mobile {
      padding: 20px;

      .btn-my-courses {
        .nav-link {
          padding: 0;
          padding-left: 20px;
        }

        background: transparent;
        color: white;
        border: 0;
        outline: 0;
      }

      .btn-go-profile-popup {
        background: transparent;
        color: white;
        border: 0;
        outline: 0;
      }

      .btn-mobile-search {
        background: transparent;
        color: white;
        border: 0;
        outline: 0;
      }

      .btn-go-profile-popup {
        .nav-link-user {
          padding-left: 0;
        }

        .img-user {
          width: 50px;
          height: 50px;
          border-radius: 100px;
          border: 1px solid #01b2a8;
          margin-right: 5px;
        }
      }

      .btn-mobile-signin {
        background: transparent;
        color: white;
        padding: 0;
        border: 0;
        outline: 0;
        margin: 0 5px;



        a {
          padding: 0;
          font-size: 13px;
          font-weight: bold;

          i {
            font-size: 13px;
            font-weight: 500;
          }
        }
      }

      .btn-mobile-signup {
        background: transparent;
        color: white;
        padding: 0;
        border: 0;
        outline: 0;
        margin: 0 5px;

        a {
          padding: 0;
          font-size: 13px;
          font-weight: bold;

          i {
            font-size: 13px;
            font-weight: 500;
          }
        }
      }

      .btn-mobile-search {
        color: white;
        background: transparent;
        border: 0;
        outline: 0;

        a {
          padding: 0;
          font-size: 13px;

          i {
            font-size: 13px;
            font-weight: 500;
          }
        }
      }

      .custom-dropdown-menu {
        right: -120px !important;
        top: 0px !important;
        width: 230px !important;
        padding: 0 !important;
        border: 0;
        border-radius: 10px;
        background: transparent;

        .user-items-dd {
          padding: 8px 25px 6px !important;
          display: block;
          color: #6F6F6F !important;
          -webkit-text-stroke: 0.3px;
          text-align: right;
          direction: rtl;
          border-right: 3px solid transparent;
          transition: 0.3s ease-in-out;

        }

        .user-items-dd:hover {
          color: black !important;
          border-right: 3px solid #00b5a9;
          text-decoration: underline;
          transition: 0.3s ease-in-out;

        }


        .testimonial-card {
          border-radius: 12px;
          background: white;

          .card-up {
            height: 75px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-image: linear-gradient(to right, #00b5a9, #01637f) !important;
          }

          .avatar {
            border-radius: 50%;
            box-shadow: 0px 0px 2px grey;
            width: 80px;
            margin-bottom: 10px;
            overflow: hidden;
            border: 3px solid #fff;
          }

          .card-body {
            padding: 20px 0px;
            text-align: left;
            background: white;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
      }
    }
  }

  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) and (max-width: 991px) {
    .wrapper-links-header-desktop {
      display: none !important;
    }

    .wrapper-links-header-mobile {
      padding: 20px;

      .btn-my-courses {
        .nav-link {
          padding: 0;
          padding-left: 20px;
        }

        background: transparent;
        color: white;
        border: 0;
        outline: 0;
      }

      .btn-go-profile-popup {
        background: transparent;
        color: white;
        border: 0;
        outline: 0;
      }

      .btn-mobile-search {
        background: transparent;
        color: white;
        border: 0;
        outline: 0;
      }

      .btn-go-profile-popup {
        .nav-link-user {
          padding-left: 0;
        }

        .img-user {
          width: 50px;
          height: 50px;
          border-radius: 100px;
          border: 1px solid #01b2a8;
          margin-right: 5px;
        }
      }

      .btn-mobile-signin {
        background: transparent;
        color: white;
        padding: 0;
        border: 0;
        outline: 0;
        margin: 0 5px;


        a {
          padding: 0;
          font-size: 13px;
          font-weight: bold;

          i {
            font-size: 13px;
            font-weight: 500;
          }
        }
      }

      .btn-mobile-signup {
        background: transparent;
        color: white;
        padding: 0;
        border: 0;
        outline: 0;
        margin: 0 5px;

        a {
          padding: 0;
          font-size: 13px;
          font-weight: bold;

          i {
            font-size: 13px;
            font-weight: 500;
          }
        }
      }

      .btn-mobile-search {
        color: white;
        background: transparent;
        border: 0;
        outline: 0;

        a {
          padding: 0;
          font-size: 13px;

          i {
            font-size: 13px;
            font-weight: 500;
          }
        }
      }

      .custom-dropdown-menu {
        right: -120px !important;
        top: 0px !important;
        width: 230px !important;
        padding: 0 !important;
        border: 0;
        border-radius: 10px;
        background: transparent;

        .user-items-dd {
          padding: 8px 25px 6px !important;
          display: block;
          color: #6F6F6F !important;
          -webkit-text-stroke: 0.3px;
          text-align: right;
          direction: rtl;
          border-right: 3px solid transparent;
          transition: 0.3s ease-in-out;

        }

        .user-items-dd:hover {
          color: black !important;
          border-right: 3px solid #00b5a9;
          text-decoration: underline;
          transition: 0.3s ease-in-out;

        }


        .testimonial-card {
          border-radius: 12px;
          background: white;

          .card-up {
            height: 75px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-image: linear-gradient(to right, #00b5a9, #01637f) !important;
          }

          .avatar {
            border-radius: 50%;
            box-shadow: 0px 0px 2px grey;
            width: 80px;
            margin-bottom: 10px;
            overflow: hidden;
            border: 3px solid #fff;
          }

          .card-body {
            padding: 20px 0px;
            text-align: left;
            background: white;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
      }
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1499px) {
    .wrapper-links-header-desktop {
      display: inline-block !important;
    }
  }



  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1500px) and (max-width: 3000px) {
    .wrapper-links-header-desktop {
      display: inline-block !important;
    }
  }

  /* ================= MEDIA QUERY END ================= */

}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */
