/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */
.wrapper-about-lang-ar {
  direction: rtl;
  text-align: right;

  /* ================================== STYLES APP VIDEO START ================================== */
  .wrapper-app-video {
    position: relative;
    margin: 40px 0;
    // z-index: 999999;

    vg-player {
      // border-bottom-left-radius: 50px;
      // border-bottom-right-radius: 10px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

      vg-overlay-play.video-big-play-icon {
        .vg-icon-play_arrow:before {
          font-family: "Font Awesome 5 Pro";
          content: "\f144";
          display: inline-block;
          padding-right: 3px;
          vertical-align: middle;
          font-weight: 200;
          color: #00b5a9;
          z-index: 999999;
        }

        .vg-icon-play_arrow:before:hover {
          cursor: pointer;
        }
      }

      vg-controls {
        padding: 0 20px;

        vg-scrub-bar .scrubBar {
          box-shadow: 0 0 0 0;
          outline: 0;
        }
      }
    }
  }

  /* ================================== STYLES APP VIDEO END ================================== */

}

/* ======================================================================================
  *****************************************************************************************
  =========================================================================================
  ARABIC STYLE END
  =========================================================================================
  *****************************************************************************************
  ====================================================================================== */


/* ======================================================================================
  *****************************************************************************************
  =========================================================================================
  ENGLISH STYLE START
  =========================================================================================
  *****************************************************************************************
  ====================================================================================== */
.wrapper-about-lang-en {
  direction: ltr;
  text-align: left;

  /* ================================== STYLES APP VIDEO START ================================== */
  .wrapper-app-video {
    position: relative;
    margin: 40px 0;
    // z-index: 999999;

    vg-player {
      // border-bottom-left-radius: 50px;
      // border-bottom-right-radius: 10px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

      vg-overlay-play.video-big-play-icon {
        .vg-icon-play_arrow:before {
          font-family: "Font Awesome 5 Pro";
          content: "\f144";
          display: inline-block;
          padding-right: 3px;
          vertical-align: middle;
          font-weight: 200;
          color: #00b5a9;
          z-index: 999999;
        }

        .vg-icon-play_arrow:before:hover {
          cursor: pointer;
        }
      }

      vg-controls {
        padding: 0 20px;

        vg-scrub-bar .scrubBar {
          box-shadow: 0 0 0 0;
          outline: 0;
        }
      }
    }
  }

  /* ================================== STYLES APP VIDEO END ================================== */


}

/* ======================================================================================
  *****************************************************************************************
  =========================================================================================
  ENGLISH STYLE END
  =========================================================================================
  *****************************************************************************************
  ====================================================================================== */




.container-about-us {
  max-width: calc(100% - 200px);
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.img-about-us {
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.style-text {
  font-size: 18px;
}

.ttm-page-title-row {
  display: block;
  padding-top: 200px;
  padding-bottom: 135px;
  z-index: 11;
  position: relative;
  background-image: url(../../../../../assets/images/img-slider.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 500px;

  .ttm-bg-layer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #00b4a933;
  }

  .title-box .page-title-heading h1 {

    font-weight: 600;
    font-size: 73px;
    line-height: 50px;
    color: #fff;
    padding-left: 20px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 100px;
    text-shadow: 3px 3px 5px black;
  }
}

.container-about-us-features {
  margin-top: 100px;
  margin-bottom: 100px;



  .wrap-about-boxes {
    color: white;
    background-image: linear-gradient(45deg, #00b5a9, #01637f);
    min-height: 405px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 50px 20px;

    i {
      font-size: 40px;
      margin-bottom: 20px;
    }

    .title-about-features {
      font-size: 32px;
    }

    p {
      font-size: 20px;
    }
  }
}


@media (max-width: 575px) {
  .container-about-us {
    max-width: 100%;
  }

  .img-about-us {
    border-radius: 10px !important;
  }

  .ttm-page-title-row .title-box .page-title-heading h1 {
    font-size: 50px !important;
  }

  .container-about-us-features .wrap-about-boxes {
    border-radius: 10px !important;
    min-height: 350px;
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .container-about-us {
    max-width: calc(100% - 50px);
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container-about-us {
    max-width: calc(100% - 80px);
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .container-about-us {
    max-width: calc(100% - 150px);
  }
}

@media (min-width: 1200px) {
  .container-about-us {
    max-width: calc(100% - 200px);
  }
}
