<div [ngClass]="langStyle">
  <div class="wrap-about-banner">
    <!-- <img src="../../../../../assets/images/img-slider.jpg" alt="" class="img-fluid">   -->
    <div class="ttm-page-title-row">
      <div class="ttm-page-title-row-bg-layer ttm-bg-layer"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-box ttm-textcolor-white">
              <div class="page-title-heading">
                <h1 class="title">{{'About Us' | translate}}</h1>
              </div><!-- /.page-title-captions -->
            </div>
          </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div>
  </div>
  <div class="container-about-us">
    <!-- <div class="wrapper-app-video">
      <div class="row row-app-video">
        <div class="col-md-12 p-0">
          <vg-player *ngIf="load_data.app_video">
            <vg-overlay-play vgFor="masterVideo" class="video-big-play-icon">
            </vg-overlay-play>
            <vg-controls>
              <vg-play-pause></vg-play-pause>
              <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
              </vg-scrub-bar>
              <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
              <vg-mute></vg-mute>
              <vg-volume vgFor="masterVideo"></vg-volume>
              <vg-fullscreen></vg-fullscreen>
            </vg-controls>
            <video [vgMedia]="master" #master id="masterVideo" preload="auto" autoplay="true"
              [src]="app_ser.video_url(load_data.app_video, load_data.video_derivation,'q_720')">
            </video>
          </vg-player>
        </div>
      </div>
    </div> -->
    <div class="row" style="margin: 100px 0">
      <div class="col-md-6">
        <p class="style-text">{{'about_p1' | translate}}</p>
        <p class="style-text">{{'about_p2' | translate}}</p>
        <p class="style-text">{{'about_p3' | translate}}</p>
        <!-- <p>ستتيح كن أكاديمي لأي مدرب يرغب في نشر علمه أن يضيف دورته من خلال لوحة التحكم الخاصة به ويرفع دورته الخاصة. كن
          أكاديمي تدعو جميع المدربين من كل أنحاء العالم لإضافة محتوى دوراتهم على منصتها بالإضافة إلى المنصات الأخرى
          والشركات ومراكز التدريب العالمية والمحلية بمشاركة كن أكاديمي بدءا من أكاديمية فوكس التي ستشارك على المنصة
          بدوراتها الإعلامية الغنية عن التعريف.</p> -->
        <p class="style-text">{{'about_p4' | translate}}</p>
      </div>
      <div class="col-md-6">
        <img src="../../../../../assets/images/kum-home-about-us.jpg" alt="" class="img-fluid img-about-us">
      </div>
    </div>
  </div>
</div>
<div class="container container-about-us-features">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center mb-5">{{'about_big_text_center'|translate}}</h1>
    </div>
    <div class="col-md-4 text-center">
      <div class="wrap-about-boxes">
        <i class="fal fa-school"></i>
        <h5 class="title-about-features">{{'heading_platform_everyone'|translate}}</h5>
        <p>{{'content_platform_everyone'|translate}}</p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="wrap-about-boxes">
        <i class="fal fa-briefcase"></i>
        <h5 class="title-about-features">{{'heading_graduation_projects' | translate}}</h5>
        <p>{{'content_graduation_projects' | translate}}</p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="wrap-about-boxes">
        <i class="fal fa-user-graduate"></i>
        <h5 class="title-about-features">{{'heading_our_graduates' | translate}}</h5>
        <p>{{'content_our_graduates' | translate}}</p>
      </div>
    </div>
  </div>
</div>
