<div [ngClass]="langStyle">
  <div class="wrap-about-banner">
    <!-- <img src="../../../../../assets/images/img-slider.jpg" alt="" class="img-fluid">   -->
    <div class="ttm-page-title-row">
      <div class="ttm-page-title-row-bg-layer ttm-bg-layer"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-box ttm-textcolor-white">
              <div class="page-title-heading">
                <h1 class="title">{{'About Us' | translate}}</h1>
              </div><!-- /.page-title-captions -->
            </div>
          </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div>
  </div>
  <div class="container-about-us">
    <!-- <div class="wrapper-app-video">
      <div class="row row-app-video">
        <div class="col-md-12 p-0">
          <vg-player *ngIf="load_data.app_video">
            <vg-overlay-play vgFor="masterVideo" class="video-big-play-icon">
            </vg-overlay-play>
            <vg-controls>
              <vg-play-pause></vg-play-pause>
              <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
              </vg-scrub-bar>
              <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
              <vg-mute></vg-mute>
              <vg-volume vgFor="masterVideo"></vg-volume>
              <vg-fullscreen></vg-fullscreen>
            </vg-controls>
            <video [vgMedia]="master" #master id="masterVideo" preload="auto" autoplay="true"
              [src]="app_ser.video_url(load_data.app_video, load_data.video_derivation,'q_720')">
            </video>
          </vg-player>
        </div>
      </div>
    </div> -->
    <div class="row" style="margin: 100px 0">
      <div class="col-md-6">
        <p class="style-text">أكاديمية كُن هي المنصة الأولى عربياً التي تقدم التدريب عبر الإنترنت بطريقة مختلفة تتحدى
          التكنولوجيا الحديثة وجميع أساليب وتقنيات التدريب الحديثة. أكاديمية كُن تقدم العديد من أشكال التدريب كالتدريب
          التقليدي الذي يعتمد على الفيديو وعلى النصوص المصورة ولأول مرة ستقدم أكاديمية كُن تقنية التدريب التفاعلي
          باستخدام الأدوات التفاعلية التي تم تطويرها باستخدام الذكاء الاصطناعي، مما يساعد المستخدم بالتفاعل مع المدرب
          مباشرة</p>
        <p class="style-text">أكاديمية كُن ثورة في مجال التدرييب والتطوير تقدم دورات الماستر كلاس والتي ينقل فيها مشاهير
          الوطن العربي تجربتهم الحقيقية عبر منصة كُن. وبشكل مميز ولأول مرة تقدم أكاديمية كُن دورات مدبلجة لعدة لغات
          كاللغة العربية والتركية والفارسية والأوردو، أصبح الآن ممكناُ لجميع المدربين العالميين تقديم دوراتهم مدبلجة
          بالصوت الذي يطابق صوتهم وشخصيتهم التدريبية عبر أكاديمية كُن.رابعا الدورات المدبلجة وهذه خاصية تسمح للطالب أن
          يحضر الدورات مترجمة للغات المطروحة على المنصة.تقدم أكاديمية كُن للمشاهد كتب مسموعة وكتب مصورة لعشاق الكتب.
          خامسا تدريب البث المباشر مع أفضل المدربين عالمياً وأكثرهم مبيعاً</p>
        <p class="style-text">فريق البحث لدينا قام بالبحث عن أفضل وأحدث التقنيات للتدريب عن بعد وأفضل الدورات التدريبية
          العالمية الذي يقدمها أمهر وأكثر المدربين مبيعاً على مستوى العالم الذين لا يقدمون فقط محتوى بل أيضاً يقدمون
          المهارات التدريبية لطلاب العلم. قمنا بتطوير خاصية التفاعلية ليتمكن الطالب بالتواجد مع المدرب عن بعد، أصبح الآن
          بإمكان الطالب بالتفاعل مع المدرب عن طريق الأسئلة المفتوحة، الخيارات المتعددة، التوصيل بين الكلمات، الترتيب،
          تسجيل الفيديو، تسجيل صوتي، القراءة من الملقن الآلي، رفع ملفات والمزيد. صممت المنصة لتكون سهلة للمستخدم
          وللطالب، فبإمكان الطالب من خلال المنصة أن يبحث عن الدورة التي يرغب في الاشتراك بها إما عن طريق الشكل التدريبي
          للدورات أو عن طريق التخصصات الموجودة كالإعلام وإدارة الأعمال، والمحاسبة والتسويق والسوشيال ميديا والقيادة
          والتصميم، والتطوير الشخصي والفن والفاشن والذكاء الاصطناعي وتكنولوجيا المعلومات والبرمجة والعديد من التخصصات
          المختلفة </p>
        <!-- <p>ستتيح كن أكاديمي لأي مدرب يرغب في نشر علمه أن يضيف دورته من خلال لوحة التحكم الخاصة به ويرفع دورته الخاصة. كن
          أكاديمي تدعو جميع المدربين من كل أنحاء العالم لإضافة محتوى دوراتهم على منصتها بالإضافة إلى المنصات الأخرى
          والشركات ومراكز التدريب العالمية والمحلية بمشاركة كن أكاديمي بدءا من أكاديمية فوكس التي ستشارك على المنصة
          بدوراتها الإعلامية الغنية عن التعريف.</p> -->
        <p class="style-text">توفر أكاديمية كُن برامج تدريبية عبر منصتها وعبر تطبيق الهاتف مخصصة للأفراد وللمؤسسات لغرض
          التدريب والتطوير. وتمنح أكاديمية كُن شهادات لخريجيها تساعدهم على الالتحاق بسوق العمل وهي بمثابة بطاقة عبور
          لمستقبلهم حيث ستتيح لهم فرص عمل أوسع في أي مجال كان</p>
      </div>
      <div class="col-md-6">
        <img src="../../../../../assets/images/kum-home-about-us.jpg" alt="" class="img-fluid img-about-us">
      </div>
    </div>
  </div>
</div>
<div class="container container-about-us-features">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center mb-5">احصل على أفضل الدورات عبر الإنترنت من الخبراء</h1>
    </div>
    <div class="col-md-4 text-center">
      <div class="wrap-about-boxes">
        <i class="fal fa-school"></i>
        <h5 class="title-about-features">منصة للجميع</h5>
        <p>من خلال منصة كن أكاديمي سيصبح بإمكان المؤسسات أن تستعير بتكنولوجيا البرمجية لتقوم بعرض دورات كن التفاعلية على
          منصتها.</p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="wrap-about-boxes">
        <i class="fal fa-briefcase"></i>
        <h5 class="title-about-features">مشاريع التخرج</h5>
        <p>ستعرض مشاريع تخرج الطلاب على حساباتهم على المنصة لمشاركة الجميع المشاريع وأن يصبح لكل واحد سيرة ذاتية خاصة
          بأعماله عبر المنصة. مشاريع التخرج هذه ستلقي الضوء على الخريجين المتميزين.</p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="wrap-about-boxes">
        <i class="fal fa-user-graduate"></i>
        <h5 class="title-about-features">خريجينا</h5>
        <p>ستستهدف كن أكاديمي جميع الأعمال والمهن والحرف المطلوبة على مستوى العالم العربي كالنجارة والتجارة والإعلام
          وتكنولوجيا المعلومات والذكاء الاصطناعي.</p>
      </div>
    </div>
  </div>
</div>
