/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */
.lang-site-main-ar {
  direction: rtl;
  text-align: right;

  #footer-dubai-club {
    .government-dubai-logo {
      padding: 25px 0 30px 0;
      border-top: 1px solid #ececec;

      .container-width {
        max-width: calc(100% - 150px) !important;
        width: calc(100% - 150px) !important;

        .col-dubai-gov-logo {
          text-align: right;
        }

        .col-text-dubai-gov {
          text-align: left;
        }
      }

      .img-logo-gevernment-dubai {
        width: 200px;
      }

    }

    .footer-dubai-club-copyright {
      background: #0e1d24;
      color: white;
      padding: 30px;

      p {
        margin-bottom: 10px !important;

        .link-style-footer-genrl {
          outline: 0;
          box-shadow: 0 0 0 0;
          margin-bottom: 10px;
        }

        .link-style-footer-genrl:hover {
          cursor: pointer;
          color: #00b5a9;
          text-decoration: underline;
        }
      }

      .icon-dot {
        font-size: 4px;
        margin: 0 10px;
      }

      .text-footer-dubai-club {
        text-align: center;
      }
    }

  }

  /* ================= MEDIA QUERY START ================= */
  /* Extra Small devices (Mobile phones, max width 575px) */
  @media (max-width:575px) {
    #footer-dubai-club {
      .government-dubai-logo {
        text-align: center !important;

        .img-logo-gevernment-dubai {
          width: 200px;
          display: block;
          margin: 0 auto;
        }

        .col-text-dubai-gov {
          text-align: center !important;
        }
      }
    }
  }

  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767px) {
    #footer-dubai-club {
      .government-dubai-logo {
        text-align: center;

        .col-text-dubai-gov {
          text-align: center !important;
        }

        .img-logo-gevernment-dubai {
          width: 200px;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }

  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) and (max-width: 991px) {}

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1499px) {}



  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1500px) and (max-width: 3000px) {}

  /* ================= MEDIA QUERY END ================= */
}


/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */


/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */

.lang-site-main-en {
  direction: ltr;
  text-align: left;

  #footer-dubai-club {
    .government-dubai-logo {
      padding: 25px 0 30px 0;
      border-top: 1px solid #ececec;

      .container-width {
        max-width: calc(100% - 150px) !important;
        width: calc(100% - 150px) !important;

        .col-dubai-gov-logo {
          text-align: right;
        }

        .col-text-dubai-gov {
          text-align: left;
        }
      }

      .img-logo-gevernment-dubai {
        width: 200px;
      }

    }

    .footer-dubai-club-copyright {
      background: #0e1d24;
      color: white;
      padding: 30px;

      p {
        margin-bottom: 0 !important;
      }

      .text-footer-dubai-club {
        text-align: center;
      }
    }

  }

  /* ================= MEDIA QUERY START ================= */
  /* Extra Small devices (Mobile phones, max width 575px) */
  @media (max-width:575px) {
    #footer-dubai-club {
      .government-dubai-logo {
        text-align: center !important;

        .img-logo-gevernment-dubai {
          width: 200px;
          display: block;
          margin: 0 auto;
        }

        .col-text-dubai-gov {
          text-align: center !important;
        }
      }
    }
  }

  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767px) {
    #footer-dubai-club {
      .government-dubai-logo {
        text-align: center;

        .col-text-dubai-gov {
          text-align: center !important;
        }

        .img-logo-gevernment-dubai {
          width: 200px;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }

  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) and (max-width: 991px) {}

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1499px) {}



  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1500px) and (max-width: 3000px) {}

  /* ================= MEDIA QUERY END ================= */
}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */
