<app-header *ngIf="headerShow"></app-header>
<!-- <app-header-dubai-club></app-header-dubai-club> -->
<router-outlet></router-outlet>
<!-- <div [ngClass]="langStyle">
  <footer id="footer-dubai-club">
    <div class="government-dubai-logo">
      <div class="container container-width">
        <div class="row align-items-center">
          <div class="col-md-6 col-dubai-gov-logo">
            <img src="../../assets/images/government-of-dubai-vector-logo.png" alt=""
              class="img-fluid img-logo-gevernment-dubai">
          </div>
          <div class="col-md-6 col-text-dubai-gov">
            <p style="font-weight: bold;" class="mb-0">مقدمة من المكتب التنفيذي لحكومة دبي - نادي دبي للصحافة</p>
          </div>
        </div>
      </div>
    </div>
    <section class="footer-dubai-club-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="text-center"> <span routerLink="/"
                class="link-style-footer-genrl">{{'Home Page' | translate}}</span> <i
                class="fas fa-circle icon-dot"></i> <span routerLink="/about"
                class="link-style-footer-genrl">{{'About Us' | translate}}</span> <i class="fas fa-circle icon-dot"></i>
              <span routerLink="/contact" class="link-style-footer-genrl">{{'Contact Us' | translate}}</span></p>
            <p class="text-footer-copyright text-center"> 2020 © . علامة كن أكاديمي التجارية وجميع الحقوق محفوظة</p>
          </div>
        </div>
      </div>
    </section>
  </footer>
</div> -->
<app-footer *ngIf="footerShow"></app-footer>
