<div [ngClass]="langStyle">
  <section id="trainerCourses">
    <!-- Breadcrumbs start  -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb custom-breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/trainer"><i class="fal fa-home-lg-alt"></i>
            {{'Home' | translate}}</a></li>
        <li class="breadcrumb-item active">{{'Corrections' | translate}}</li>
      </ol>
    </nav>
    <!-- Breadcrumbs End  -->
    <!-- Top Area Start -->
    <div class="wrapper-top-area">
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8">
          <!-- <div class="wrapper-search-filter">
            <mdb-card>
              <mdb-card-body>
                <form class="form-search">

                  <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-12">
                      <mdb-select class="template-dd" [options]="templateList" placeholder="Search by Templates">
                      </mdb-select>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6">
                      <mdb-select class="category-dd" [options]="categoriesList" placeholder="Search by Category">
                      </mdb-select>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12">
                      <div class="md-form input-group search-input-group">
                        <input class="form-control my-0 py-0 search-input" type="text" placeholder="Search" />
                        <div class="input-group-btn">
                          <button mdbBtn color="primary" class="px-2 waves-effect waves-light btn-search"
                            mdbWavesEffect>
                            <mdb-icon fas icon="search"></mdb-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                </form>
              </mdb-card-body>
            </mdb-card>
          </div> -->
        </div>
      </div>
    </div>
    <!-- Top Area End -->
    <!-- Course Grid Start -->
    <div class="wrapper-courses-list">
      <mdb-card cascade="true" narrower="true" [ngClass]="{ 'z-depth-0': !shadows }">
        <div class="px-4">
          <div class="table-wrapper">
            <!--Table-->
            <table class="table table-hover mb-0 table-trainer-courses">
              <!--Table head-->
              <thead>
                <tr>
                  <th class="th-lg">
                    <a>#</a>
                  </th>
                  <th class="th-lg">
                    <a (click)="sortBy('id')">{{'Id' | translate}} <i class="far fa-sort-circle"></i>
                    </a>
                  </th>
                  <th class="th-lg">
                    <a (click)="sortBy('name')">{{'Student Name'|translate}} <i class="far fa-sort-circle"></i>
                    </a>
                  </th>
                  <th class="th-lg">
                    <a (click)="sortBy('answers_count')">{{'Pending Questions' | translate}} <i
                        class="far fa-sort-circle"></i>
                    </a>
                  </th>
                </tr>
              </thead>
              <!--Table head-->
              <!--Table body-->
              <tbody>
                <tr *ngFor="let student of students; let i=index" class="tr-hover">
                  <td>{{i+1}}</td>
                  <td>{{student.id}}</td>
                  <td class="td-student-name" (click)="corrections(student.id)">{{student.name}}</td>
                  <td>{{student.answers_count}}</td>
                </tr>
              </tbody>
              <!--Table body-->
            </table>
            <!--Table-->
          </div>
          <hr class="my-0" />
          <!-- Pagination Start -->
          <div *ngIf="pager.show" class="d-flex justify-content-between wrapper-pagination">
            <jw-pagination [pager]="pager" (changePage)="onChangePage($event)"
              style="display: block;margin: 25px auto;"></jw-pagination>
          </div>
          <!-- Pagination End -->
        </div>
      </mdb-card>
    </div>
    <!-- Course Grid End -->
  </section>
</div>
