.txt-offers{
  background: -webkit-linear-gradient(#00b5a9,#008e85);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -50px;
  margin-bottom: 20px;
  font-size: 18px;
  .offer-percent{
      font-size: 30px;
  }
}
