    .btn-get-it-now {
      background-image: linear-gradient(to right, #00b5a9, #01637f);
      color: white !important;
      font-weight: bold;
      text-align: center !important;
      width: 400px;
      border: 0;
      padding: 15px;
      border-radius: 100px;
      margin-bottom: 20px;

    }
