/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */



.wrapper-jobs-ar {
  direction: rtl;
  text-align: right;

  .img-jobs {
    height: 500px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 40px;
  }

  .hdng-jobs {
    font-size: 32px;
    background: -webkit-linear-gradient(top, #00b4a8, #00647f);
    padding-bottom: 10px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .job-description {
    margin-bottom: 50px;
  }
}


/* ======================================================================================
  *****************************************************************************************
  =========================================================================================
  ARABIC STYLE END
  =========================================================================================
  *****************************************************************************************
  ====================================================================================== */


/* ======================================================================================
  *****************************************************************************************
  =========================================================================================
  ENGLISH STYLE START
  =========================================================================================
  *****************************************************************************************
  ====================================================================================== */
.wrapper-jobs-en {
  direction: ltr;
  text-align: left;

  body {
    font-family: "HelveticaNeueLight";
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "HelveticaNeuelight";
  }

  p {
    font-family: "HelveticaNeuelight";
  }

  span {
    font-family: "HelveticaNeuelight";
  }

  a {
    font-family: "HelveticaNeuelight";
  }

  div {
    font-family: "HelveticaNeuelight";
  }

  input {
    font-family: "HelveticaNeuelight";

  }

  .img-jobs {
    height: 500px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 40px;
  }

  .hdng-jobs {
    font-size: 32px;
    background: -webkit-linear-gradient(top, #00b4a8, #00647f);
    padding-bottom: 10px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .job-description {
    margin-bottom: 50px;
  }

}

/* ======================================================================================
  *****************************************************************************************
  =========================================================================================
  ENGLISH STYLE END
  =========================================================================================
  *****************************************************************************************
  ====================================================================================== */
