<div [ngClass]="langStyle">
  <img src="../../../../../assets/images/jobs.jpg" alt="" class="img-fluid img-jobs">
  <div class="container">
    <div class="row">
      <div class="col-md-12" *ngIf="app_ser.app_lang()=='ar'">
        <h1 class="hdng-jobs">جد وظيفتك</h1>
        <p class="job-description">تمتلك أكاديمية كن رؤية شاملة لجميع متطلبات سوق العمل وتطلعات الراغبين الدخول فيه،
          لذلك تستهدف الأكاديمية جميع الأعمال والمهن والحرف المطلوبة على مستوى العالم العربي كالنجارة والتجارة والإعلام
          وتكنولوجيا المعلومات والذكاء الاصطناعي وغيرها <br><br> تقدم الأكاديمية شهادات عالمية تزيد من كفاءة الأيدي
          العاملة و ترفع من مهنية العاملين لتغطية شواغر العمل و الحد من نسبة البطالة التي يعد أبرز أسبابها تراجع
          الاقتصاد الناتج عن قلة وجود الكفاءات المطورة لمجالات العمل العديدة</p>
      </div>
      <div class="col-md-12" *ngIf="app_ser.app_lang()=='en'">
        <h1 class="hdng-jobs">Start your career</h1>
        <p class="job-description">We have a vision concerning the labor market requirements and skills, Therefore, Kun
          Academy targets all businesses, professions and trades required to enhance and accelerate the students in the
          needed skills, in all fields such as carpentry, business management, mass communication, information
          technology, artificial intelligence, etc.<br><br> Kun Academy presents international certificates that
          increase the efficiency of the workforce and raise the professionalism of employees to cover job vacancies and
          reduce the unemployment rate in the Arab World, moreover, develop the needed competencies for many work
          fields. </p>
      </div>
    </div>
  </div>
</div>
