<div [ngClass]="langStyle">
  <img src="../../../../../assets/images/jobs.jpg" alt="" class="img-fluid img-jobs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="hdng-jobs">جد وظيفتك</h1>
        <p class="job-description">تتيح لك أكاديمية كُن الحصول على شهادة إنجاز للدورة موقعة من قبل أفضل المدربين مبيعاً
          على مستوى الوطن العربي وعلى مستوى العالم. ستساعدك شهادة كُن على إبراز مهاراتك وقدراتك في سيرتك الذاتية مما
          سيعطيك الأولوية أن تكون من أفضل المرشحين للوظيفة المرجوة . نعمل على اعتماد شهادة كُن من قبل جهات مختلفة محلية
          ودولية</p>
      </div>
    </div>
  </div>
</div>
