<div [ngClass]="langStyle">
  <div class="row">
    <div class="col-md-12">
      <div class="wrap-header">
        <div class="row">
          <div class="col-10">
            <h3 class="mb-0 title-modal-register">{{video.file_name}}</h3>
          </div>
          <div class="col-2 wrap-cross-icon">
            <i class="fal fa-times cross-icon" (click)="activeModal.close(false)"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <vg-player>
        <vg-overlay-play vgFor="masterVideo" class="video-big-play-icon">
        </vg-overlay-play>
        <vg-controls>
          <vg-play-pause></vg-play-pause>
          <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>
          <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
          <vg-mute></vg-mute>
          <vg-volume vgFor="masterVideo"></vg-volume>
          <vg-fullscreen></vg-fullscreen>
        </vg-controls>
        <video [vgMedia]="master" #master id="masterVideo" preload="auto" autoplay="true"
          [src]="app_ser.video_url(video.uuid)">
        </video>
      </vg-player>
    </div>
    <div class="col-md-12" *ngIf="details">
      <div class="wrap-dubbing-subtitles">
        <div class="row">
          <div class="col-md-6">
            <h4 class="hdng-dubbing">{{'Dubbing' | translate}}</h4>
            <div class="wrap-dubbing-ul">
              <ul>
                <li *ngFor="let dubbing of app_ser.dubbingList">
                  <div class="row align-items-center" style="margin-bottom: 10px;">
                    <div class="col-md-3 col-dubbing-title">
                      <p class="dubbing-name">{{dubbing.name | translate}}</p>
                    </div>
                    <div class="col-md-9 col-update-btns">
                      <div *ngIf="!video.dubbing[dubbing.code]">
                        <button mdbBtn rounded="true" class="waves-light btn-select" mdbWavesEffect
                          (click)="galleryUploadModal()"><i class="fal fa-edit"></i> {{'Select' | translate}}</button>
                      </div>
                      <div *ngIf="video.dubbing[dubbing.code]">
                        <p class="dubbing-selected-name"
                          (click)="app_ser.showDubbingVideo(video.dubbing[dubbing.code].file,video.dubbing[dubbing.code].name)">
                          {{video.dubbing[dubbing.code].name | translate}} </p>
                        <button mdbBtn rounded="true" class="waves-light btn-edit" mdbWavesEffect><i
                            class="fal fa-edit"></i> {{'Update' | translate}}</button>
                        <button mdbBtn rounded="true" class="waves-light btn-delete" mdbWavesEffect><i
                            class="fal fa-trash-alt"></i> {{'Delete' | translate}}</button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <h4 class="hdng-subtitles">{{'Subtitle' | translate}}</h4>
            <div class="wrap-dubbing-ul">
              <ul>
                <li *ngFor="let dubbing of app_ser.dubbingList">
                  <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-3 col-dubbing-title">
                      <p class="subtitle-name">{{dubbing.name | translate}}</p>
                    </div>
                    <div class="col-md-9 col-update-btns">
                      <button mdbBtn rounded="true" class="waves-light btn-select" mdbWavesEffect><i
                          class="fal fa-edit"></i> {{'Select' | translate}}</button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
