/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */



.wrapper-kun-certificate-ar {
  direction: rtl;
  text-align: right;

  .img-certificate {
    height: 500px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 40px;
  }

  .hdng-certificate {
    font-size: 32px;
    background: -webkit-linear-gradient(top, #00b4a8, #00647f);
    padding-bottom: 10px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .certificate-description {
    margin-bottom: 50px;
  }
}


/* ======================================================================================
    *****************************************************************************************
    =========================================================================================
    ARABIC STYLE END
    =========================================================================================
    *****************************************************************************************
    ====================================================================================== */


/* ======================================================================================
    *****************************************************************************************
    =========================================================================================
    ENGLISH STYLE START
    =========================================================================================
    *****************************************************************************************
    ====================================================================================== */
.wrapper-kun-certificate-en {
  direction: ltr;
  text-align: left;

  .img-certificate {
    height: 500px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 40px;
  }

  .hdng-certificate {
    font-size: 32px;
    background: -webkit-linear-gradient(top, #00b4a8, #00647f);
    padding-bottom: 10px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .certificate-description {
    margin-bottom: 50px;
  }

}

/* ======================================================================================
    *****************************************************************************************
    =========================================================================================
    ENGLISH STYLE END
    =========================================================================================
    *****************************************************************************************
    ====================================================================================== */
