<div [ngClass]="langStyle">
  <img src="../../../../../assets/images/certificate.jpg" alt="" class="img-fluid img-certificate">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="hdng-certificate">عن شهادة اكاديمية كُن </h1>
        <p class="certificate-description">تمتلك أكاديمية كن رؤية شاملة لجميع متطلبات سوق العمل وتطلعات الراغبين الدخول
          فيه، لذلك تستهدف الأكاديمية جميع الأعمال والمهن والحرف المطلوبة على مستوى العالم العربي كالنجارة والتجارة
          والإعلام وتكنولوجيا المعلومات والذكاء الاصطناعي وغيرها <br><br> تقدم الأكاديمية شهادات عالمية تزيد من كفاءة
          الأيدي العاملة و ترفع من مهنية العاملين لتغطية شواغر العمل و الحد من نسبة البطالة التي يعد أبرز أسبابها تراجع
          الاقتصاد الناتج عن قلة وجود الكفاءات المطورة لمجالات العمل العديدة</p>
      </div>
    </div>
  </div>
</div>
