<style>
  .wrap-email-input {
    position: relative;
    width: 100%;
  }

  .email-authenticatino-icon-valid {
    position: absolute;
    left: 15px;
    top: 15px;
    color: green;
    font-size: 20px;
  }

  .email-authenticatino-icon-valid:hover {
    cursor: pointer;
  }

  .email-authenticatino-icon-invalid {
    position: absolute;
    left: 15px;
    top: 15px;
    color: red;
    font-size: 20px;
  }

  .email-authenticatino-icon-invalid:hover {
    cursor: pointer;
  }

  .emailLoader {
    position: absolute;
    left: 15px;
    top: 15px;
  }

</style>
<div [ngClass]="langStyle">
  <div class="wrapper-sign-in-up-component">
    <div class="wrap-modal-header">
      <div class="row">
        <div class="col-10">
          <h3 class="mb-0 title-modal-register">{{ 'studentSignup' | translate }}</h3>
        </div>
        <div class="col-2 col-cross-icon">
          <i class="fal fa-times cross-icon" (click)="activeModal.close(false)"></i>
        </div>
      </div>
    </div>
    <div class="content-signin wrapper-genrl-signin-signup">
      <!-- {{user.name}} -->
      <form class="text-center border border-light p-5 custom-form-class-genrl" novalidate #registerForm="ngForm">
        <div class="form-group">
          <div class="row">
            <div class="col-md-6 label-div">
              <label for="" class="mb-2">{{ 'Full Name' | translate }}</label>
            </div>
            <div class="col-md-6 error-msg-div">
              <div *ngIf="Name.errors?.required && Name.touched" class="error-message">
                {{ 'Please insert your Full name' | translate }}</div>
            </div>
          </div>
          <input class="form-control form-control-genrl mb-4" type="text" #Name="ngModel" required name="first_name"
            [(ngModel)]="user.name" placeholder="{{ 'Full Name' | translate }}" />
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6 label-div">
              <label for="" class="mb-2">{{ 'Email' | translate }}</label>
            </div>
            <div class="col-md-6 error-msg-div">
              <div *ngIf="userEmail.errors?.required && userEmail.touched" class="error-message">
                {{ 'Email' | translate }} {{ 'is required' | translate }}</div>
              <div *ngIf="userEmail.errors?.email && userEmail.touched" class="error-message"> {{ 'Email' | translate }}
                {{ 'is not correct' | translate }}</div>
              <!-- <div *ngIf="userEmail.touched && !(userEmail.errors?.email) && !emailChecked" class="error-message">
                {{ 'Email verification' | translate }} </div> -->
            </div>
          </div>
          <div class="wrap-email-input">
            <input (change)="changeEmail()" class="form-control form-control-genrl mb-4" type="email"
              #userEmail="ngModel" required email="true" name="email" [(ngModel)]="user.email"
              placeholder="{{ 'Email' | translate }}" />
            <!-- <i *ngIf="!emailLoader"
              [ngClass]="{'email-authenticatino-icon-valid':emailChecked,'email-authenticatino-icon-invalid':!emailChecked}"
              class="fal fa-check" (click)="authEmail()"></i>
            <div class="emailLoader" *ngIf="emailLoader">
              <img src="../../../../../assets/images/spiner.gif" alt="" style="width: 30px;height: auto;">
            </div> -->
          </div>
        </div>
        <!-- <div [ngClass]="{'enabled':emailChecked,'disabled':!emailChecked}" class="form-group">
          <div class="row">
            <div class="col-md-6 label-div">
              <label for="" class="mb-2">{{ 'Code' | translate }}</label>
            </div>
            <div class="col-md-6 error-msg-div">
              <div *ngIf="userCode.errors?.required && userCode.touched" class="error-message"> {{ 'Code' | translate }}
                {{ 'is required' | translate }}</div>
            </div>
          </div>
          <div class="wrap-email-input">
            <input class="form-control form-control-genrl mb-4" type="text" #userCode="ngModel" required name="code"
              [(ngModel)]="user.code" placeholder="{{ 'Code' | translate }}" />
          </div>
        </div> -->
        <div class="form-group">
          <div class="row">
            <div class="col-md-6 label-div">
              <label for="" class="mb-2">{{ 'Password' | translate }}</label>
            </div>
            <div class="col-md-6 error-msg-div">
              <div *ngIf="pwd.errors?.required && pwd.touched" class="error-message"> {{ 'Password' | translate }}
                {{ 'is required' | translate }}</div>
              <div *ngIf="pwd.errors?.minlength && pwd.touched" class="error-message">
                {{ 'Password 6 chars at least' | translate }}</div>
            </div>
          </div>
          <input class="form-control form-control-genrl mb-4" type="password" #pwd="ngModel" required name="pwd"
            minlength="6" [(ngModel)]="user.pwd" placeholder="{{ 'Password' | translate }}" />
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6 label-div">
              <label for="" class="mb-2">{{ 'Confirm Password' | translate }}</label>
            </div>
            <div class="col-md-6 error-msg-div">
              <div *ngIf="confirmPwd.errors?.required && confirmPwd.touched" class="error-message">
                {{ 'Confirm Password' | translate }} {{ 'is required' | translate }}</div>
              <div *ngIf="user.confirmPwd!=user.pwd && confirmPwd.touched" class="error-message">
                {{ 'Mismatch Passwords' | translate }}</div>
            </div>
          </div>
          <input class="form-control form-control-genrl mb-4" type="password" #confirmPwd="ngModel" required
            name="confirmPwd" minlength="6" [(ngModel)]="user.confirmPwd"
            placeholder="{{ 'Confirm Password' | translate }}" />
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6 label-div">
              <label for="" class="mb-2">{{ 'Nationality' | translate }}</label>
            </div>
          </div>
          <select required name="nationality" [(ngModel)]="user.nationality"
            class="mdb-select md-form form-control form-control-genral mb-4" name="nationality" #Nationality="ngModel"
            placeholder="Nationality" style="height: 50px;">
            <!-- <option *ngIf="!user.nationality">اختر دولة </option> -->
            <option [ngValue]="null">{{ 'select_your_county' | translate }}</option>
            <option [value]="item.key" *ngFor="let item of app_ser.nationalities()|keyvalue:app_ser.valueAscOrder">
              {{item.value}}</option>
          </select>
        </div>
        <!-- <div class="form-group">
                <select required name="nationality" [(ngModel)]="user.nationality"
                  class="mdb-select md-form form-control form-control-genrl mb-4" name="nationality" #Nationality="ngModel"
                  placeholder="Nationality" style="height: 50px;">
                  <option [value]="item.key" *ngFor="let item of app_ser.nationalities()|keyvalue:app_ser.valueAscOrder">
                    {{item.value}}</option>
                </select>
              </div> -->
        <div class="wrap-captcha mt-3 mb-3">
          <div class="captcha-inner">
            <div #recaptcha></div>
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <mdb-checkbox name="templateChecked" class="chkbox-terms" (click)="terms()"
              [name]="templateChecked?'templateChecked':'templateUnchecked'">
            </mdb-checkbox>
          </div>
          <div class="col-11 padding-text-terms"> {{'I agree with all' | translate }} &nbsp; <a class="link-terms"
              (click)="this.app_ser.openTerms()"> {{'Terms and Conditions' | translate }} </a> & <a class="link-terms"
              (click)="this.app_ser.openTerms()">{{'Privacy Policy' | translate }} </a>
          </div>
        </div>
        <button [ngClass]="{'enabled':checked(registerForm),'disabled':!checked(registerForm) }"
          (click)="register(registerForm)" mdbBtn color="info" block="true" class="my-4" type="submit"
          class="btn-signin"> {{ 'register' | translate }}</button>
      </form>
    </div>
  </div>
  <div class="loader" *ngIf="loader">
    <img src="../../../../../assets/images/spiner.gif" alt="">
  </div>
</div>
