/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */
.wrapper-trainer-media-upload-ar {
  direction: rtl;
  text-align: right;

  .media-upload-main {
    background: rgba(0, 0, 0, .5);

    .modal-dialog {
      max-width: 1000px !important;
      border-radius: 20px !important;

      .modal-content {
        border-radius: 20px !important;

        .wrap-header {
          padding: 20px;
          border-bottom: 1px solid lightgray;

          .wrap-cross-icon {
            text-align: left;
          }

          .wrap-cross-icon:hover {
            cursor: pointer;
          }
        }

        .file-upload-wrapper {
          ngx-file-drop {
            .ngx-file-drop__drop-zone {
              border: 2px dotted #01b3a8 !important;
              height: 200px !important;

              .ngx-file-drop__content {
                height: 200px !important;
                position: relative;

                .btn-browse-file {
                  display: block;
                  margin-bottom: 20px;
                  padding: 10px 25px;
                  border-radius: 100px;
                  background: transparent;
                  border: 1px solid lightgray;
                  margin: 0 10px 20px 10px;
                  box-shadow: 0 0 0 0;
                  outline: 0 !important;
                }

                .btn-browse-file:hover {
                  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
                }

                .txt-drop-file {
                  color: #343a40;
                }

                .txt-files-limit {
                  position: absolute;
                  font-size: 14px;
                  width: 100%;
                  text-align: center;
                  bottom: 35px;
                  color: black;
                }

                .progress {
                  display: flex;
                  height: 1rem;
                  overflow: hidden;
                  font-size: .75rem;
                  background-color: #a6a6a6 !important;
                  border-radius: .25rem;
                }
              }
            }
          }

          .upload-table {
            table {
              thead {
                text-align: center;

                tr {
                  th {
                    border-top: 0 !important;
                    vertical-align: middle;

                    .courses-dd {
                      border: 1px solid lightgray;
                      background: transparent;
                    }
                  }
                }

                .chkbox-dubbed {
                  .form-check-input[type=checkbox]:checked+label:before {
                    border-right: 2px solid #00b5a9 !important;
                    border-bottom: 2px solid #00b5a9 !important;
                  }
                }
              }

              tbody {
                text-align: center;

                tr {
                  td {
                    vertical-align: middle;

                    .btn-upload-all {
                      background: green;
                      color: white !important;
                      font-weight: bold;
                      margin: 0 5px;
                      font-size: 10px;
                      padding: 10px 25px;
                    }

                    .btn-remove-all {
                      background: #d43f3a;
                      color: white !important;
                      font-weight: bold;
                      margin: 0 5px;
                      font-size: 10px;
                      padding: 10px 25px;
                    }

                    .courses-dd {
                      border: 1px solid lightgray;
                      background: transparent;
                    }

                    .chkbox-dubbed {
                      .form-check-input[type=checkbox]:checked+label:before {
                        border-right: 2px solid #00b5a9 !important;
                        border-bottom: 2px solid #00b5a9 !important;
                      }
                    }
                  }
                }
              }
            }
          }

          .wrap-upload-remove-all {
            .btn-upload-all {
              background: green;
              color: white !important;
              font-weight: bold;
              margin: 0 5px;
              font-size: 10px;
              padding: 10px 25px;
            }

            .btn-remove-all {
              background: #d43f3a;
              color: white !important;
              font-weight: bold;
              margin: 0 5px;
              font-size: 10px;
              padding: 10px 25px;
            }
          }

          .gradient-btn {
            background-image: linear-gradient(to top, #00b5a9, #01637f) !important;
            color: white !important;
            font-weight: bold;
            margin-top: 30px !important;
            height: 50px;
            display: block;
            margin: 0 auto;
            padding: 10px 50px;
          }
        }
      }
    }
  }
}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */



/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */
.wrapper-trainer-media-upload-en {
  .media-upload-main {
    background: rgba(0, 0, 0, .5);

    .modal-dialog {
      max-width: 1000px !important;
      border-radius: 20px !important;

      .modal-content {
        border-radius: 20px !important;

        .wrap-header {
          padding: 20px;
          border-bottom: 1px solid lightgray;

          .wrap-cross-icon {
            text-align: right;
          }

          .wrap-cross-icon:hover {
            cursor: pointer;
          }
        }

        .file-upload-wrapper {
          ngx-file-drop {
            .ngx-file-drop__drop-zone {
              border: 2px dotted #01b3a8 !important;
              height: 200px !important;

              .ngx-file-drop__content {
                height: 200px !important;
                position: relative;

                .btn-browse-file {
                  display: block;
                  margin-bottom: 20px;
                  padding: 10px 25px;
                  border-radius: 100px;
                  background: transparent;
                  border: 1px solid lightgray;
                  margin: 0 10px 20px 10px;
                  box-shadow: 0 0 0 0;
                  outline: 0 !important;
                }

                .btn-browse-file:hover {
                  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
                }

                .txt-drop-file {
                  color: #343a40;
                }

                .txt-files-limit {
                  position: absolute;
                  font-size: 14px;
                  width: 100%;
                  text-align: center;
                  bottom: 35px;
                  color: black;
                }

                .progress {
                  display: flex;
                  height: 1rem;
                  overflow: hidden;
                  font-size: .75rem;
                  background-color: #a6a6a6 !important;
                  border-radius: .25rem;
                }
              }
            }
          }

          .upload-table {
            table {
              thead {
                text-align: center;

                tr {
                  th {
                    border-top: 0 !important;
                    vertical-align: middle;

                    .courses-dd {
                      border: 1px solid lightgray;
                      background: transparent;
                    }
                  }
                }

                .chkbox-dubbed {
                  .form-check-input[type=checkbox]:checked+label:before {
                    border-right: 2px solid #00b5a9 !important;
                    border-bottom: 2px solid #00b5a9 !important;
                  }
                }
              }

              tbody {
                text-align: center;

                tr {
                  td {
                    vertical-align: middle;

                    .btn-upload-all {
                      background: green;
                      color: white !important;
                      font-weight: bold;
                      margin: 0 5px;
                      font-size: 10px;
                      padding: 10px 25px;
                    }

                    .btn-remove-all {
                      background: #d43f3a;
                      color: white !important;
                      font-weight: bold;
                      margin: 0 5px;
                      font-size: 10px;
                      padding: 10px 25px;
                    }

                    .courses-dd {
                      border: 1px solid lightgray;
                      background: transparent;
                    }

                    .chkbox-dubbed {
                      .form-check-input[type=checkbox]:checked+label:before {
                        border-right: 2px solid #00b5a9 !important;
                        border-bottom: 2px solid #00b5a9 !important;
                      }
                    }
                  }
                }
              }
            }
          }

          .wrap-upload-remove-all {
            .btn-upload-all {
              background: green;
              color: white !important;
              font-weight: bold;
              margin: 0 5px;
              font-size: 10px;
              padding: 10px 25px;
            }

            .btn-remove-all {
              background: #d43f3a;
              color: white !important;
              font-weight: bold;
              margin: 0 5px;
              font-size: 10px;
              padding: 10px 25px;
            }
          }

          .gradient-btn {
            background-image: linear-gradient(to top, #00b5a9, #01637f) !important;
            color: white !important;
            font-weight: bold;
            margin-top: 30px !important;
            height: 50px;
            display: block;
            margin: 0 auto;
            padding: 10px 50px;
          }
        }
      }
    }
  }
}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */
