<div [ngClass]="langStyle">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="wrap-header">
        <div class="row">
          <div class="col-10">
            <h3 class="mb-0 title-modal-register">Upload Media</h3>
          </div>
          <div class="col-2 wrap-cross-icon">
            <i class="fal fa-times cross-icon" (click)="activeModal.close(false)"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 center" style="padding: 50px;">
      <div class="file-upload-wrapper">
        <ngx-file-drop class="wrapper-browse-btn1" dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
          (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
          <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector" class="wrapper-browse-btn">
            <button type="button" (click)="openFileSelector()" class="btn-browse-file">Browse File</button>
            <p class="txt-drop-file">or drop the file/s here</p>
            <p class="txt-files-limit">Maximum Files: {{maximumFiles}} | Maximum Filesize: {{maximumFilesize}}GB</p>
          </ng-template>
        </ngx-file-drop>
        <div *ngIf="uploadded_files.length" class="upload-table">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <!-- <th>Dubbed? <input (change)="ChangedDubbing()" type="checkbox" [checked]="dubbing" data-toggle="toggle"
                  data-onstyle="success">
              </th> -->
                <th>Dubbed? <mdb-checkbox name="templateChecked" class="chkbox-dubbed" (change)="ChangedDubbing()"
                    [checked]="dubbing">
                  </mdb-checkbox>
                </th>
                <th>Course <br>
                  <select [(ngModel)]="selectedCourse" (change)="ChangedCourse()" [disabled]="courseDisabled"
                    class="courses-dd">
                    <option disabled>Select Course {{selectedCourse}}</option>
                    <option [value]="0">No course</option>
                    <option [value]="course.id" *ngFor="let course of courses">{{course.name}}</option>
                  </select>
                </th>
                <th>Size ({{ round( totalSize /1048576 )}} MB)</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Upload</th>
              </tr>
            </thead>
            <tbody class="upload-name-style">
              <tr *ngFor="let item of uploadded_files; let i=index">
                <td><strong>{{i+1}}</strong></td>
                <td><strong>{{ item.file.name }}</strong></td>
                <td>
                  <!-- <input [checked]="item.dubbing" (click)="changeDubbingItem(i)" type="checkbox" checked
                  data-toggle="toggle" data-onstyle="success"> -->
                  <mdb-checkbox name="templateChecked" class="chkbox-dubbed" (click)="changeDubbingItem(i)"
                    [checked]="item.dubbing" [checked]="dubbing">
                  </mdb-checkbox>
                </td>
                <td>
                  <select [(ngModel)]="item.course" [disabled]="courseDisabled" class="courses-dd">
                    <option disabled>Select Course</option>
                    <option [value]="0">No course</option>
                    <option [value]="course.id" *ngFor="let course of courses">{{course.name}}</option>
                  </select>
                </td>
                <td><strong>{{ round( item.file.size /1048576 )}} MB</strong></td>
                <td>
                  <ngb-progressbar style="color: black;" type="success" [value]="item.uploaded">{{item.uploaded}} %
                  </ngb-progressbar>
                </td>
                <td><strong>{{item.status}}</strong></td>
                <td><button [ngClass]="{'enabled': item.uploaded==0, 'disabled': item.uploaded!=0}"
                    (click)="uploadFile(i)" type="button" class="btn btn-rounded m-1 btn-upload-all">Upload</button>
                  <button (click)="deleteFile(i)" type="button"
                    class="btn btn-rounded m-1 btn-remove-all">Remove</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div style="text-align:center;" class="wrap-upload-remove-all">
            <button (click)="uploadFiles()" type="button" class="btn btn-rounded m-1 btn-upload-all">Upload All</button>
            <button (click)="uploadded_files=[]" type="button" class="btn btn-rounded m-1 btn-remove-all">Remove
              All</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
