/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */
.wrapper-trainer-footer-ar {
  direction: rtl;

  .footer-copyright {
    padding-top: 25px !important;
    border-top: 1px solid #d6d6d6;
  }

  .img-logo-footer {
    width: 60px;
    height: auto;
    margin: -13px 5px 0 5px;
  }

  .link-kun-web {
    color: #00b5a9 !important;
  }
}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */
.wrapper-trainer-footer-en {
  .footer-copyright {
    padding-top: 25px !important;
    border-top: 1px solid #d6d6d6;
  }

  .img-logo-footer {
    width: 60px;
    height: auto;
    margin: -13px 5px 0 5px;
  }

  .link-kun-web {
    color: #00b5a9 !important;
  }
}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */
