<div [ngClass]="langStyle">
  <section id="trainerGallery">
    <!-- Breadcrumbs start  -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb custom-breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/trainer"><i class="fal fa-home-lg-alt"></i>
            {{'Home' | translate}}</a></li>
        <li class="breadcrumb-item active"><i class="fal fa-upload"></i> {{'Upload Gallery' | translate}}</li>
      </ol>
    </nav>
    <!-- Breadcrumbs End  -->
    <mdb-card>
      <mdb-card-body>
        <ngb-tabset [destroyOnHide]="false" (tabChange)="onTabChange($event)" [activeId]="activeTab"
          id="tabset-media-types">
          <!-- **************************************** UPLOAD IMAGE GALLERY TAB START **************************************** -->
          <ngb-tab id="image">
            <ng-template ngbTabTitle><b><i class="far fa-images"></i> {{'Images' | translate}}</b></ng-template>
            <ng-template ngbTabContent>
              <app-upload></app-upload>
            </ng-template>
          </ngb-tab>
          <!-- **************************************** UPLOAD IMAGE GALLERY TAB END **************************************** -->
          <!-- **************************************** UPLOAD VIDEO GALLERY TAB END **************************************** -->
          <ngb-tab id="video">
            <ng-template ngbTabTitle><b><i class="far fa-video"></i> {{'Video' | translate }}</b></ng-template>
            <ng-template ngbTabContent>
              <app-upload></app-upload>
            </ng-template>
          </ngb-tab>
          <!-- **************************************** UPLOAD VIDEO GALLERY TAB END **************************************** -->
          <!-- **************************************** UPLOAD DUBBING VIDEO GALLERY TAB START **************************************** -->
          <ngb-tab id="dubbing">
            <ng-template ngbTabTitle><b><i class="far fa-film"></i> {{'Dubbing Videos' | translate}}</b></ng-template>
            <ng-template ngbTabContent>
              <!-- LANGUAGE TAB START -->
              <ngb-tabset (tabChange)="onSecondryTabChange($event)" [activeId]="activeSecondryTab"
                id="tabset-languages-dubbing">
                <ngb-tab *ngFor="let tab of app_ser.langList" id="{{tab.code}}">
                  <ng-template ngbTabTitle>
                    <span>{{ tab.name | translate }}</span>
                  </ng-template>
                  <ng-template ngbTabContent>
                    <app-upload></app-upload>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
              <!-- LANGUAGE TAB END -->
              <div class="loader" *ngIf="loadGifLoader">
                <img src="../../../../assets/images/spiner.gif" alt=""
                  style="width: 70px;height: auto;display: block;margin: 100px auto;">
              </div>
            </ng-template>
          </ngb-tab>
          <!-- **************************************** UPLOAD DUBBING VIDEO GALLERY TAB END **************************************** -->
          <!-- **************************************** UPLOAD SUBTITLES VIDEO GALLERY TAB START **************************************** -->
          <ngb-tab id="subtitle">
            <ng-template ngbTabTitle><b><i class="far fa-closed-captioning"></i> {{'Subtitle' | translate }}</b>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- LANGUAGE TAB START -->
              <ngb-tabset (tabChange)="onSecondryTabChange($event)" [activeId]="activeSecondryTab"
                id="tabset-languages-subtitle">
                <ngb-tab *ngFor="let tab of app_ser.langList" id="{{tab.code}}">
                  <ng-template ngbTabTitle>
                    <span>{{ tab.name }}</span>
                  </ng-template>
                  <ng-template ngbTabContent>
                    <app-upload></app-upload>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
              <!-- LANGUAGE TAB ENG -->
              <div class="loader" *ngIf="loadGifLoader">
                <img src="../../../../assets/images/spiner.gif" alt=""
                  style="width: 70px;height: auto;display: block;margin: 100px auto;">
              </div>
            </ng-template>
          </ngb-tab>
          <!-- **************************************** UPLOAD SUBTITLES VIDEO GALLERY TAB END **************************************** -->
          <!-- **************************************** UPLOAD AUDIO GALLERY TAB END **************************************** -->
          <ngb-tab id="audio">
            <ng-template ngbTabTitle><b><i class="far fa-microphone-alt"></i> {{'Audio' | translate }}</b></ng-template>
            <ng-template ngbTabContent>
              <app-upload></app-upload>
            </ng-template>
          </ngb-tab>
          <!-- **************************************** UPLOAD AUDIO GALLERY TAB END **************************************** -->
        </ngb-tabset>
      </mdb-card-body>
    </mdb-card>
  </section>
</div>
