/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */
.wrapper-contact-lang-ar {
  direction: rtl;
  text-align: right;

  .wrapper-contact-form {
    margin: 40px 0;

    .error-message {
      color: #f44336;
    }

    .error-msg-div {
      text-align: left;
    }

    .label-div {
      text-align: right !important;
      font-weight: bold;
    }

    .section-title {
      position: relative;

      .title-header {
        position: relative;


        h5 {
          font-size: 30px;
          line-height: 24px;
          letter-spacing: 1px;
          margin: 20px 0;
          color: black;
        }

        h2.title {
          font-size: 36px;
          line-height: 46px;
          margin-bottom: 0;
        }

      }

      .title-desc {
        font-weight: 400;
        font-size: 17px;
        line-height: 27px;
        margin-bottom: 32px;
      }

    }

    .box-contact-info {
      border-radius: 0px;
      border-top: 7px solid #00b5a9 !important;
      padding: 50px 20px;
      box-shadow: 0 0 5px #d3d3d3;
      border-radius: 20px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      direction: ltr;
      text-align: right;
      margin-top: 70px;

      .box-contact-info-inner {
        list-style: none;
        padding: 0;

        li {
          padding-left: 37px;
          position: relative;
          padding-top: 10px;
          padding-bottom: 15px;
          line-height: 25px;
          border-bottom: 1px solid #eaeaea;
          padding-right: 25px;

          a {
            color: #00b5a9;
            font-weight: bold;
          }

          .icon-genrl-colr {
            color: #00b5a9;
            font-size: 20px;
            margin: 0 8px;
          }

          .icon-genrl-colr:before {
            position: absolute;
            right: 0;
            top: 14px;
          }
        }
      }
    }

    .btn-contact {
      background-image: linear-gradient(to right, #00b5a9, #01637f);
      color: #fff !important;
      font-weight: 700;
      text-align: center;
      width: 100%;
      border: 0;
      padding: 15px;
      border-radius: 100px;
      margin-bottom: 20px;
    }
  }
}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */


/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */
.wrapper-contact-lang-en {
  direction: ltr;
  text-align: left;

  .wrapper-contact-form {
    margin: 40px 0;

    .error-message {
      color: #f44336;
    }

    .error-msg-div {
      text-align: right;
    }

    .label-div {
      text-align: left !important;
      font-weight: bold;
    }

    .section-title {
      position: relative;

      .title-header {
        position: relative;


        h5 {
          font-size: 30px;
          line-height: 24px;
          letter-spacing: 1px;
          margin: 20px 0;
          color: black;
        }

        h2.title {
          font-size: 36px;
          line-height: 46px;
          margin-bottom: 0;
        }

      }

      .title-desc {
        font-weight: 400;
        font-size: 17px;
        line-height: 27px;
        margin-bottom: 32px;
      }

    }

    .box-contact-info {
      border-radius: 0px;
      border-top: 7px solid #00b5a9 !important;
      padding: 50px 20px;
      box-shadow: 0 0 5px #d3d3d3;
      border-radius: 20px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      text-align: left;
      margin-top: 70px;

      .box-contact-info-inner {
        list-style: none;
        padding: 0;

        li {
          padding-left: 37px;
          position: relative;
          padding-top: 10px;
          padding-bottom: 15px;
          line-height: 25px;
          border-bottom: 1px solid #eaeaea;
          padding-left: 15px;

          a {
            color: #00b5a9;
            font-weight: bold;
          }

          .icon-genrl-colr {
            color: #00b5a9;
            font-size: 20px;
            margin: 0 8px;
          }

          .icon-genrl-colr:before {
            position: absolute;
            left: 0;
            top: 14px;
          }


        }
      }
    }

    .btn-contact {
      background-image: linear-gradient(to right, #00b5a9, #01637f);
      color: #fff !important;
      font-weight: 700;
      text-align: center;
      width: 100%;
      border: 0;
      padding: 15px;
      border-radius: 100px;
      margin-bottom: 20px;
    }
  }
}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */
