/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */
.wrapper-preview-gallery-item-ar {
  direction: rtl;
  text-align: right;

  .wrap-header {
    padding: 20px;
    border-bottom: 1px solid lightgray;

    .wrap-cross-icon {
      text-align: left;
    }

    .wrap-cross-icon:hover {
      cursor: pointer;
    }
  }

  .img-preview-item {
    display: block;
    margin: 0 auto;
  }
}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */

.imagePreviewPopup {
  background: rgba(0, 0, 0, .5);

  .modal-dialog {
    border-radius: 20px;

    .modal-content {
      border-radius: 20px;
      border: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 10px solid #00b5a9 !important;
    }
  }
}
