/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */
.wrapper-blog-detail-lang-ar {
  direction: rtl;
  text-align: right;

  .wrapper-blog-img {
    position: relative;
    margin: 50px 0 20px;

  }

  .overlay-gradient-bg {
    position: absolute;
    top: 0;
    background: linear-gradient(18deg, black, transparent);
    height: 100%;
    width: 100%;

  }

  .wrap-blog-summary {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-weight: bold;

    .blogDate-postedBy {
      .txt-by {
        font-weight: bold;
        color: #00b5a9;
        font-size: 12px;
        margin: 0 5px;

      }

      .name {
        font-size: 14px;
        font-weight: bold;
        color: white;
      }

      .divider {
        font-size: 14px;
        font-weight: bold;
        color: white;
        margin: 0 10px;
      }

      .date {
        font-size: 14px;
        font-weight: bold;
        color: white;
      }
    }
  }

  .blog-description {
    margin-bottom: 50px;
  }
}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */


/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */
.wrapper-blog-detail-lang-en {
  direction: ltr;
  text-align: left;

  .wrapper-blog-img {
    position: relative;
    margin: 50px 0 20px;

  }

  .overlay-gradient-bg {
    position: absolute;
    top: 0;
    background: linear-gradient(18deg, black, transparent);
    height: 100%;
    width: 100%;

  }

  .wrap-blog-summary {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-weight: bold;

    .blogDate-postedBy {
      .txt-by {
        font-weight: bold;
        color: #00b5a9;
        font-size: 12px;
        margin: 0 5px;

      }

      .name {
        font-size: 14px;
        font-weight: bold;
        color: white;
      }

      .divider {
        font-size: 14px;
        font-weight: bold;
        color: white;
        margin: 0 10px;
      }

      .date {
        font-size: 14px;
        font-weight: bold;
        color: white;
      }
    }
  }

  .blog-description {
    margin-bottom: 50px;
  }

}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */
