<div [ngClass]="langStyle">
  <div class="col-2 wrap-cross-icon">
    <i class="fal fa-times cross-icon" (click)="activeModal.close(false)"></i>
  </div>
  <div id="galleryPopupModal">
    <div class="row">
      <div class="col-md-12">
        <div class="wrap-header">
          <div class="row">
            <div class="col-10">
              <h3 class="mb-0 title-modal-register">{{'Gallery' | translate}}</h3>
            </div>
            <div class="col-2 wrap-cross-icon">
              <i class="fal fa-times cross-icon" (click)="activeModal.close(false)"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <ngb-tabset [destroyOnHide]="false" (tabChange)="onTabChange($event)" [activeId]="activeTab"
          id="tabset-media-types">
          <!-- **************************************** UPLOAD IMAGE GALLERY TAB START **************************************** -->
          <ngb-tab id="image">
            <ng-template ngbTabTitle><b><i class="far fa-images"></i> {{'Images' | translate}}</b></ng-template>
            <ng-template ngbTabContent>
              <div class="loader" *ngIf="loadGifLoader">
                <img src="../../../../assets/images/spiner.gif" alt=""
                  style="width: 70px;height: auto;display: block;margin: 100px auto;">
              </div>
              <div class="wrapper-tab-images wrapper-tab-genrl" *ngIf="trainerContent.length">
                <div class="file-upload-wrapper">
                  <button mdbBtn rounded="true" class="waves-light gradient-btn" mdbWavesEffect
                    (click)="openFileUploadModal()"><i class="far fa-cloud-upload-alt" style="font-size: 14px"></i>
                    {{'Upload' | translate}}</button> <span
                    class="or-select">{{'or select from gallery' | translate }}</span>
                  <div class="btn-animate-icon">
                    <i class="fal fa-share"></i>
                  </div>
                </div>
                <div class="wrapper-files-listing-image-panel">
                  <div class="row">
                    <div class="col-md-3" *ngFor="let uploadImage of trainerContent">
                      <div class="wrap-img">
                        <!-- <img src="../../../../assets/images/course-default.jpg" alt="" class="img-fluid img-thumbnail"> -->
                        <img [src]="app_ser.img_url(uploadImage.uuid)" alt=""
                          class="img-fluid img-thumbnail img-hover-cursor">
                        <a class="text-center file-name-image" (click)="view(uploadImage)">{{'View' | translate }}</a>
                        <a class="text-center file-name-image"
                          (click)="select(uploadImage)">{{'Select' | translate }}</a>
                        <a class="text-center file-name-image">{{uploadImage.file_name}}</a>

                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="trainerContent.length && pager.show" class="card-footer pb-0 pt-3"
                  style="display: block; margin:0 auto">
                  <jw-pagination [pager]="pager" (changePage)="onChangePage($event)"></jw-pagination>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <!-- **************************************** UPLOAD IMAGE GALLERY TAB END **************************************** -->
          <!-- **************************************** UPLOAD VIDEO GALLERY TAB END **************************************** -->
          <ngb-tab id="video">
            <ng-template ngbTabTitle><b><i class="far fa-video"></i> {{'Video' | translate }}</b></ng-template>
            <ng-template ngbTabContent>
              <div class="loader" *ngIf="loadGifLoader">
                <img src="../../../../assets/images/spiner.gif" alt=""
                  style="width: 70px;height: auto;display: block;margin: 100px auto;">
              </div>
              <div class="wrapper-tab-videos wrapper-tab-genrl" *ngIf="trainerContent.length">
                <div class="file-upload-wrapper">
                  <button mdbBtn rounded="true" class="waves-light gradient-btn" mdbWavesEffect
                    (click)="openFileUploadModal()"><i class="far fa-cloud-upload-alt" style="font-size: 14px"></i>
                    {{'Upload' | translate}}</button>
                </div>
                <div class="wrapper-files-listing-video-panel">
                  <div class="row">
                    <div class="col-md-3" *ngFor="let trainerVideo of trainerContent">
                      <div class="wrap-video-thumbnail">
                        <img *ngIf="trainerVideo.video_derivation && trainerVideo.video_derivation.gif"
                          [src]="app_ser.img_url(trainerVideo.video_derivation.gif,'video')"
                          (click)="app_ser.openVideoDetailPopup(trainerVideo,true)" alt=""
                          class="img-fluid img-thumbnail img-hover-cursor">
                        <img *ngIf="!(trainerVideo.video_derivation && trainerVideo.video_derivation.gif)"
                          (click)="app_ser.openVideoDetailPopup(trainerVideo,true)"
                          [src]="app_ser.img_url(null,'video')" alt="" class="img-fluid img-thumbnail img-hover-cursor">
                        <a class="text-center file-name-video"
                          (click)="app_ser.openVideoDetailPopup(trainerVideo,true)">{{trainerVideo.file_name}}</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="trainerContent.length && pager.show" class="card-footer pb-0 pt-3"
                  style="display: block; margin:0 auto">
                  <jw-pagination [pager]="pager" (changePage)="onChangePage($event)"></jw-pagination>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <!-- **************************************** UPLOAD VIDEO GALLERY TAB END **************************************** -->
          <!-- **************************************** UPLOAD DUBBING VIDEO GALLERY TAB START **************************************** -->
          <ngb-tab id="dubbing">
            <ng-template ngbTabTitle><b><i class="far fa-film"></i> {{'Dubbing Videos' | translate}}</b></ng-template>
            <ng-template ngbTabContent>
              <!-- LANGUAGE TAB START -->
              <ngb-tabset (tabChange)="onSecondryTabChange($event)" [activeId]="activeSecondryTab"
                id="tabset-languages-dubbing">
                <ngb-tab *ngFor="let tab of app_ser.langList" id="{{tab.code}}">
                  <ng-template ngbTabTitle>
                    <span>{{ tab.name | translate }}</span>
                  </ng-template>
                  <ng-template ngbTabContent>
                    <div class="wrapper-tab-dubbing-videos wrapper-tab-genrl">
                      <div class="file-upload-wrapper">
                        <button mdbBtn rounded="true" class="waves-light gradient-btn" mdbWavesEffect
                          (click)="openFileUploadModal()"><i class="far fa-cloud-upload-alt"
                            style="font-size: 14px"></i> {{'Upload' | translate}}</button>
                      </div>
                      <div class="wrapper-files-listing-dubbing-panel">
                        <!-- ROW IMAGE NOT FOUND START  -->
                        <div class="row">
                          <div class="col-md-12">
                            <div class="wrap-notFound-message" *ngIf="!trainerContent.length && !loadGifLoader">
                              <img src="../../../../assets/images/no-record-found.gif" alt="" class="img-fluid ">
                            </div>
                          </div>
                        </div>
                        <!-- ROW IMAGE NOT FOUND START  -->
                        <div class="row" *ngIf="trainerContent.length">
                          <div class="col-md-3" *ngFor="let trainerVideo of trainerContent">
                            <div class="wrap-dubbing-thumbnail">
                              <!-- <img src="../../../../assets/images/course-default.jpg" alt="" class="img-fluid img-thumbnail"> -->
                              <!-- <img [src]="app_ser.img_url(trainerVideo.video_derivation.gif,'course')" alt=""
                                      class="img-fluid img-thumbnail"> -->
                              <img *ngIf="trainerVideo.video_derivation && trainerVideo.video_derivation.gif"
                                [src]="app_ser.img_url(trainerVideo.video_derivation.gif,'video')" alt=""
                                class="img-fluid img-thumbnail img-hover-cursor"
                                (click)="app_ser.openVideoDetailPopup(trainerVideo)">
                              <img *ngIf="!(trainerVideo.video_derivation && trainerVideo.video_derivation.gif)"
                                [src]="app_ser.img_url(null,'video')" alt=""
                                class="img-fluid img-thumbnail img-hover-cursor"
                                (click)="app_ser.openVideoDetailPopup(trainerVideo)">
                              <a class="text-center file-name-dubbing"
                                (click)="app_ser.openVideoDetailPopup(trainerVideo)">{{trainerVideo.file_name}}</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="trainerContent.length && pager.show" class="card-footer pb-0 pt-3"
                        style="display: block; margin:0 auto">
                        <jw-pagination [pager]="pager" (changePage)="onChangePage($event)"></jw-pagination>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
              <!-- LANGUAGE TAB END -->
              <div class="loader" *ngIf="loadGifLoader">
                <img src="../../../../assets/images/spiner.gif" alt=""
                  style="width: 70px;height: auto;display: block;margin: 100px auto;">
              </div>
            </ng-template>
          </ngb-tab>
          <!-- **************************************** UPLOAD DUBBING VIDEO GALLERY TAB END **************************************** -->
          <!-- **************************************** UPLOAD SUBTITLES VIDEO GALLERY TAB START **************************************** -->
          <ngb-tab id="subtitle">
            <ng-template ngbTabTitle><b><i class="far fa-closed-captioning"></i> {{'Subtitle' | translate }}</b>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- LANGUAGE TAB START -->
              <ngb-tabset (tabChange)="onSecondryTabChange($event)" [activeId]="activeSecondryTab"
                id="tabset-languages-subtitle">
                <ngb-tab *ngFor="let tab of app_ser.langList" id="{{tab.code}}">
                  <ng-template ngbTabTitle>
                    <span>{{ tab.name | translate }}</span>
                  </ng-template>
                  <ng-template ngbTabContent>
                    <div class="wrapper-tab-subtitles wrapper-tab-genrl">
                      <div class="file-upload-wrapper">
                        <button mdbBtn rounded="true" class="waves-light gradient-btn" mdbWavesEffect
                          (click)="openFileUploadModal()"><i class="far fa-cloud-upload-alt"
                            style="font-size: 14px"></i> {{'Upload' | translate}}</button>
                      </div>
                      <div class="wrapper-files-listing-subtitles-panel">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="wrap-notFound-message" *ngIf="!trainerContent.length && !loadGifLoader">
                              <img src="../../../../assets/images/no-record-found.gif" alt=""
                                style="width: 350px;display: block;margin: 60px auto;" class="img-fluid">
                            </div>
                          </div>
                        </div>
                        <div class="row" *ngIf="trainerContent.length">
                          <div class="col-md-3" *ngFor="let subtitle of trainerContent">
                            <div class="wrap-subtitle">
                              <i class="far fa-closed-captioning icon-subtitle"></i>
                              <a class="text-center file-name-subtitle" rel="external"
                                [attr.href]="app_ser.file_url(subtitle.uuid)" download="" target="_blank">
                                {{subtitle.file_name}} </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="trainerContent.length && pager.show" class="card-footer pb-0 pt-3"
                        style="display: block; margin:0 auto">
                        <jw-pagination [pager]="pager" (changePage)="onChangePage($event)"></jw-pagination>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
              <!-- LANGUAGE TAB ENG -->
              <div class="loader" *ngIf="loadGifLoader">
                <img src="../../../../assets/images/spiner.gif" alt=""
                  style="width: 70px;height: auto;display: block;margin: 100px auto;">
              </div>
            </ng-template>
          </ngb-tab>
          <!-- **************************************** UPLOAD SUBTITLES VIDEO GALLERY TAB END **************************************** -->
          <!-- **************************************** UPLOAD AUDIO GALLERY TAB END **************************************** -->
          <ngb-tab id="audio">
            <ng-template ngbTabTitle><b><i class="far fa-microphone-alt"></i> {{'Audio' | translate }}</b></ng-template>
            <ng-template ngbTabContent>
              <div class="loader" *ngIf="loadGifLoader">
                <img src="../../../../assets/images/spiner.gif" alt=""
                  style="width: 70px;height: auto;display: block;margin: 100px auto;">
              </div>
              <div class="wrapper-tab-audio wrapper-tab-genrl" *ngIf="trainerContent.length">
                <div class="file-upload-wrapper">
                  <button mdbBtn rounded="true" class="waves-light gradient-btn" mdbWavesEffect
                    (click)="openFileUploadModal()"><i class="far fa-cloud-upload-alt" style="font-size: 14px"></i>
                    {{'Upload' | translate }}</button>
                </div>
                <div class="wrapper-audio-files-listing-panel">
                  <div class="row">
                    <div class="col-md-3" *ngFor="let trainerVideo of trainerContent">
                      <div class="wrap-audio-files">
                        <!-- <img src="../../../../assets/images/course-default.jpg" alt="" class="img-fluid img-thumbnail"> -->
                        <img [src]="app_ser.img_url(null,'audio')" alt=""
                          class="img-fluid img-thumbnail img-hover-cursor"
                          (click)="app_ser.openVideoDetailPopup(trainerVideo,false)">
                        <a class="text-center file-name-audio"
                          (click)="app_ser.openVideoDetailPopup(trainerVideo,false)">{{trainerVideo.file_name}}</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="trainerContent.length && pager.show" class="card-footer pb-0 pt-3"
                  style="display: block; margin:0 auto">
                  <jw-pagination [pager]="pager" (changePage)="onChangePage($event)"></jw-pagination>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <!-- **************************************** UPLOAD AUDIO GALLERY TAB END **************************************** -->
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>
