<div [ngClass]="langStyle">
  <div class="wrap-modal-header">
    <div class="row">
      <div class="col-10">
        <h3 class="mb-0 title-modal-register">{{ 'Invoice' | translate }}</h3>
      </div>
      <div class="col-2 wrap-cross-icon">
        <i class="fal fa-times cross-icon" (click)="activeModal.close(false)"></i>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <img src="https://kun.academy/assets/images/Logo.png" alt="" class="logo-kun">
    <div class="wrap-thanks-message">
      <h4>Thanks for your order, Abdul</h4>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo asperiores, qui pariatur itaque aspernatur
        deleniti?</p>
      <h3>Order No: 123456789</h3>
    </div>
    <div class="wrap-tbl-invoice-detail">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Transaction Id</th>
            <th>Course Name</th>
            <th class="th-price">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>123456</td>
            <td>المقالة الأمثل لمحركات البحث</td>
            <td class="td-price">$100</td>
          </tr>
        </tbody>
      </table>
      <p class="vat-amount">Taxes: $2</p>
      <h4 class="footer-total">Total: $102</h4>
    </div>
  </div>
</div>
