<div [ngClass]="langStyle" style="margin-top: 140px;">
  <div class="row">
    <div class="col-md-3">
      <a class="link-card">
        <div class="wrap-card wrap-card-no-of-students">
          <div class="row align-items-center">
            <div class="col-5">
              <div class="wrap-icon">
                <i class="fal fa-users"></i>
              </div>
            </div>
            <div class="col-7">
              <div class="wrap-card-content">
                <h5 class="title-card">{{'No of Students' | translate}}</h5>
                <h1 class="no-of-results">{{DashboardInfo.students_count}}</h1>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a class="link-card">
        <div class="wrap-card wrap-card-no-of-courses">
          <div class="row align-items-center">
            <div class="col-5">
              <div class="wrap-icon">
                <i class="fal fa-book"></i>
              </div>
            </div>
            <div class="col-7">
              <div class="wrap-card-content">
                <h5 class="title-card">{{'No of Courses' | translate}}</h5>
                <h1 class="no-of-results">{{DashboardInfo.courses_count}}
                </h1>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a class="link-card">
        <div class="wrap-card wrap-card-corrections">
          <div class="row align-items-center">
            <div class="col-5">
              <div class="wrap-icon">
                <i class="fal fa-box-check"></i>
              </div>
            </div>
            <div class="col-7">
              <div class="wrap-card-content">
                <h5 class="title-card">{{'Corrections' | translate}}</h5>
                <h1 class="no-of-results">{{DashboardInfo.courses_correction_count}}</h1>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a class="link-card">
        <div class="wrap-card wrap-card-certificates">
          <div class="row align-items-center">
            <div class="col-5">
              <div class="wrap-icon">
                <i class="fal fa-file-certificate"></i>
              </div>
            </div>
            <div class="col-7">
              <div class="wrap-card-content">
                <h5 class="title-card">{{'Certificates Issued' | translate}}</h5>
                <h1 class="no-of-results">{{DashboardInfo.certificates_count}}</h1>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <div class="col-md-6">
      <div class="wrap-chart-earnings" style="display: block">
        <canvas mdbChart [chartType]="chartTypeEarnings" [datasets]="chartDatasetsEarnings"
          [labels]="chartLabelsEarnings" [colors]="chartColorsEarnings" [options]="chartOptionsEarnings" [legend]="true"
          (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
    <div class="col-md-6">
      <div class="wrap-chart-passed-failed-students" style="display: block">
        <canvas mdbChart [chartType]="chartTypePassingRatio" [datasets]="chartDatasetsPassingRatio"
          [labels]="chartLabelsPassingRatio" [colors]="chartColorsPassingRatio" [options]="chartOptionsPassingRatio"
          [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="wrap-courses-summary">
        <mdb-card-body>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>{{'Course name' | translate}}</th>
                  <th class="th-course-students">{{'No of Students Enrolled' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let courseData of coursesSummary">
                  <td>{{courseData.code}}</td>
                  <td class="td-course-title">{{courseData.name}}</td>
                  <td class="td-course-students">{{courseData.students_count}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </mdb-card-body>
      </div>
    </div>
    <div class="col-md-4">
      <div class="wrap-chart-pending-and-checked-corrections">
        <canvas mdbChart [chartType]="chartTypeCorrections" [datasets]="chartDatasetsCorrections"
          [labels]="chartLabelsCorrections" [colors]="chartColorsCorrections" [options]="chartOptionsCorrections"
          [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
    <div class="col-md-4">
      <div class="wrap-courses-rating">
        <mdb-carousel class="carousel-course-rating" [animation]="'slide'" [interval]="'3000'">
          <mdb-carousel-item *ngFor="let courseData of coursesSummary">
            <div class="view w-100">
              <h1 class="text-center course-name-summary-rating">{{courseData.name}}</h1>
              <div class="wrap-rating">
                <span class="course-star-rating" *ngFor="let rate of app_ser.initStarRating(courseData.average_rate)">
                  <i [class]="rate"></i>
                </span>
                <!-- <span class="course-star-rating"><i class="fas fa-star star-full"></i></span>
                <span class="course-star-rating"><i class="fas fa-star star-full"></i></span>
                <span class="course-star-rating"><i class="fas fa-star star-full"></i></span>
                <span class="course-star-rating"><i class="fas fa-star star-full"></i></span>
                <span class="course-star-rating"><i class="far fa-star star-empty"></i></span> -->
              </div>
            </div>
          </mdb-carousel-item>

        </mdb-carousel>
      </div>
    </div>
  </div>
</div>
