/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */
.wrapper-my-library-ar {
  direction: rtl;
  text-align: right;
  background-image: url(../../../../../../assets/images/kun-background-pattern-white.png);
  background-position: center;
  background-size: 1000px;

  .wrapper-library-inner {
    // padding: 100px 200px !important;

    // .container-custom-width {
    //   max-width: calc(100% - 250px) !important;
    // }

    .tab-set-parent {
      .nav-pills {
        width: 270px !important;
        float: right !important;
        background: white !important;
        min-height: 380px;
        padding: 0;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
        margin-left: 30px !important;
        margin-right: 0 !important;
        border-radius: 10px;
        padding: 20px 0;

        .nav-item .nav-link {

          padding: 10px 20px;
          font-size: 16px;
          font-weight: bold;
          border-radius: 0;
          color: gray;
        }

        .nav-item .nav-link.active {
          background-image: linear-gradient(to right, #00b5a9, #01637f);
          background-color: #00b5a9;
          padding: 10px 20px;
          font-size: 16px;
          font-weight: bold;
          border-radius: 0;
          color: white;
        }

        .nav-item .nav-link.active:hover {
          color: white;
        }

        .nav-item .nav-link:hover {
          background-color: #eaeaea;
          color: #696969;
        }

      }


    }







    .tabset-parent-my-library {
      .nav-stacked {
        background: white;
        height: 100%;
        padding: 0;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;

        .nav-item a {
          padding: 10px 0;
          font-size: 16px;
          font-weight: bold;
        }

        .nav-item.active a {
          background-image: linear-gradient(to right, #00b5a9, #01637f);
          padding: 10px 0;
          font-size: 16px;
          font-weight: bold;
        }


      }

      .tab-content {
        box-shadow: 0 0 0 0 !important;
      }

      .card {
        box-shadow: 0 0 0 0 !important;
        padding-top: 0 !important;
        background: transparent !important;
      }
    }
  }

  // MEDIA QUERY START HERE

  /* Small devices (Mobile phones, 576px and up) */
  @media (max-width: 575px) {
    .wrapper-library-inner {
      padding: 0 !important;

      .container-custom-width {
        max-width: 100% !important;
      }

      .tab-set-parent {
        .nav-pills {
          width: 100% !important;
          margin-top: 20px;
          min-height: 250px !important;

          .nav-item .nav-link {
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 0;
            color: gray;
          }
        }

        .tab-content {
          width: 100% !important;
          margin-top: 20px;
          padding: 0 15px;
        }
      }
    }
  }

  /* Small Devices (Landscape Phone, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 576px) and (max-width: 767px) {
    .wrapper-library-inner {
      padding: 50px 0px !important;

      .container-custom-width {
        max-width: 100% !important;
      }

      .tab-set-parent {
        .nav-pills {
          width: 100% !important;
          margin-top: 20px;
          min-height: 250px !important;

          .nav-item .nav-link {
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 0;
            color: gray;
          }
        }

        .tab-content {
          width: 100% !important;
          margin-top: 20px;
          padding: 0 15px;
        }
      }
    }
  }

  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) and (max-width: 991px) {
    .wrapper-library-inner {
      padding: 50px !important;

      .container-custom-width {
        max-width: 100% !important;
      }

      .tab-set-parent {
        .nav-pills {
          width: 200px !important;
          min-height: 250px !important;
          margin-left: 0 !important;

          .nav-item .nav-link {
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 0;
            color: gray;
          }
        }

        .tab-content {
          width: calc(100% - 200px) !important;
          float: right;
          padding: 0 30px;
        }
      }
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1499px) {
    .wrapper-library-inner {
      padding: 50px 0px !important;

      .container-custom-width {
        max-width: calc(100% - 150px) !important;
      }

      .tab-set-parent {
        .nav-pills {
          width: 200px !important;
          min-height: 250px !important;
          margin-left: 0 !important;

          .nav-item .nav-link {
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 0;
            color: gray;
          }
        }

        .tab-content {
          width: calc(100% - 200px) !important;
          float: right;
          padding: 0 30px;
        }
      }
    }
  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1500px) and (max-width: 3000px) {
    .wrapper-library-inner {
      padding: 100px 200px !important;

      // .container-custom-width {
      //   max-width: calc(100% - 250px) !important;
      // }

      .tab-set-parent {
        .nav-pills {
          width: 270px !important;
          background: white !important;
          min-height: 380px;
          padding: 0;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
          margin-left: 30px;
          border-radius: 10px;
          padding: 20px 0;

          .nav-item .nav-link {

            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 0;
            color: gray;
          }

          .nav-item .nav-link.active {
            background-image: linear-gradient(to right, #00b5a9, #01637f);
            background-color: #00b5a9;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 0;
            color: white;
          }

          .nav-item .nav-link.active:hover {
            color: white;
          }

          .nav-item .nav-link:hover {
            background-color: #eaeaea;
            color: #696969;
          }

        }

        .tab-content {
          width: calc(100% - 300px) !important;
          float: right !important;
          background: transparent;
        }
      }

      .tabset-parent-my-library {
        .nav-stacked {
          background: white;
          height: 100%;
          padding: 0;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;

          .nav-item a {
            padding: 10px 0;
            font-size: 16px;
            font-weight: bold;
          }

          .nav-item.active a {
            background-image: linear-gradient(to right, #00b5a9, #01637f);
            padding: 10px 0;
            font-size: 16px;
            font-weight: bold;
          }


        }

        .tab-content {
          box-shadow: 0 0 0 0 !important;
        }

        .card {
          box-shadow: 0 0 0 0 !important;
          padding-top: 0 !important;
          background: transparent !important;
        }
      }
    }
  }

  // MEDIA QUERY END HERE


}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */
.wrapper-my-library-en {
  direction: ltr;
  text-align: left;
  background-image: url(../../../../../../assets/images/kun-background-pattern-white.png);
  background-position: center;
  background-size: 1000px;


  .wrapper-library-inner {
    // padding: 100px 200px !important;

    // .container-custom-width {
    //   max-width: calc(100% - 250px) !important;
    // }

    .tab-set-parent {
      .nav-pills {
        width: 270px !important;
        float: left !important;
        background: white !important;
        min-height: 380px;
        padding: 0;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
        margin-right: 30px !important;
        margin-left: 0 !important;
        border-radius: 10px;
        padding: 20px 0;

        .nav-item .nav-link {

          padding: 10px 20px;
          font-size: 16px;
          font-weight: bold;
          border-radius: 0;
          color: gray;
        }

        .nav-item .nav-link.active {
          background-image: linear-gradient(to right, #00b5a9, #01637f);
          background-color: #00b5a9;
          padding: 10px 20px;
          font-size: 16px;
          font-weight: bold;
          border-radius: 0;
          color: white;
        }

        .nav-item .nav-link.active:hover {
          color: white;
        }

        .nav-item .nav-link:hover {
          background-color: #eaeaea;
          color: #696969;
        }

      }


    }







    .tabset-parent-my-library {
      .nav-stacked {
        background: white;
        height: 100%;
        padding: 0;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;

        .nav-item a {
          padding: 10px 0;
          font-size: 16px;
          font-weight: bold;
        }

        .nav-item.active a {
          background-image: linear-gradient(to right, #00b5a9, #01637f);
          padding: 10px 0;
          font-size: 16px;
          font-weight: bold;
        }


      }

      .tab-content {
        box-shadow: 0 0 0 0 !important;
      }

      .card {
        box-shadow: 0 0 0 0 !important;
        padding-top: 0 !important;
        background: transparent !important;
      }
    }
  }

  // MEDIA QUERY START HERE

  /* Small devices (Mobile phones, 576px and up) */
  @media (max-width: 575px) {
    .wrapper-library-inner {
      padding: 0 !important;

      .container-custom-width {
        max-width: 100% !important;
      }

      .tab-set-parent {
        .nav-pills {
          width: 100% !important;
          margin-top: 20px;
          min-height: 250px !important;

          .nav-item .nav-link {
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 0;
            color: gray;
          }
        }

        .tab-content {
          width: 100% !important;
          margin-top: 20px;
          padding: 0 15px;
        }
      }
    }
  }

  /* Small Devices (Landscape Phone, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 576px) and (max-width: 767px) {
    .wrapper-library-inner {
      padding: 0 !important;

      .container-custom-width {
        max-width: 100% !important;
      }

      .tab-set-parent {
        .nav-pills {
          width: 100% !important;
          margin-top: 20px;
          min-height: 250px !important;

          .nav-item .nav-link {
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 0;
            color: gray;
          }
        }

        .tab-content {
          width: 100% !important;
          margin-top: 20px;
          padding: 0 15px;
        }
      }
    }
  }

  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) and (max-width: 991px) {
    .wrapper-library-inner {
      padding: 50px !important;

      .container-custom-width {
        max-width: 100% !important;
      }

      .tab-set-parent {
        .nav-pills {
          width: 200px !important;
          min-height: 250px !important;
          margin-left: 0 !important;

          .nav-item .nav-link {
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 0;
            color: gray;
          }
        }

        .tab-content {
          width: calc(100% - 230px) !important;
          float: left;
          padding: 0;
        }
      }
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1499px) {


    .wrapper-library-inner {
      padding: 50px 0px !important;

      .container-custom-width {
        max-width: calc(100% - 150px) !important;
      }

      .tab-set-parent {
        .nav-pills {
          width: 200px !important;
          min-height: 250px !important;
          margin-left: 0 !important;

          .nav-item .nav-link {
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 0;
            color: gray;
          }
        }

        .tab-content {
          width: calc(100% - 230px) !important;
          float: left;
          padding: 0;
        }
      }
    }


  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1500px) and (max-width: 3000px) {
    .wrapper-library-inner {
      padding: 100px 200px !important;

      // .container-custom-width {
      //   max-width: calc(100% - 250px) !important;
      // }

      .tab-set-parent {
        .nav-pills {
          width: 270px !important;
          float: left !important;
          background: white !important;
          min-height: 380px;
          padding: 0;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
          margin-left: 30px;
          border-radius: 10px;
          padding: 20px 0;

          .nav-item .nav-link {

            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 0;
            color: gray;
          }

          .nav-item .nav-link.active {
            background-image: linear-gradient(to right, #00b5a9, #01637f);
            background-color: #00b5a9;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 0;
            color: white;
          }

          .nav-item .nav-link.active:hover {
            color: white;
          }

          .nav-item .nav-link:hover {
            background-color: #eaeaea;
            color: #696969;
          }

        }

        .tab-content {
          width: calc(100% - 330px) !important;
          padding: 0;
          float: left !important;
          background: transparent;
        }
      }

      .tabset-parent-my-library {
        .nav-stacked {
          background: white;
          height: 100%;
          padding: 0;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;

          .nav-item a {
            padding: 10px 0;
            font-size: 16px;
            font-weight: bold;
          }

          .nav-item.active a {
            background-image: linear-gradient(to right, #00b5a9, #01637f);
            padding: 10px 0;
            font-size: 16px;
            font-weight: bold;
          }


        }

        .tab-content {
          box-shadow: 0 0 0 0 !important;
        }

        .card {
          box-shadow: 0 0 0 0 !important;
          padding-top: 0 !important;
          background: transparent !important;
        }
      }
    }
  }

  // MEDIA QUERY END HERE


}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */
