.resetModal {
  background: rgba(0, 0, 0, 0.5);
  overflow-y: auto !important;
  z-index: 999999 !important;

  .modal-dialog {
    border-radius: 20px !important;

    .modal-content {
      border-radius: 20px !important;

    }
  }
}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */
.wrapper-lang-setPassword-ar {
  direction: rtl;
  text-align: right;
  position: relative;

  .wrapper-set-password-component {
    border-radius: 20px !important;

    .wrap-modal-header {
      border-bottom: 1px solid lightgray;
      margin-bottom: 0px;
      padding: 20px 30px !important;

      .col-cross-icon {
        text-align: left;

        .cross-icon {
          font-size: 20px;
          margin-top: 10px;
        }

        .cross-icon:hover {
          cursor: pointer;
        }
      }

      .title-modal-register {
        text-align: right;
      }


    }

    .btn-set {
      background-image: linear-gradient(#01637f, #00b5a9) !important;
      margin: 20px 0 !important;
    }

    .label-div {
      text-align: right !important;
    }

    .error-msg-div {
      text-align: left;

      .error-message {
        color: #f44336;
      }
    }
  }
}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */
.wrapper-lang-setPassword-en {
  direction: ltr;
  text-align: left;

  .wrapper-set-password-component {
    border-radius: 20px !important;

    .wrap-modal-header {
      border-bottom: 1px solid lightgray;
      margin-bottom: 0px;
      padding: 20px 30px !important;

      .col-cross-icon {
        text-align: right;

        .cross-icon {
          font-size: 20px;
          margin-top: 10px;
        }

        .cross-icon:hover {
          cursor: pointer;
        }
      }

      .title-modal-register {
        text-align: left;
      }


    }

    .btn-set {
      background-image: linear-gradient(#01637f, #00b5a9) !important;
      margin: 20px 0 !important;
    }

    .label-div {
      text-align: left !important;
    }

    .error-msg-div {
      text-align: right;

      .error-message {
        color: #f44336;
      }
    }
  }
}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */

.link-resend {
  color: #00b5a9 !important;
  cursor: pointer;
  font-size: 24px;
  text-decoration: underline !important;

}

.loader {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;

  img {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    width: 80px !important;
  }
}
