<div [ngClass]="langStyle">
  <div class="modal-header">
    <div class="row" style="width: 100%;">
      <div class="col-11">
        <h4 class="modal-title">{{'Terms and Conditions' | translate}}</h4>
      </div>
      <div class="col-1 col-cross-icon">
        <i class="fal fa-times cross-icon" (click)="activeModal.close(false)"></i>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="wrapper-body-terms" *ngIf="app_ser.app_lang()=='ar'">
      <h2>سياسة مستخدمي الموقع كن</h2>
      <p>من خلال استخدامك للموقع ،تشير إلى أنك توافق على سياسة الموقع وأنك توافق على الالتزام بها. و إن لم تكن راض عن
        الموقع أو محتواه يتوجب عليك إيقاف استخدام الموقع.</p>
      <ul style="padding-right: 25px;">
        <li>التمكن من استخدام الموقع</li>
        <li>التزامات وممارسات المستخدم</li>
        <li>مشاركات المستخدم عبر الموقع</li>
        <li>معايير المحتوى</li>
        <li>ضبط وتنفيذ الإيقاف</li>
        <li>حقوق الملكية الفكرية</li>
        <li>انتهاك حقوق الملكية</li>
        <li>الاعتماد على المعلومات التي تم نشرها</li>
        <li>الخصوصية</li>
        <li>روابط من الموقع</li>
        <li>استخدام رابط الموقع ومميزات الوسائط الاجتماعية</li>
        <li>لا نعدك</li>
        <li>التغيرات</li>
        <li>إعفاء مستحق</li>
        <li>القانون الحاكم ومكانه</li>
        <li>الشمولية</li>
        <li>التنازل والتعديل</li>
        <li>اقتصار المسؤولية</li>
        <li>المعاملات التجارية المستقبلية</li>
        <li>تعليقاتكم</li>
      </ul>
      <!-- UL CONTENT  -->
      <h3>التمكن من استخدام الموقع</h3>
      <p>أنت مسؤول عن اتخاذ جميع الخطوات اللازمة للوصول إلى موقع الالكتروني. نحن نحتفظ بالحق في سحب أو تعديل الموقع ،
        وأي خدمة أو مادة نقوم بتوفيرها على الموقع الإلكتروني ، وفقا لتقديرنا الخاص ودون إخطار لك. لن نكون مسؤولين إذا
        كان أي جزء من الموقع أو الموقع بأكمله غير متاح لأي سبب من الأسباب في أي وقت أو لأي فترة. </p>
      <h3>التزامات وممارسات المستخدم </h3>
      <ol type="a" style="padding-right:15px;">
        <li>
          <h5>يجوز لك استخدام الموقع الإلكتروني فقط حسب الأغراض قانونية ووفقا لهذه السياسة.</h5>
        </li>
        <li>
          <h5>تعدنا بأنك:</h5>
          <ol style="padding-right:15px;">
            <li>في العمر القانوني لإنشاء حساب على كن أكاديمي.</li>
            <li>أنك لن تستخدم الموقع بأي طريقة تنتهك أي قانون أو لائحة محلية أو دولية سارية.</li>
            <li>أنك لن ترسل أو تتلقى أو تحمل أو تنزل أو تستخدم أو تعيد استخدام أي مواد لا تتوافق مع "معايير المحتوى"
              (المحددة أدناه) ؛ </li>
            <li>أنك لن تنتحل شخصية أو تمثل كن أكاديمي أو تحاول تمثيل كن أكاديمي أو أحد موظفي أكاديمي أو مستخدم آخر أو أي
              شخص أو كيان آخر ؛ </li>
            <li>أنك لن تفعل أي شيء يمكن أن يعطل أو يثقل أو يضر أو ​​يضعف الموقع الإلكتروني أو يتعارض مع استخدام أي شخص
              للموقع الإلكتروني؛ </li>
            <li> أنك لن تستخدم أي وسيلة للوصول إلى الموقع الإلكتروني لأي غرض غير قانوني أو ينتهك هذه السياسة ؛</li>
            <li>لن تقوم بإدخال أي فيروسات أو أي مواد ضارة أو ضارة من الناحية التكنولوجية . </li>
          </ol>
        </li>
      </ol>
      <h3>مشاركات المستخدم</h3>
      <ol style="padding-right:25px;">
        <li>قد نقوم من وقت لآخر بتوفير خدمات تفاعلية مثل خصاصية "المشاركة" ( "الخدمات التفاعلية") التي تسمح للمستخدمين
          بالنشر أو التسليم أو العرض أو الإرسال المحتوى أو المواد إلى أشخاص آخرين المحتوى على الموقع الإلكتروني أو من
          خلاله. يجب أن تتوافق جميع مشاركات المستخدم مع معايير المحتوى المحددة في هذه السياسة. </li>
        <li>أي مشاركة للمستخدم تقوم بنشرها هي غير سرية وغير مملوكة، إلى الحد الذي يسمح به القانون. من خلال تقديم مشاركات
          المستخدم ، فإنك تمنح كن أكاديمي وخلفائها الحق في استخدام ، إعادة إنتاج ، تعديل ،عرض، توزيع، والكشف بأي شكل آخر
          لطرف ثالث عن مثل هذه المواد. تعد بأنك تملك أو تسيطر على جميع الحقوق في ما تشاركه عبر الموقع ولديك الحق في منح
          هذا الترخيص لنا. الموافقة على أنه لن يكون لديك أي مطالبة أو أي حق الرجوع ضد كن أكاديمي بسبب انتهاك أي حق
          الملكية فيما يتعلق بمشاركتك على الموقع. أنت تقر وتوافق على أنك تتنازل عن أي حقوق أخلاقية (أو مشابهة) قد تكون
          لديك فيما يتعلق بمشاركتك كمستخدم، بما في ذلك على سبيل المثال، الحق في أن تنسب كمؤلف لما تشاركه. </li>
        <li>إذا قمت بالإقدام على نقل المحتوى الذي قدمته على الموقع إلى مستخدمين آخرين للموقع الإلكتروني أو أي أطراف
          ثالثة، فأنت توافق على نشر المحتوى الذي شاركته من خلال الموقع ونقله إلى الآخرين على مسؤوليتك الخاصة. بالإضافة
          إلى ذلك ، لا يمكننا التحكم في مشاركات المستخدمين الآخرين للموقع الإلكتروني أو أي أطراف ثالثة الذين قد تختار ان
          تشاركهم مساهمات المستخدم الخاصة بك. لذلك ، لا يمكننا ولا نضمن أن مشاركات المستخدمين الخاصة بك لن يتم عرضها من
          قبل أشخاص غير مصرح لهم بذلك. </li>
        <li>يجب أن تكون مشاركات المستخدم دقيقة وتلتزم بجميع القوانين السارية في دولة الإمارات العربية المتحدة. أنت تدرك
          وتقر بأنك مسؤول عن أي مشاركات ترسلها أو تساهم فيها ، و أنك تتحمل المسؤولية الكاملة عن هذا المحتوى ، بما في ذلك
          قانونيتها وموثوقيتها ودقتها وملاءمتها. نحن لسنا مسؤولين تجاه أي طرف ثالث وعن محتوى أو دقة أي مشاركات للمستخدم
          نشرتها أنت أو أي مستخدم آخر على الموقع. </li>
      </ol>
      <h3>معايير المحتوى </h3>
      <ul style="padding-right:25px;">
        <li>يحتوي على أي مواد تشهيرية أو فاحشة أو غير لائقة أو مسيئة أو عنيفة أو مفعمة بالكراهية أو مثيرة للجدل أو غير
          ذلك من الاعتراضات. </li>
        <li>يروج للمواد الجنسية الصريحة أو الإباحية أو العنيفة أو التمييز على أساس العرق أو الجنس أو الدين أو الجنسية أو
          الإعاقة أو التوجه الجنسي أو العمر.</li>
        <li>ينتهك أي شهادة براءة اختراع أو علامة تجارية أو سر تجاري أو حق نشر أو حقوق ملكية فكرية أخرى أو حقوق أخرى لأي
          طرف ثالث. </li>
        <li>ينتهك الحقوق القانونية (بما في ذلك حق الدعاية والإعلان والخصوصية) للآخرين أو احتواء أي مادة يمكن أن تؤدي إلى
          أي مسؤولية مدنية أو جنائية بموجب القوانين المطبقة لها.</li>
        <li>ترويج أي نشاط غير قانوني، أو دعاية أو تقديم المساعدة في أي فعل غير قانوني. </li>
        <li>تتسبب في إزعاجا أو قلقا لا داعي له أو من المحتمل أن تتسبب في إحراج أو إزعاج أي شخص آخر. </li>
        <li>ينتحل شخصية أي شخص أو يشوه هويتك أو انتمائك لأي شخص أو منظمة. </li>
        <li>أن يشترك في الأنشطة التجارية أو المبيعات. </li>
        <li>من المحتمل أن يخدع أو يعطي انطباعا خاطئا, أنه مصدق منا أو من أي شخص. </li>
      </ul>
      <h3>ضبط وتنفيذ الإيقاف </h3>
      <p>لدينا الحق ، ولكن ليس الالتزام ، في مراجعة أو تعديل أيا من مشاركات المستخدم. وتوافق على أن هذه المساهمات لا
        تعكس آراء كن أكاديمي ولا تؤيدها. </p>
      <ul style="padding-right:25px;">
        <li>
          <h5>لدينا الحق في:</h5>
          <ol type="a">
            <li> اتخاذ أي إجراء فيما يتعلق (بمحتوى) المستخدم التي نراها ضرورية أو مناسبة؛ </li>
            <li>اتخاذ الإجراءات القانونية المناسبة، بما في ذلك الإحالة إلى التطبيق القانوني ، لأي استخدام غير قانوني أو
              غير مصرح به للموقع.</li>
            <li>فصل أو إيقاف إمكانيتك للوصول إلى الموقع.</li>
          </ol>
        </li>
        <li>
          <h5>بدون التقييد بما سبق</h5>
          <p>لدينا الحق في التعاون الكامل مع سلطات تنفيذ القانون التي توجّهنا إلى الكشف عن هوية أو أي معلومات متعلقة بأي
            شخص ينشر مواد على الموقع أو من خلاله. نحن لا نتعهد بمراجعة المواد قبل نشرها على موقع الإلكتروني، ولا يمكننا
            ضمان إزالة المواد غير المقبولة على الفور بعد نشرها. ووفقا لذلك فإننا لا نتحمل أي مسؤولية عن أي إجراء بشأن
            عمليات الإرسال أو الاتصالات أو المحتوى المقدم من أي مستخدم أو طرف ثالث. نحن لا نتحمل أي مسؤولية تجاه أي شخص
            عن أدائه تجاه الأنشطة الموضحة في هذا القسم.</p>
        </li>
      </ul>
      <h3>حقوق الملكية الفكرية</h3>
      <ol style="padding-right:25px;">
        <li>الموقع الإلكتروني ومحتوياته وخصائصه ووظائفه بالكامل (بما في ذلك جميع المعلومات والبرامج والنصوص والعروض
          والصور والفيديو والصوت والتصميم والاختيار والترتيب) مملوكة ل"كن أكاديمي" ، المرخصين أو غيرهم من مقدمي هذه
          المواد ، ومحمية من قبل الولايات المتحدة وحقوق النشر الدولية والعلامات التجارية وشهادة البراءة والأسرار
          التجارية وغيرها من قوانين الملكية الفكرية أو حقوق الملكية. تسمح لك هذه السياسة باستخدام الموقع الإلكتروني
          لاستخدامك الغير التجاري فقط. لا يحق نقل أي ملكية أو صلاحية أو محتوى في أو إلى الموقع الإلكتروني، ويتم حجز جميع
          الحقوق غير الممنوحة صراحة من قبل كن أكاديمي.</li>
        <li> يجب عدم إعادة إنتاج أو توزيع أو تعديل أو إنشاء أعمال مشتقة أو عرض علني أو إجراء أو نشر أو تنزيل أو تخزين أو
          نقل أي من المواد الموجودة على الموقع الإلكتروني ، باستثناء ما يلي: <ul style="list-style: none; padding:0">
            <li>
              <h5>يجوز لك:</h5>
              <ol style="padding: 0">
                <li>حفظ الملفات التي يتم حفظها مؤقتا تلقائيا بواسطة متصفح الانترنت الخاص بك لهدف تحسين العرض.</li>
                <li>إذا قمنا بإضافة أي تطبيق للتنزيل ، فيجوز لك تنزيل نسخة واحدة إلى جهاز الكمبيوتر أو الهاتف المحمول
                  للاستخدام الشخصي فقط ،الغير التجاري.</li>
                <li>إذا قمنا بتوفير خصائص وسائل التواصل الاجتماعي في أي وقت ، فيمكنك استخدام هذه الخصائص كما يتم
                  تمكينها.</li>
              </ol>
            </li>
            <li>
              <h5>لا يجوز لك: </h5>
              <ol style="padding: 0">
                <li>استخدام أي رسوم توضيحية أو أي صور فوتوغرافية أو مقاطع فيديو أو مقاطع صوتية أو أي رسومات منفصلة عن
                  النص لها؛ أو</li>
                <li>حذف أو تغيير أي حقوق نشر أو علامات تجارية أو غيرها من إشعارات حقوق الملكية من نسخ المواد من الموقع
                  الإلكتروني؛ أو </li>
                <li>استخدام أي جزء من الموقع أو أي خدمات أو مواد متاحة عبر الموقع لأي غرض تجاري. </li>
                <li>اسم كن أكاديمي وشعاركن أكاديمي وجميع الأسماء ذات الصلة والشعارات وأسماء المنتجات والخدمات والتصاميم
                  و العلامات تجارية التابعة ل"كن أكاديمي" أو الشركات التابعة لها أو المرخص لهم. لا يجوز لك استخدام مثل
                  هذه العلامات دون الحصول على إذن كتابي مسبق من إدارة كن أكاديمي جميع الأسماء الأخرى والشعارات وأسماء
                  المنتجات والخدمات والتصاميم والشعارات الموجودة على الموقع هي علامات تجارية لمالكيها. </li>
              </ol>
            </li>
          </ul>
      </ol>
      <h3>انتهاك حقوق الملكية </h3>
      <p>نتخذ انتهاك حقوق النشر على محمل الجد. سنقوم بالرد على ادعاءات الانتهاك لحقوق الطبع والنشر عند اللزوم. إذا كنت
        تعتقد أن أي مواد يمكن الوصول إليها عبر الموقع الإلكتروني أو منه تنتهك حقوق الطبع والنشر الخاصة بك ، يجوز لك طلب
        إزالة هذه المواد (أو الوصول إليها) من موقع الإلكتروني عن طريق إرسال رسالة إلى وكيل حقوق الطبع والنشر (المحدد
        أدناه). </p>
      <h5>ويجب عليك إرسال الآتي: </h5>
      <ol style="padding-right:25px;">
        <li>تحديد المادة التي لديها حقوق الطبع والنشر أو الذي تعتقد أنها منتهكة ، أو إذا كانت تتضمن مواد عديدة على
          الموقع الالكتروني ، أو قائمة تمثيلية لهذه المواد. </li>
        <li>تحديد المادة التي تعتقد أنها تنتهك ، بطريقة دقيقة بما فيه الكفاية لتسمح لنا بتحديد هذه المادة. </li>
        <li>معلومات كافية يمكننا من خلالها الاتصال بك (بما في ذلك اسمك وعنوان بريدك ورقم هاتفك ، وعنوان البريد
          الإلكتروني إن وجد). </li>
        <li>بيان بأن لديك اعتقاد قوي بأن المواد المحمية بحقوق الطبع والنشر المستخدمة غير مصرح بها من قبل مالك حقوق الطبع
          والنشر أو وكيله. </li>
        <li>بيان بأن المعلومات الواردة في الإخطار الكتابي دقيقة. </li>
        <li>بيان، تحت تحت طائلة عقوبة شهادة الزور، بأنك مخول بالتصرف نيابة عن مالك حقوق النشر. </li>
        <p>وكيل حقوق الطبع والنشر المعين لدينا لتلقي إشعارات لحقوق طبع ونشر المواد الرقمية هو: </p>
        <p>
          <span>Kun Academy</span> <br>
          <span>ATTN: Copyright Agent</span> <br>
          <span>Address: Media City, Dubai</span> <br>
          <span>Email: info@kun.academy</span> <br>
          <span>Fax: __________</span>
        </p>
      </ol>
      <h3>الاعتماد على المعلومات التي تم نشرها </h3>
      <p>المعلومات المقدمة على الموقع أو من خلاله متاحة فقط لأغراض المعلومات العامة. نحن لا نقدم أي بيانات بخصوص دقة أو
        اكتمال أو فائدة هذه المعلومات. إن اعتمدت على هذه المعلومات فهذا على مسؤوليتك الخاصة. يتضمن الموقع محتوى يقدمه
        أطراف ثالثة، بما في ذلك المواد التي يقدمها المستخدمون الآخرون والمرخصون من جهات خارجية. نحن لسنا مسؤولين أمامك
        أو أمام أي طرف ثالث، عن المحتوى أو دقة المواد المقدمة من قبل أي طرف ثالث. </p>
      <h3>الخصوصية</h3>
      <p>جميع المعلومات التي تقدم على الموقع تخضع لسياسة الخصوصية الخاصة بنا. يعد استخدامك للموقع الإلكتروني بمثابة
        موافقة منك على جميع الإجراءات التي نتخذها نحن فيما يتعلق بالمعلومات التي تقدمها وما يتوافق مع سياسة الخصوصية.
      </p>
      <h3>روابط من الموقع</h3>
      <p>إذا كان الموقع يحتوي على روابط لمواقع ومصادر أخرى مقدمة من أطراف ثالثة، فنحن لا نتحكم في محتويات تلك المواقع أو
        المصادر ، ولا نتحمل أي مسؤولية عنها أو عن أي خسارة أو ضرر قد ينشأ عن استخدامك لها. إذا اردت استخدام اي من مواقع
        التابعة للأطراف الثالثة، فإنك تقوم بذلك على مسؤوليتك الخاصة وتخضع لشروط وأحكام الاستخدام لمثل هذه المواقع
        الإلكترونية الخاصة بالأطراف الثالثة. </p>
      <h3>استخدام رابط الموقع وخصائص الوسائط الاجتماعية </h3>
      <p>يمكنك استخدام الرابط إلى صفحتنا الرئيسية، بشرط أن تفعل ذلك بطريقة عادلة وقانونية ولا تلحق الضرر بسمعتنا أو
        تستفيد منها ، ويجب عليك عدم إنشاء رابط بطريقة توحي بتداعي المعنى،أو موافقة أو تأييد من جانبنا. قد يوفر موقع
        الإلكتروني بعض خصائص الوسائط الاجتماعية التي</p>
      <h5> تمكّنك من: </h5>
      <ul>
        <li>الربط من مواقع الخاصة بك أو مواقع طرف ثالث إلى المحتوى المتوفر على موقع الإلكتروني. </li>
        <li>إرسال محتوى أو روابط لمحتوى معين من الموقع عن طريق رسائل البريد الإلكتروني أو عن طريق أي نوع من أنواع
          الاتصالات الأخرى. </li>
        <li>عرض أجزاء من المحتوى الخاص بك المقدم على المواقع الخاصة بك أو على الموقع تابع لطرف ثالث. </li><br>
        <p>يجوز لك استخدام هذه الخصائص فقط كما يتم توفيرها من قبلنا، و فيما يتعلق بالمحتوى الذي يتم عرضه فقط، وبخلاف ذلك
          وفقا لأي شروط وأحكام إضافية نقدمها فيما يتعلق بهذه الخصائص </p>
      </ul>
      <h5>يجب ألا:</h5>
      <ul>
        <li>ينشأ رابط من أي موقع غير مملوك لك. </li>
        <li>يعرض محتوى الموقع أو أجزاء منه، أو استخدام رابط الموقع، على أي موقع آخر. </li>
        <li>ان يتخذ أي إجراء فيما يتعلق بالمواد الموجودة على الموقع الإلكتروني التي تتعارض مع أي بند آخر من هذه السياسة.
        </li>
        <li>نقل حساب المستخدم الخاص بك لأي شخص آخر. </li> <br>
        <p>يجب على الموقع الإلكتروني الذي تقوم باستخدام رابطه أو الذي يمكنك من خلاله الوصول إلى محتوى معين ، أن يتوافق
          مع معايير المحتوى المحددة في هذه السياسة. وتوافق على التعاون معنا في وقف أي إطار أو رابط لموقعنا غير مصرح به
          على الفور. يحق لنا سحب إذن الربط لموقعنا دون إشعار سابق. قد نقوم بتعطيل جميع أو أي خصائص وسائل التواصل
          الاجتماعي وأي روابط في أي وقت دون سابق إنذار وفقا لتقديرنا.</p>
      </ul>
      <h3>لا نعدك</h3>
      <p>أنت مسؤول عن استخدامك للموقع أو المواد التي تحصل عليها من خلال الموقع. والموقع متوفر على أساس "كما هو" و "كما
        هو متاح" ، دون أي وعود من أي نوع ، سواء صريحة أو ضمنية. لا تتعهد كن أكاديمي أو أي شخص مرتبط ب كن أكاديمي بأي وعد
        أو ضمان أو إقرار فيما يتعلق بالشمولية أو الأمان أو موثوقية أو جودة أو دقة أو إتاحة الموقع. دون الاقتصار من ما
        سبق ذكره، كن أكاديمي أو أي شخص مرتبط ب كن أكاديمي لا يعدوا بأن أو يمثلوا أو يضمنوا أو يتعهدوا بأن الموقع أو
        المواد التي تم الحصول عليها عن طريق الموقع الإلكتروني أو أي جزء منها سيكون دقيقا أو موثوقا أو خاليا من الأخطاء
        أو غير محرف ، وأن يتم إصلاح الأخطاء، وأن الموقع أو الجهاز المرسل التابع بالموقع خال من الفيروسات أو أي مواد ضارة
        الأخرى. أو أن الموقع أو المواد المنشورة عبر الموقع الإلكتروني ستلبي احتياجاتك أو توقعاتك. وتخلي كن أكاديمي
        مسؤوليتها عن جميع الضمانات من أي نوع ، سواء كانت صريحة أو ضمنية أو قانونية أو غير ذلك، بما في ذلك أي ضمانات
        صلاحية العرض في السوق وعدم الانتهاك وتطابق لأي غرض معين. </p>
      <h3>التغيرات</h3>
      <p>نحن نحتفظ بالحق ، وفقا لتقديرنا الخاص، في حال تغيير شروط هذه السياسة في أي وقت, تسري أي تغييرات فور نشرها على
        الموقع .واستخدامك المستمر للموقع هو بمثابة موافقتك على جميع هذه الشروط والأحكام. </p>
      <h3>إعفاء مستحق </h3>
      <p>نحن نحتفظ بالحق ، وفقا لتقديرنا الخاص، في حال تغيير شروط هذه السياسة في أي وقت, تسري أي تغييرات فور نشرها على
        الموقع .واستخدامك المستمر للموقع هو بمثابة موافقتك على جميع هذه الشروط والأحكام. </p>
      <h3>إعفاء مستحق</h3>
      <p>تقر بأن مخالفة أي من حقوق الخصوصية أو حقوق الملكية الخاصة بهذه السياسة قد تتسبب في حدوث أضرار يتعذر إصلاحها من
        مالية ومعنوية. وبناء على ذلك، يجوز ل كن أكاديمي اتخاذ إجراء يقضي بإلزامك من أي وجميع الأفعال المخالفة لتلك
        الأحكام، ويجوز ل كن أكاديمي أن تطلب إدخال أمر قضائي يقضي بفرض أي خرق أو تهديد بتخالف تلك الأحكام. بالإضافة إلى
        أي نوع آخر من أشكال الإعفاء يحق ل كن أكاديمي الحصول عليه بموجب قانون أو حقوق ملكية. </p>
      <h3>القانون الحاكم ومكانه </h3>
      <p>هذه السياسة أنشأتها قوانين محاكم دولة الإمارات العربية المتحدة. </p>
      <h3>الشمولية</h3>
      <p>إذا كان أي حكم من أحكام هذه السياسة تنصه المحكمة المختصة يتعارض مع القانون، فيتم تغيير النص بحيث يحقق معنى
        الحكم الصحيح على أكمل وجه إلى أقصى حد يسمح به القانون. والأحكام الباقية التي تنصها هذه السياسة ستبقى سارية. </p>
      <h3>اقتصار المسؤولية </h3>
      <p>إلى أقصى حد يسمح به القانون، لا ل كن أكاديمي مرخصيها أو الشركات التابعة لها أو الموظفين أو الوكلاء أو المسؤولين
        أو المديرين أن يتحملوا المسئولية تجاهك أو تجاه أي طرف ثالث عن أي أضرار خاصة أو متعاقبة أو غير مباشرة أو أي أضرار
        على الإطلاق ، بما في ذلك، الذين يتسببون في خسائر عند استخدام ، أو فقدان للبيانات، سواء كنا قد أبلغنا باحتمالية
        هذه الأضرار، وعن احتمالية المساءلة، خارج أو مع استخدام الموقع أو أي موقع مرجعي أو رابط بموقعنا. سوف تكون مسؤولا
        عن جميع المطالبات والأضرار الناجمة عن إساءة استخدام الموقع من قبلك. </p>
      <h3>التنازل والتعديل</h3>
      <p>إذا فشلت كن أكاديمي في اتخاذ الإجراءات الصارمة لإلزامك بموجب أيا من هذه الشروط والأحكام ، أو إذا فشلت كن
        أكاديمي في ممارسة أيا من الحقوق أو الجزاء التي يحق لها بموجب هذه السياسة ، فإن هذا لن يشكل تنازلا عن هذه الحقوق
        أو تعويضا ولن يعفيك من الامتثال لهذه الالتزامات. إن أي تنازل من قبل كن أكاديمي عن أي تقصير سوف يشكل تنازلا عن أي
        تقصير لاحق، ولن يكون التنازل عن أي من هذه الشروط والأحكام ساري المفعول ما لم ينص صراحة على أنه تنازل ويتم إبلاغك
        كتابيا. </p>
      <h3>المعاملات التجارية المستقبلية </h3>
      <p>بينما نستمر في تطوير أعمالنا، قد تتغير الملكية مثل دمج و / أو بيع كل أسهمنا وممتلكاتنا بشكل كبير. في مثل هذه
        المعاملات، تكون معلومات مستخدمي الموقع بشكل عام واحدة من هذه المعاملات المحولة ، وعن طريق تقديم أي بيانات لنا ،
        فإنك توافق على أنه يجوز نقل هذه البيانات إلى مثل هذه الأطراف في هذه الظروف. ومع ذلك ، فإن أي طرف يشتري ممتلكاتنا
        سيخضع لالتزام بالحفاظ على سلامة معلومات التعريف الشخصية الخاصة بك. </p>
      <h3>المدفوعات </h3>
      <p>يتم تشغيل موقع الإلكتروني من قبل كن أكاديمي . إذا كان لديك أي أسئلة ، يرجى الاتصال بنا عبر البريد أنت توافق على
        دفع رسوم الدورات التدريبية التي تشتريها ، كما أنك تفوضنا في فرض رسوم على بطاقة الخصم أو الائتمان الخاصة بك أو
        معالجة للدفع لتلك الرسوم. يعمل كن أكاديمي مع شركاء معالجة الدفع من أطراف ثالثة لنقدم لك أكثر طرق الدفع ملاءمة في
        بلدك وللحفاظ على معلومات الدفع آمنة. </p>
      <p> عند إجراء عملية شراء ، فإنك توافق على عدم استخدام طريقة دفع غير صالحة أو غير مصرح بها. إذا فشلت طريقة الدفع
        الخاصة بك وما زلت تحصل على حق الوصول إلى الدورة التدريبية التي تسجل فيها ، فإنك توافق على دفع الرسوم المقابلة
        لنا في غضون ثلاثين (30) يومًا من إخطارنا. نحن نحتفظ بالحق في تعطيل الوصول إلى أي دورة لم نتلق لها مدفوعات كافية.
      </p>
      <h3>المبالغ المستردة والاعتمادات </h3>
      <p> في حال قام المستخدم بشراء دورة تدريبية ولم يجد الفائدة المرجوة منها فمن حقه استرجاع المبلغ المالي الذي قام
        بدفعه . وذلك بطلب رسمي خلال 30 يوم من تاريخ شراءه للدورة. وفقًا لتقديرنا ، إذا اعتقدنا أنك تسيء استخدام سياسة
        الائتمان أو الاسترداد ، فإننا نحتفظ بالحق في حظر حسابك وتقييد جميع الاستخدامات المستقبلية للخدمات. إذا حظرنا
        حسابك أو عطلنا وصولك إلى دورة تدريبية بسبب انتهاكك لهذه الشروط أو إرشادات السلامة والأمان ، فلن تكون مؤهلاً
        لتلقي أي ائتمان أو رد. </p>
      <h3>تعليقاتكم ومخاوفكم </h3>
      <p>يتم تشغيل موقع الإلكتروني من قبل كن أكاديمي . إذا كان لديك أي أسئلة ، يرجى الاتصال بنا عبر البريد الإلكتروني
        على info@kun.academy. </p>
    </div>
    <div class="wrapper-body-terms" *ngIf="app_ser.app_lang()=='en'">
      <h2>User web policy Kun Academy</h2>
      <p>By using the website, you indicate that you accept the policy and that you agree to abide by it. Your remedy
        for dissatisfaction with the website or its contents is to stop using the website. </p>
      <ul style="padding-right: 25px;">
        <li>Accessing the website</li>
        <li>Obligations and representations</li>
        <li>User contributions</li>
        <li>Content standards</li>
        <li>Monitoring and enforcement; termination</li>
        <li>Intellectual property rights</li>
        <li>Copyright infringement</li>
        <li>Reliance on information posted</li>
        <li>Privacy</li>
        <li>Links from the website</li>
        <li>Linking to the website and social media features</li>
        <li>No promises</li>
        <li>Changes</li>
        <li>Equitable relief</li>
        <li>Governing law and venue</li>
        <li>Severability</li>
        <li>Waiver and amendment</li>
        <li>Limitation of liability</li>
        <li>Future business transactions</li>
        <li>Your comments and concerns</li>
      </ul>
      <h3>Accessing the website</h3>
      <p>You are responsible for making all arrangements necessary for you to have access to the Website. We reserve the
        right to withdraw or amend the Website, and any service or material that we provide on the Website, in our sole
        discretion and without notice to you. We will not be liable if, for any reason, all or any part of the Website
        is unavailable at any time or for any period.</p>
      <h3>Your obligations and representations</h3>
      <ol style="padding-right:15px;" type="a">
        <li>
          <h5> You may use the Website only for lawful purposes and in accordance with this Policy.</h5>
        </li>
        <li>
          <h5> You promise that:</h5>
          <ol style="padding-right:15px;">
            <li>you are of legal age to form a binding contract with KUN Academy;</li>
            <li>you will not use the Website in any way that violates any applicable local or international law or
              regulation;</li>
            <li>you will not send, knowingly receive, upload, download, use or re-use any material which does not comply
              with the ‘Content Standards’ (defined below);</li>
            <li>you will not impersonate or attempt to impersonate KUN Academy, a KUN Academy employee, another user or
              any other person or entity;</li>
            <li>you will not do anything that could disable, overburden, damage, or impair the Website or interfere with
              any person’s use of the Website;</li>
            <li>you will not use any robot, spider or other automatic device, process or means to access the Website for
              any unlawful purpose or in violation of this Policy;</li>
            <li>you will not introduce any viruses, trojan horses, worms, logic bombs or other material which is
              malicious or technologically harmful;</li>
          </ol>
        </li>
      </ol>
      <h3>User Contributions</h3>
      <p>These content standards apply to all User Contributions and use of Interactive Services, if offered. User
        Contributions must in their entirety comply with all applicable local and international laws and regulations.
        Without limiting the foregoing, User Contributions must not:</p>
      <ol style="padding-right:25px;">
        <li> We may from time-to-time provide interactive services such as ‘share’ features (collectively, “Interactive
          Services”) that allow users to post, submit, publish, display or transmit to other persons (hereinafter,
          “post”) content or materials (collectively, “User Contributions”) on or through the Website. All User
          Contributions must comply with the Content Standards set out in this Policy.</li>
        <li>Any User Contribution that you post will be considered non-confidential and non-proprietary, to the extent
          permitted by law. By providing a User Contribution, you grant KUN Academy and its successors the right to use,
          reproduce, modify, perform, display, distribute and otherwise disclose to third parties any such material. You
          promise that you own or control all rights in and to the User Contributions and have the right to grant such
          license to us. You agree that you will have no claim or other recourse against KUN Academy for infringement of
          any proprietary right with respect to your User Contributions. You acknowledge and agree that you waive any
          moral (or similar) rights that you may have in any territory in respect of User Contributions, including but
          not limited to, the right to be attributed as the author of the User Contributions.</li>
        <li> If you provide a User Contribution to be transmitted to other users of the Website or any third parties,
          you accept that your User Contributions are posted on and transmitted to others at your own risk.
          Additionally, we cannot control the actions of other users of the Website or any third parties with whom you
          may choose to share your User Contributions. Therefore, we cannot and do not guarantee that your User
          Contributions will not be viewed by unauthorized persons. </li>
        <li>User Contributions must be accurate and comply with all applicable laws in the united Arab Emirates You
          understand and acknowledge that you are responsible for any User Contributions you submit or contribute, and
          you, not KUN Academy, have fully responsibility for such content, including its legality, reliability,
          accuracy and appropriateness. We are not responsible, or liable to any third-party, for the content or
          accuracy of any User Contributions posted by you or any other user of the Website.</li>
      </ol>
      <h3>Content Standards</h3>
      <ul style="padding-right:25px;">
        <li>Contain any material that is defamatory, obscene, indecent, abusive, offensive, harassing, violent, hateful,
          inflammatory or otherwise objectionable</li>
        <li>Promote sexually explicit or pornographic material, violence, or discrimination based on race, sex,
          religion, nationality, disability, sexual orientation or age</li>
        <li>Infringe any patent, trademark, trade secret, copyright or other intellectual property or other rights of
          any third-party.</li>
        <li>Infringe the legal rights (including the right of publicity and privacy) of others or contain any material
          that could give rise to any civil or criminal liability under applicable laws.</li>
        <li>Promote any illegal activity, or advocate, promote or assist any unlawful act.</li>
        <li>Cause annoyance, inconvenience or needless anxiety or be likely to upset, embarrass, alarm or annoy any
          other person. </li>
        <li>Impersonate any person, or misrepresent your identity or affiliation with any person or organization </li>
        <li>Involve commercial activities or sales</li>
        <li>Be likely to deceive or give the impression that they emanate from or are endorsed by us, or any other
          person or entity</li>
      </ul>
      <h3>Monitoring and Enforcement; Termination</h3>
      <p>We have the right, but not the obligation, to review, screen or edit any User Contribution. You accept that
        such contributions do not reflect the views of KUN Academy and are not endorsed by KUN Academy.</p>
      <ul style="padding-right:25px;">
        <li>
          <h5>We have the right to:</h5>
          <ol type="a">
            <li>take any action with respect to User Contributions that we deem necessary or appropriate;</li>
            <li>take appropriate legal action, including without limitation, referral to law enforcement, for any
              illegal or unauthorized use of the Website; </li>
            <li>terminate or suspend your access to all or part of the Website.</li>
          </ol>
        </li>
        <li>
          <h5>Without limiting the foregoing,</h5>
          <p> we have the right to fully cooperate with law enforcement authorities requesting or directing us to
            disclose the identity or other information of anyone posting any materials on or through the Website. We do
            not undertake to review material before it is posted on the Website, and cannot ensure prompt removal of
            objectionable material after it has been posted. Accordingly, we assume no liability for any action or
            inaction regarding transmissions, communications or content provided by any user or third-party. We have no
            liability or responsibility to anyone for performance or nonperformance of the activities described in this
            section.</p>
        </li>
      </ul>
      <h3>Intellectual Property Rights</h3>
      <ol style="padding-right:25px;">
        <li> The Website and their entire contents, features and functionality (including but not limited to all
          information, software, text, displays, images, video and audio, and the design, selection and arrangement
          thereof) are owned by Kun Academy, its licensors or other providers of such material, and are protected by
          United States and international copyright, trademark, patent, trade secret and other intellectual property or
          proprietary rights laws. This Policy permits you to use the Website for your non-commercial use only. No
          right, title or interest in or to the Website or any content on the Website is transferred to you, and all
          rights not expressly granted, are reserved by KUN Academy.</li>
        <li> You must not reproduce, distribute, modify, create derivative works of, publicly display, publicly perform,
          republish, download, store or transmit any of the material on the Website, except as follows: You may store
          files that are automatically cached by your Web browser for display enhancement purposes; if we provide
          desktop, mobile or other applications for download, you may download a single copy to your computer or mobile
          device solely for your own personal, non-commercial use, provided you agree to be bound by an applicable end
          user license agreement for such applications; and if we provide social media features at any time, you may
          take such actions as are enabled by such features. <ul style="list-style: none; padding:0">
            <li>
              <h5> You may not:</h5>
              <ol style="padding: 0">
                <li> use any illustrations, photographs, video or audio sequences or any graphics separately from KUN
                  Academy text; or </li>
                <li> delete or alter any copyright, trademark or other proprietary rights notices from copies of
                  materials from the Website; or</li>
                <li>access or use for any commercial purposes any part of the Website or any services or materials
                  available through the Website.</li>
                <li>The Name Kun Academy, the logo of KUN, and all related names, logos, product and service names,
                  designs and slogans, are trademarks of Kun Academy or its affiliates or licensors. You may not use
                  such marks without the prior written permission of KUN Academy’s administration. All other names,
                  logos, product and service names, designs and slogans on the Website are the trademarks of their
                  respective owners.</li>
              </ol>
            </li>
          </ul>
        </li>
      </ol>
      <h3>Copyright Infringement</h3>
      <p>We take claims of copyright infringement seriously. We will respond to notices of alleged copyright
        infringement where appropriate. If you believe any materials accessible on or from the Website infringe your
        copyright, you may request removal of those materials (or access thereto) from the Website by submitting written
        notification to our Copyright Agent (designated below).</p>
      <h5>substantially the following:</h5>
      <ol style="padding-right:25px;">
        <li>Identification of the copyrighted work you believe to have been infringed or, if the claim involves multiple
          works on the Website, a representative list of such works. </li>
        <li>Identification of the material you believe to be infringing, in a sufficiently precise manner to allow us to
          locate that material.</li>
        <li>Adequate information by which we can contact you (including your name, postal address, telephone number and,
          if available, e-mail address). </li>
        <li>A statement that you have a good faith belief that use of the copyrighted material is not authorized by the
          copyright owner, its agent or the law </li>
        <li>A statement that the information in the written notice is accurate.</li>
        <li>A statement, under penalty of perjury, that you are authorized to act on behalf of the copyright owner.
        </li>
        <p>Our designated Copyright Agent to receive Notices is:</p>
        <p><span>Kun Academy</span><br><span>ATTN: Copyright Agent</span><br><span>Address: Media City,
            Dubai</span><br><span>Email: info@kun.academy</span><br></p>
      </ol>
      <h3>Reliance on information posted</h3>
      <p>The information presented on or through the Website is made available solely for general information purposes.
        We do not make any statements regarding the accuracy, completeness or usefulness of this information. Any
        reliance you place on such information is strictly at your own risk. The Website includes content provided by
        third parties, including materials provided by other users and third-party licensors. We are not responsible, or
        liable to you or any third-party, for the content or accuracy of materials provided by any third parties.</p>
      <h3>Privacy</h3>
      <p>All information we collect on the Website is subject to our Privacy Policy By using the Website, you consent to
        all actions taken by us with respect to your information in compliance with the Privacy Policy. </p>
      <h3>Links from the website</h3>
      <p>If the Website contains links to other sites and resources provided by third parties, these links are provided
        for your convenience only. We have no control over the contents of those sites or resources, and accept no
        responsibility for them or for any loss or damage that may arise from your use of them. If you decide to access
        any third-party websites linked to the Website, you do so entirely at your own risk and subject to the terms and
        conditions of use for such third-party websites.</p>
      <h3>Linking to the website and social media features</h3>
      <p>You may link to our homepage, provided you do so in a way that is fair and legal and does not damage our
        reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of
        association, approval or endorsement on our part. The Website may provide certain social media features that</p>
      <h5> enable you to: </h5>
      <ul>
        <li>Link from your own or certain third-party websites to certain content on the Website</li>
        <li>Send e-mails or other communications with certain content or links to specific content on the Website </li>
        <li>Cause limited portions of content on the Website to be displayed or appear to be displayed on your own or
          certain third-party websites</li>
        <br>
        <p>You may use these features solely as they are provided by us, and solely with respect to the content they are
          displayed with, and otherwise in accordance with any additional terms and conditions we provide with respect
          to such features. Subject to the foregoing,</p>
      </ul>
      <h5>you must not:</h5>
      <ul>
        <li>Establish a link from any website that is not owned by you.</li>
        <li>Cause the Website or portions of them to be displayed, or appear to be displayed by, for example, framing,
          deep linking or in-line linking, on any other site</li>
        <li>Otherwise take any action with respect to the materials on the Website that is inconsistent with any other
          provision of this Policy.</li>
        <li>No promises</li>
        <br>
        <p>Your use of the website or items obtained through the website is at your own risk. The website is provided on
          an “as is” and “as available” basis, without any promises of any kind, either express or implied. Neither kun
          academy nor any person associated with kun academy makes any promise, warranty or representation with respect
          to the completeness, security, reliability, quality, accuracy or availability of the website. Without limiting
          the foregoing, neither kun academy nor anyone associated with kun academy promises, represents or warrants
          that the website or items obtained through the website or any portion thereof will be accurate, reliable,
          error-free or uninterrupted, that defects will be corrected, that the website or the server that makes them
          available are free of viruses or other harmful components, or that the website or items obtained through the
          website will otherwise meet your needs or expectations. Kun academy hereby disclaims all warranties of any
          kind, whether express or implied, statutory or otherwise, including but not limited to any warranties of
          merchantability, non-infringement and fitness for particular purpose. </p>
      </ul>
      <h3>Changes</h3>
      <p>We reserve the right, in our sole discretion, to change the terms of this Policy at any time. Any changes are
        effective immediately upon posting to the Website. Your continued use of the Website constitutes your agreement
        to all such terms and conditions.</p>
      <h3>Breach of Confidentiality </h3>
      <p>You acknowledge that a breach of any confidentiality or proprietary rights provision of this Policy may cause
        KUN Academy irreparable damage, for which the award of damages would not be adequate compensation. Consequently,
        KUN Academy may institute an action to enjoin you from any and all acts in violation of those provisions, which
        remedy shall be cumulative and not exclusive, and KUN Academy may seek the entry of an injunction enjoining any
        breach or threatened breach of those provisions, in addition to any other relief to which KUN Academy may be
        entitled at law or in equity.</p>
      <h3>Governing law and venue</h3>
      <p>This Policy shall be construed and governed by the laws of United Arab Emirates.</p>
      <h3>Severability</h3>
      <p>If any provision of this Policy is held by a court of competent jurisdiction to be contrary to law, such
        provision shall be changed and interpreted so as to best accomplish the objectives of the original provision to
        the fullest extent allowed by law and the remaining provisions of this Policy will remain in full force and
        effect.</p>
      <h3>Limitation of liability</h3>
      <p>To the maximum extent permitted by law, in no event shall kun academy, its licensors, affiliates, employees,
        agents, officers or directors be liable to you or any third-party for any special, punitive, incidental,
        indirect or consequential damages of any kind, or any damages whatsoever, including, without limitation, those
        resulting from loss of use, loss of data, or loss of profits, whether or not we have been advised of the
        possibility of such damages, and on any theory of liability, arising out of or in connection with the use of the
        website or of any website referenced or linked to from our website. You will be responsible for all claims and
        damages resulting from the misuse of the website by you. </p>
      <h3>Waiver and amendment</h3>
      <p>If KUN Academy fails to insist upon strict performance of your obligations under any of these terms and
        conditions, or if KUN Academy fails to exercise any of the rights or remedies to which it is entitled under this
        Policy, this will not constitute a waiver of such rights or remedies and will not relieve you from compliance
        with such obligations. No waiver by KUN Academy of any default will constitute a waiver of any subsequent
        default, and no waiver by KUN Academy of any of these terms and conditions will be effective unless it is
        expressly stated to be a waiver and is communicated to you in writing.</p>
      <h3>Future business transactions</h3>
      <p>As we continue to develop our business, we might undergo a change of ownership such as a merger and/or a sale
        of all or substantially all our stock or assets. In such transactions, user information generally is one of the
        transferred business assets, and by submitting any data or contributions (collectively, “Data”) to us, you agree
        that such Data may be transferred to such parties in these circumstances. However, any party purchasing our
        assets will be subject to an obligation to maintain the integrity of your personally identifiable information.
      </p>
      <h3>Your comments and concerns</h3>
      <p>The Website is operated by KUN Academy. If you have any questions, please contact us via email at
        support@Kun.academy. </p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-next" (click)="activeModal.close(true)">{{ 'Accept' | translate }}</button>
    <button type="button" class="btn btn-outline-dark btn-cancel"
      (click)="activeModal.close(false)">{{ 'close' | translate }}</button>
  </div>
</div>
