<div [ngClass]="langStyle">
  <div class="modal-header">
    <div class="row" style="width: 100%;">
      <div class="col-11">
        <h4 class="modal-title">الشروط والأحكام</h4>
      </div>
      <div class="col-1 col-cross-icon">
        <i class="fal fa-times cross-icon" (click)="activeModal.close(false)"></i>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="wrapper-body-terms">
      <h2>سياسة مستخدمي الموقع كن</h2>
      <p>من خلال استخدامك للموقع ،تشير إلى أنك توافق على سياسة الموقع وأنك توافق على الالتزام بها. و إن لم تكن راض عن
        الموقع أو محتواه يتوجب عليك إيقاف استخدام الموقع.</p>
      <ul style="padding-right: 25px;">
        <li>التمكن من استخدام الموقع</li>
        <li>التزامات وممارسات المستخدم</li>
        <li>مشاركات المستخدم عبر الموقع</li>
        <li>معايير المحتوى</li>
        <li>ضبط وتنفيذ الإيقاف</li>
        <li>حقوق الملكية الفكرية</li>
        <li>انتهاك حقوق الملكية</li>
        <li>الاعتماد على المعلومات التي تم نشرها</li>
        <li>الخصوصية</li>
        <li>روابط من الموقع</li>
        <li>استخدام رابط الموقع ومميزات الوسائط الاجتماعية</li>
        <li>لا نعدك</li>
        <li>التغيرات</li>
        <li>إعفاء مستحق</li>
        <li>القانون الحاكم ومكانه</li>
        <li>الشمولية</li>
        <li>التنازل والتعديل</li>
        <li>اقتصار المسؤولية</li>
        <li>المعاملات التجارية المستقبلية</li>
        <li>تعليقاتكم</li>
      </ul>
      <!-- UL CONTENT  -->
      <h3>التمكن من استخدام الموقع</h3>
      <p>أنت مسؤول عن اتخاذ جميع الخطوات اللازمة للوصول إلى موقع الالكتروني. نحن نحتفظ بالحق في سحب أو تعديل الموقع ،
        وأي خدمة أو مادة نقوم بتوفيرها على الموقع الإلكتروني ، وفقا لتقديرنا الخاص ودون إخطار لك. لن نكون مسؤولين إذا
        كان أي جزء من الموقع أو الموقع بأكمله غير متاح لأي سبب من الأسباب في أي وقت أو لأي فترة. </p>
      <h3>التزامات وممارسات المستخدم </h3>
      <ol type="a" style="padding-right:15px;">
        <li>
          <h5>يجوز لك استخدام الموقع الإلكتروني فقط حسب الأغراض قانونية ووفقا لهذه السياسة.</h5>
        </li>
        <li>
          <h5>تعدنا بأنك:</h5>
          <ol style="padding-right:15px;">
            <li>في العمر القانوني لإنشاء حساب على كن أكاديمي.</li>
            <li>أنك لن تستخدم الموقع بأي طريقة تنتهك أي قانون أو لائحة محلية أو دولية سارية.</li>
            <li>أنك لن ترسل أو تتلقى أو تحمل أو تنزل أو تستخدم أو تعيد استخدام أي مواد لا تتوافق مع "معايير المحتوى"
              (المحددة أدناه) ؛ </li>
            <li>أنك لن تنتحل شخصية أو تمثل كن أكاديمي أو تحاول تمثيل كن أكاديمي أو أحد موظفي أكاديمي أو مستخدم آخر أو أي
              شخص أو كيان آخر ؛ </li>
            <li>أنك لن تفعل أي شيء يمكن أن يعطل أو يثقل أو يضر أو ​​يضعف الموقع الإلكتروني أو يتعارض مع استخدام أي شخص
              للموقع الإلكتروني؛ </li>
            <li> أنك لن تستخدم أي وسيلة للوصول إلى الموقع الإلكتروني لأي غرض غير قانوني أو ينتهك هذه السياسة ؛</li>
            <li>لن تقوم بإدخال أي فيروسات أو أي مواد ضارة أو ضارة من الناحية التكنولوجية . </li>
          </ol>
        </li>
      </ol>
      <h3>مشاركات المستخدم</h3>
      <ol style="padding-right:25px;">
        <li>قد نقوم من وقت لآخر بتوفير خدمات تفاعلية مثل خصاصية "المشاركة" ( "الخدمات التفاعلية") التي تسمح للمستخدمين
          بالنشر أو التسليم أو العرض أو الإرسال المحتوى أو المواد إلى أشخاص آخرين المحتوى على الموقع الإلكتروني أو من
          خلاله. يجب أن تتوافق جميع مشاركات المستخدم مع معايير المحتوى المحددة في هذه السياسة. </li>
        <li>أي مشاركة للمستخدم تقوم بنشرها هي غير سرية وغير مملوكة، إلى الحد الذي يسمح به القانون. من خلال تقديم مشاركات
          المستخدم ، فإنك تمنح كن أكاديمي وخلفائها الحق في استخدام ، إعادة إنتاج ، تعديل ،عرض، توزيع، والكشف بأي شكل آخر
          لطرف ثالث عن مثل هذه المواد. تعد بأنك تملك أو تسيطر على جميع الحقوق في ما تشاركه عبر الموقع ولديك الحق في منح
          هذا الترخيص لنا. الموافقة على أنه لن يكون لديك أي مطالبة أو أي حق الرجوع ضد كن أكاديمي بسبب انتهاك أي حق
          الملكية فيما يتعلق بمشاركتك على الموقع. أنت تقر وتوافق على أنك تتنازل عن أي حقوق أخلاقية (أو مشابهة) قد تكون
          لديك فيما يتعلق بمشاركتك كمستخدم، بما في ذلك على سبيل المثال، الحق في أن تنسب كمؤلف لما تشاركه. </li>
        <li>إذا قمت بالإقدام على نقل المحتوى الذي قدمته على الموقع إلى مستخدمين آخرين للموقع الإلكتروني أو أي أطراف
          ثالثة، فأنت توافق على نشر المحتوى الذي شاركته من خلال الموقع ونقله إلى الآخرين على مسؤوليتك الخاصة. بالإضافة
          إلى ذلك ، لا يمكننا التحكم في مشاركات المستخدمين الآخرين للموقع الإلكتروني أو أي أطراف ثالثة الذين قد تختار ان
          تشاركهم مساهمات المستخدم الخاصة بك. لذلك ، لا يمكننا ولا نضمن أن مشاركات المستخدمين الخاصة بك لن يتم عرضها من
          قبل أشخاص غير مصرح لهم بذلك. </li>
        <li>يجب أن تكون مشاركات المستخدم دقيقة وتلتزم بجميع القوانين السارية في دولة الإمارات العربية المتحدة. أنت تدرك
          وتقر بأنك مسؤول عن أي مشاركات ترسلها أو تساهم فيها ، و أنك تتحمل المسؤولية الكاملة عن هذا المحتوى ، بما في ذلك
          قانونيتها وموثوقيتها ودقتها وملاءمتها. نحن لسنا مسؤولين تجاه أي طرف ثالث وعن محتوى أو دقة أي مشاركات للمستخدم
          نشرتها أنت أو أي مستخدم آخر على الموقع. </li>
      </ol>
      <h3>معايير المحتوى </h3>
      <ul style="padding-right:25px;">
        <li>يحتوي على أي مواد تشهيرية أو فاحشة أو غير لائقة أو مسيئة أو عنيفة أو مفعمة بالكراهية أو مثيرة للجدل أو غير
          ذلك من الاعتراضات. </li>
        <li>يروج للمواد الجنسية الصريحة أو الإباحية أو العنيفة أو التمييز على أساس العرق أو الجنس أو الدين أو الجنسية أو
          الإعاقة أو التوجه الجنسي أو العمر.</li>
        <li>ينتهك أي شهادة براءة اختراع أو علامة تجارية أو سر تجاري أو حق نشر أو حقوق ملكية فكرية أخرى أو حقوق أخرى لأي
          طرف ثالث. </li>
        <li>ينتهك الحقوق القانونية (بما في ذلك حق الدعاية والإعلان والخصوصية) للآخرين أو احتواء أي مادة يمكن أن تؤدي إلى
          أي مسؤولية مدنية أو جنائية بموجب القوانين المطبقة لها.</li>
        <li>ترويج أي نشاط غير قانوني، أو دعاية أو تقديم المساعدة في أي فعل غير قانوني. </li>
        <li>تتسبب في إزعاجا أو قلقا لا داعي له أو من المحتمل أن تتسبب في إحراج أو إزعاج أي شخص آخر. </li>
        <li>ينتحل شخصية أي شخص أو يشوه هويتك أو انتمائك لأي شخص أو منظمة. </li>
        <li>أن يشترك في الأنشطة التجارية أو المبيعات. </li>
        <li>من المحتمل أن يخدع أو يعطي انطباعا خاطئا, أنه مصدق منا أو من أي شخص. </li>
      </ul>
      <h3>ضبط وتنفيذ الإيقاف </h3>
      <p>لدينا الحق ، ولكن ليس الالتزام ، في مراجعة أو تعديل أيا من مشاركات المستخدم. وتوافق على أن هذه المساهمات لا
        تعكس آراء كن أكاديمي ولا تؤيدها. </p>
      <ul style="padding-right:25px;">
        <li>
          <h5>لدينا الحق في:</h5>
          <ol type="a">
            <li> اتخاذ أي إجراء فيما يتعلق (بمحتوى) المستخدم التي نراها ضرورية أو مناسبة؛ </li>
            <li>اتخاذ الإجراءات القانونية المناسبة، بما في ذلك الإحالة إلى التطبيق القانوني ، لأي استخدام غير قانوني أو
              غير مصرح به للموقع.</li>
            <li>فصل أو إيقاف إمكانيتك للوصول إلى الموقع.</li>
          </ol>
        </li>
        <li>
          <h5>بدون التقييد بما سبق</h5>
          <p>لدينا الحق في التعاون الكامل مع سلطات تنفيذ القانون التي توجّهنا إلى الكشف عن هوية أو أي معلومات متعلقة بأي
            شخص ينشر مواد على الموقع أو من خلاله. نحن لا نتعهد بمراجعة المواد قبل نشرها على موقع الإلكتروني، ولا يمكننا
            ضمان إزالة المواد غير المقبولة على الفور بعد نشرها. ووفقا لذلك فإننا لا نتحمل أي مسؤولية عن أي إجراء بشأن
            عمليات الإرسال أو الاتصالات أو المحتوى المقدم من أي مستخدم أو طرف ثالث. نحن لا نتحمل أي مسؤولية تجاه أي شخص
            عن أدائه تجاه الأنشطة الموضحة في هذا القسم.</p>
        </li>
      </ul>
      <h3>حقوق الملكية الفكرية</h3>
      <ol style="padding-right:25px;">
        <li>الموقع الإلكتروني ومحتوياته وخصائصه ووظائفه بالكامل (بما في ذلك جميع المعلومات والبرامج والنصوص والعروض
          والصور والفيديو والصوت والتصميم والاختيار والترتيب) مملوكة ل"كن أكاديمي" ، المرخصين أو غيرهم من مقدمي هذه
          المواد ، ومحمية من قبل الولايات المتحدة وحقوق النشر الدولية والعلامات التجارية وشهادة البراءة والأسرار
          التجارية وغيرها من قوانين الملكية الفكرية أو حقوق الملكية. تسمح لك هذه السياسة باستخدام الموقع الإلكتروني
          لاستخدامك الغير التجاري فقط. لا يحق نقل أي ملكية أو صلاحية أو محتوى في أو إلى الموقع الإلكتروني، ويتم حجز جميع
          الحقوق غير الممنوحة صراحة من قبل كن أكاديمي.</li>
        <li> يجب عدم إعادة إنتاج أو توزيع أو تعديل أو إنشاء أعمال مشتقة أو عرض علني أو إجراء أو نشر أو تنزيل أو تخزين أو
          نقل أي من المواد الموجودة على الموقع الإلكتروني ، باستثناء ما يلي: <ul style="list-style: none; padding:0">
            <li>
              <h5>يجوز لك:</h5>
              <ol style="padding: 0">
                <li>حفظ الملفات التي يتم حفظها مؤقتا تلقائيا بواسطة متصفح الانترنت الخاص بك لهدف تحسين العرض.</li>
                <li>إذا قمنا بإضافة أي تطبيق للتنزيل ، فيجوز لك تنزيل نسخة واحدة إلى جهاز الكمبيوتر أو الهاتف المحمول
                  للاستخدام الشخصي فقط ،الغير التجاري.</li>
                <li>إذا قمنا بتوفير خصائص وسائل التواصل الاجتماعي في أي وقت ، فيمكنك استخدام هذه الخصائص كما يتم
                  تمكينها.</li>
              </ol>
            </li>
            <li>
              <h5>لا يجوز لك: </h5>
              <ol style="padding: 0">
                <li>استخدام أي رسوم توضيحية أو أي صور فوتوغرافية أو مقاطع فيديو أو مقاطع صوتية أو أي رسومات منفصلة عن
                  النص لها؛ أو</li>
                <li>حذف أو تغيير أي حقوق نشر أو علامات تجارية أو غيرها من إشعارات حقوق الملكية من نسخ المواد من الموقع
                  الإلكتروني؛ أو </li>
                <li>استخدام أي جزء من الموقع أو أي خدمات أو مواد متاحة عبر الموقع لأي غرض تجاري. </li>
                <li>اسم كن أكاديمي وشعاركن أكاديمي وجميع الأسماء ذات الصلة والشعارات وأسماء المنتجات والخدمات والتصاميم
                  و العلامات تجارية التابعة ل"كن أكاديمي" أو الشركات التابعة لها أو المرخص لهم. لا يجوز لك استخدام مثل
                  هذه العلامات دون الحصول على إذن كتابي مسبق من إدارة كن أكاديمي جميع الأسماء الأخرى والشعارات وأسماء
                  المنتجات والخدمات والتصاميم والشعارات الموجودة على الموقع هي علامات تجارية لمالكيها. </li>
              </ol>
            </li>
          </ul>
      </ol>
      <h3>انتهاك حقوق الملكية </h3>
      <p>نتخذ انتهاك حقوق النشر على محمل الجد. سنقوم بالرد على ادعاءات الانتهاك لحقوق الطبع والنشر عند اللزوم. إذا كنت
        تعتقد أن أي مواد يمكن الوصول إليها عبر الموقع الإلكتروني أو منه تنتهك حقوق الطبع والنشر الخاصة بك ، يجوز لك طلب
        إزالة هذه المواد (أو الوصول إليها) من موقع الإلكتروني عن طريق إرسال رسالة إلى وكيل حقوق الطبع والنشر (المحدد
        أدناه). </p>
      <h5>ويجب عليك إرسال الآتي: </h5>
      <ol style="padding-right:25px;">
        <li>تحديد المادة التي لديها حقوق الطبع والنشر أو الذي تعتقد أنها منتهكة ، أو إذا كانت تتضمن مواد عديدة على
          الموقع الالكتروني ، أو قائمة تمثيلية لهذه المواد. </li>
        <li>تحديد المادة التي تعتقد أنها تنتهك ، بطريقة دقيقة بما فيه الكفاية لتسمح لنا بتحديد هذه المادة. </li>
        <li>معلومات كافية يمكننا من خلالها الاتصال بك (بما في ذلك اسمك وعنوان بريدك ورقم هاتفك ، وعنوان البريد
          الإلكتروني إن وجد). </li>
        <li>بيان بأن لديك اعتقاد قوي بأن المواد المحمية بحقوق الطبع والنشر المستخدمة غير مصرح بها من قبل مالك حقوق الطبع
          والنشر أو وكيله. </li>
        <li>بيان بأن المعلومات الواردة في الإخطار الكتابي دقيقة. </li>
        <li>بيان، تحت تحت طائلة عقوبة شهادة الزور، بأنك مخول بالتصرف نيابة عن مالك حقوق النشر. </li>
        <p>وكيل حقوق الطبع والنشر المعين لدينا لتلقي إشعارات لحقوق طبع ونشر المواد الرقمية هو: </p>
        <p>
          <span>Kun Academy</span> <br>
          <span>ATTN: Copyright Agent</span> <br>
          <span>Address: Media City, Dubai</span> <br>
          <span>Email: info@kun.academy</span> <br>
          <span>Fax: __________</span>
        </p>
      </ol>
      <h3>الاعتماد على المعلومات التي تم نشرها </h3>
      <p>المعلومات المقدمة على الموقع أو من خلاله متاحة فقط لأغراض المعلومات العامة. نحن لا نقدم أي بيانات بخصوص دقة أو
        اكتمال أو فائدة هذه المعلومات. إن اعتمدت على هذه المعلومات فهذا على مسؤوليتك الخاصة. يتضمن الموقع محتوى يقدمه
        أطراف ثالثة، بما في ذلك المواد التي يقدمها المستخدمون الآخرون والمرخصون من جهات خارجية. نحن لسنا مسؤولين أمامك
        أو أمام أي طرف ثالث، عن المحتوى أو دقة المواد المقدمة من قبل أي طرف ثالث. </p>
      <h3>الخصوصية</h3>
      <p>جميع المعلومات التي تقدم على الموقع تخضع لسياسة الخصوصية الخاصة بنا. يعد استخدامك للموقع الإلكتروني بمثابة
        موافقة منك على جميع الإجراءات التي نتخذها نحن فيما يتعلق بالمعلومات التي تقدمها وما يتوافق مع سياسة الخصوصية.
      </p>
      <h3>روابط من الموقع</h3>
      <p>إذا كان الموقع يحتوي على روابط لمواقع ومصادر أخرى مقدمة من أطراف ثالثة، فنحن لا نتحكم في محتويات تلك المواقع أو
        المصادر ، ولا نتحمل أي مسؤولية عنها أو عن أي خسارة أو ضرر قد ينشأ عن استخدامك لها. إذا اردت استخدام اي من مواقع
        التابعة للأطراف الثالثة، فإنك تقوم بذلك على مسؤوليتك الخاصة وتخضع لشروط وأحكام الاستخدام لمثل هذه المواقع
        الإلكترونية الخاصة بالأطراف الثالثة. </p>
      <h3>استخدام رابط الموقع وخصائص الوسائط الاجتماعية </h3>
      <p>يمكنك استخدام الرابط إلى صفحتنا الرئيسية، بشرط أن تفعل ذلك بطريقة عادلة وقانونية ولا تلحق الضرر بسمعتنا أو
        تستفيد منها ، ويجب عليك عدم إنشاء رابط بطريقة توحي بتداعي المعنى،أو موافقة أو تأييد من جانبنا. قد يوفر موقع
        الإلكتروني بعض خصائص الوسائط الاجتماعية التي</p>
      <h5> تمكّنك من: </h5>
      <ul>
        <li>الربط من مواقع الخاصة بك أو مواقع طرف ثالث إلى المحتوى المتوفر على موقع الإلكتروني. </li>
        <li>إرسال محتوى أو روابط لمحتوى معين من الموقع عن طريق رسائل البريد الإلكتروني أو عن طريق أي نوع من أنواع
          الاتصالات الأخرى. </li>
        <li>عرض أجزاء من المحتوى الخاص بك المقدم على المواقع الخاصة بك أو على الموقع تابع لطرف ثالث. </li><br>
        <p>يجوز لك استخدام هذه الخصائص فقط كما يتم توفيرها من قبلنا، و فيما يتعلق بالمحتوى الذي يتم عرضه فقط، وبخلاف ذلك
          وفقا لأي شروط وأحكام إضافية نقدمها فيما يتعلق بهذه الخصائص </p>
      </ul>
      <h5>يجب ألا:</h5>
      <ul>
        <li>ينشأ رابط من أي موقع غير مملوك لك. </li>
        <li>يعرض محتوى الموقع أو أجزاء منه، أو استخدام رابط الموقع، على أي موقع آخر. </li>
        <li>ان يتخذ أي إجراء فيما يتعلق بالمواد الموجودة على الموقع الإلكتروني التي تتعارض مع أي بند آخر من هذه السياسة.
        </li>
        <li>نقل حساب المستخدم الخاص بك لأي شخص آخر. </li> <br>
        <p>يجب على الموقع الإلكتروني الذي تقوم باستخدام رابطه أو الذي يمكنك من خلاله الوصول إلى محتوى معين ، أن يتوافق
          مع معايير المحتوى المحددة في هذه السياسة. وتوافق على التعاون معنا في وقف أي إطار أو رابط لموقعنا غير مصرح به
          على الفور. يحق لنا سحب إذن الربط لموقعنا دون إشعار سابق. قد نقوم بتعطيل جميع أو أي خصائص وسائل التواصل
          الاجتماعي وأي روابط في أي وقت دون سابق إنذار وفقا لتقديرنا.</p>
      </ul>
      <h3>لا نعدك</h3>
      <p>أنت مسؤول عن استخدامك للموقع أو المواد التي تحصل عليها من خلال الموقع. والموقع متوفر على أساس "كما هو" و "كما
        هو متاح" ، دون أي وعود من أي نوع ، سواء صريحة أو ضمنية. لا تتعهد كن أكاديمي أو أي شخص مرتبط ب كن أكاديمي بأي وعد
        أو ضمان أو إقرار فيما يتعلق بالشمولية أو الأمان أو موثوقية أو جودة أو دقة أو إتاحة الموقع. دون الاقتصار من ما
        سبق ذكره، كن أكاديمي أو أي شخص مرتبط ب كن أكاديمي لا يعدوا بأن أو يمثلوا أو يضمنوا أو يتعهدوا بأن الموقع أو
        المواد التي تم الحصول عليها عن طريق الموقع الإلكتروني أو أي جزء منها سيكون دقيقا أو موثوقا أو خاليا من الأخطاء
        أو غير محرف ، وأن يتم إصلاح الأخطاء، وأن الموقع أو الجهاز المرسل التابع بالموقع خال من الفيروسات أو أي مواد ضارة
        الأخرى. أو أن الموقع أو المواد المنشورة عبر الموقع الإلكتروني ستلبي احتياجاتك أو توقعاتك. وتخلي كن أكاديمي
        مسؤوليتها عن جميع الضمانات من أي نوع ، سواء كانت صريحة أو ضمنية أو قانونية أو غير ذلك، بما في ذلك أي ضمانات
        صلاحية العرض في السوق وعدم الانتهاك وتطابق لأي غرض معين. </p>
      <h3>التغيرات</h3>
      <p>نحن نحتفظ بالحق ، وفقا لتقديرنا الخاص، في حال تغيير شروط هذه السياسة في أي وقت, تسري أي تغييرات فور نشرها على
        الموقع .واستخدامك المستمر للموقع هو بمثابة موافقتك على جميع هذه الشروط والأحكام. </p>
      <h3>إعفاء مستحق </h3>
      <p>نحن نحتفظ بالحق ، وفقا لتقديرنا الخاص، في حال تغيير شروط هذه السياسة في أي وقت, تسري أي تغييرات فور نشرها على
        الموقع .واستخدامك المستمر للموقع هو بمثابة موافقتك على جميع هذه الشروط والأحكام. </p>
      <h3>إعفاء مستحق</h3>
      <p>تقر بأن مخالفة أي من حقوق الخصوصية أو حقوق الملكية الخاصة بهذه السياسة قد تتسبب في حدوث أضرار يتعذر إصلاحها من
        مالية ومعنوية. وبناء على ذلك، يجوز ل كن أكاديمي اتخاذ إجراء يقضي بإلزامك من أي وجميع الأفعال المخالفة لتلك
        الأحكام، ويجوز ل كن أكاديمي أن تطلب إدخال أمر قضائي يقضي بفرض أي خرق أو تهديد بتخالف تلك الأحكام. بالإضافة إلى
        أي نوع آخر من أشكال الإعفاء يحق ل كن أكاديمي الحصول عليه بموجب قانون أو حقوق ملكية. </p>
      <h3>القانون الحاكم ومكانه </h3>
      <p>هذه السياسة أنشأتها قوانين محاكم دولة الإمارات العربية المتحدة. </p>
      <h3>الشمولية</h3>
      <p>إذا كان أي حكم من أحكام هذه السياسة تنصه المحكمة المختصة يتعارض مع القانون، فيتم تغيير النص بحيث يحقق معنى
        الحكم الصحيح على أكمل وجه إلى أقصى حد يسمح به القانون. والأحكام الباقية التي تنصها هذه السياسة ستبقى سارية. </p>
      <h3>اقتصار المسؤولية </h3>
      <p>إلى أقصى حد يسمح به القانون، لا ل كن أكاديمي مرخصيها أو الشركات التابعة لها أو الموظفين أو الوكلاء أو المسؤولين
        أو المديرين أن يتحملوا المسئولية تجاهك أو تجاه أي طرف ثالث عن أي أضرار خاصة أو متعاقبة أو غير مباشرة أو أي أضرار
        على الإطلاق ، بما في ذلك، الذين يتسببون في خسائر عند استخدام ، أو فقدان للبيانات، سواء كنا قد أبلغنا باحتمالية
        هذه الأضرار، وعن احتمالية المساءلة، خارج أو مع استخدام الموقع أو أي موقع مرجعي أو رابط بموقعنا. سوف تكون مسؤولا
        عن جميع المطالبات والأضرار الناجمة عن إساءة استخدام الموقع من قبلك. </p>
      <h3>التنازل والتعديل</h3>
      <p>إذا فشلت كن أكاديمي في اتخاذ الإجراءات الصارمة لإلزامك بموجب أيا من هذه الشروط والأحكام ، أو إذا فشلت كن
        أكاديمي في ممارسة أيا من الحقوق أو الجزاء التي يحق لها بموجب هذه السياسة ، فإن هذا لن يشكل تنازلا عن هذه الحقوق
        أو تعويضا ولن يعفيك من الامتثال لهذه الالتزامات. إن أي تنازل من قبل كن أكاديمي عن أي تقصير سوف يشكل تنازلا عن أي
        تقصير لاحق، ولن يكون التنازل عن أي من هذه الشروط والأحكام ساري المفعول ما لم ينص صراحة على أنه تنازل ويتم إبلاغك
        كتابيا. </p>
      <h3>المعاملات التجارية المستقبلية </h3>
      <p>بينما نستمر في تطوير أعمالنا، قد تتغير الملكية مثل دمج و / أو بيع كل أسهمنا وممتلكاتنا بشكل كبير. في مثل هذه
        المعاملات، تكون معلومات مستخدمي الموقع بشكل عام واحدة من هذه المعاملات المحولة ، وعن طريق تقديم أي بيانات لنا ،
        فإنك توافق على أنه يجوز نقل هذه البيانات إلى مثل هذه الأطراف في هذه الظروف. ومع ذلك ، فإن أي طرف يشتري ممتلكاتنا
        سيخضع لالتزام بالحفاظ على سلامة معلومات التعريف الشخصية الخاصة بك. </p>
      <h3>المدفوعات </h3>
      <p>يتم تشغيل موقع الإلكتروني من قبل كن أكاديمي . إذا كان لديك أي أسئلة ، يرجى الاتصال بنا عبر البريد أنت توافق على
        دفع رسوم الدورات التدريبية التي تشتريها ، كما أنك تفوضنا في فرض رسوم على بطاقة الخصم أو الائتمان الخاصة بك أو
        معالجة للدفع لتلك الرسوم. يعمل كن أكاديمي مع شركاء معالجة الدفع من أطراف ثالثة لنقدم لك أكثر طرق الدفع ملاءمة في
        بلدك وللحفاظ على معلومات الدفع آمنة. </p>
      <p> عند إجراء عملية شراء ، فإنك توافق على عدم استخدام طريقة دفع غير صالحة أو غير مصرح بها. إذا فشلت طريقة الدفع
        الخاصة بك وما زلت تحصل على حق الوصول إلى الدورة التدريبية التي تسجل فيها ، فإنك توافق على دفع الرسوم المقابلة
        لنا في غضون ثلاثين (30) يومًا من إخطارنا. نحن نحتفظ بالحق في تعطيل الوصول إلى أي دورة لم نتلق لها مدفوعات كافية.
      </p>
      <h3>المبالغ المستردة والاعتمادات </h3>
      <p> في حال قام المستخدم بشراء دورة تدريبية ولم يجد الفائدة المرجوة منها فمن حقه استرجاع المبلغ المالي الذي قام
        بدفعه . وذلك بطلب رسمي خلال 30 يوم من تاريخ شراءه للدورة. وفقًا لتقديرنا ، إذا اعتقدنا أنك تسيء استخدام سياسة
        الائتمان أو الاسترداد ، فإننا نحتفظ بالحق في حظر حسابك وتقييد جميع الاستخدامات المستقبلية للخدمات. إذا حظرنا
        حسابك أو عطلنا وصولك إلى دورة تدريبية بسبب انتهاكك لهذه الشروط أو إرشادات السلامة والأمان ، فلن تكون مؤهلاً
        لتلقي أي ائتمان أو رد. </p>
      <h3>تعليقاتكم ومخاوفكم </h3>
      <p>يتم تشغيل موقع الإلكتروني من قبل كن أكاديمي . إذا كان لديك أي أسئلة ، يرجى الاتصال بنا عبر البريد الإلكتروني
        على info@kun.academy. </p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-next" (click)="activeModal.close(true)">{{ 'Accept' | translate }}</button>
    <button type="button" class="btn btn-outline-dark btn-cancel"
      (click)="activeModal.close(false)">{{ 'close' | translate }}</button>
  </div>
</div>
