/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */
.wrapper-trainer-sidebar-ar {

  .sidebar-main-div {
    width: 300px !important;
    background-color: transparent;
    background-image: linear-gradient(to top, #00b5a9, #01637f) !important;

    .side-nav {
      right: 0 !important;
      left: auto;
      transform: translateX(-0%) !important;



      logo {
        .logo-wrapper {
          height: 160px !important;

          a {
            margin: 0 auto !important;

            img {
              padding: 20px !important;
              width: 180px;
              margin: 0 auto;
              display: block;
            }
          }

        }
      }

      links {
        li {
          .ul-sidebar-links {
            padding: 0 20px !important;

            mdb-squeezebox mdb-item mdb-item-head a {
              font-size: 15px;
              font-weight: bold;
            }
          }
        }

        .icon-genrl-style {
          width: 20px;
        }

        .add-course-btn {
          background: white;
          color: #018f95;
          padding: 7px 18px;
          height: 50px;
          border-radius: 100px;
          font-size: 18px;
          font-weight: bold;
          display: inline-block;
          margin: 15px 0;

          i {
            font-size: 18px;
            margin: 0 !important;
          }
        }

        .add-course-btn:hover {
          text-decoration: none;
        }

        .mdb-accordion-indicator {
          right: calc(100% - 30px) !important;
        }

        .ul-reports {
          li a {
            padding: 0 15px;
            height: 45px;
            font-size: 15px;
            line-height: 45px;
            border-bottom: 1px solid #00a29f;
          }

          li:last-child a {
            border: 0;
          }
        }

        .ng-trigger-expandBody {
          border-radius: 4px !important;
        }


      }
    }

  }

}


/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */
.wrapper-trainer-sidebar-en {

  .sidebar-main-div {
    width: 300px !important;
    background-color: transparent;
    background-image: linear-gradient(to top, #00b5a9, #01637f) !important;

    .side-nav {


      logo {
        .logo-wrapper {
          height: 160px !important;

          a {
            margin: 0 auto !important;

            img {
              padding: 20px !important;
              width: 180px;
              margin: 0 auto;
              display: block;
            }
          }

        }
      }

      links {
        li {
          .ul-sidebar-links {
            padding: 0 20px !important;

            mdb-squeezebox mdb-item mdb-item-head a {
              font-size: 15px;
              font-weight: bold;


            }
          }
        }

        .icon-genrl-style {
          width: 20px;
        }

        // .mdb-accordion-indicator {
        //   right: calc(100% - 30px) !important;
        // }
        .ul-reports {
          li a {
            padding: 0 15px;
            height: 45px;
            font-size: 15px;
            line-height: 45px;
            border-bottom: 1px solid #00a29f;
          }

          li:last-child a {
            border: 0;
          }
        }

        .ng-trigger-expandBody {
          border-radius: 4px !important;
        }
      }
    }
  }

}


/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */
