<div [ngClass]="langStyle">
  <div class="wrapper-trainer-header">
    <!-- <p class="m-0">Trainer header</p> -->
    <div class="row">
      <div class="col-md-6 col-help">
        <!-- <span class="text-need-help">{{ 'Need help?' | translate }}</span> <br>
        <span class="email">{{'Email' | translate}} : info@kun.academy</span> <span class="divider">|</span> <span
          class="phone">{{'Phone' | translate}} : 0097144202912</span> -->
        <h1 style="color: white;font-size:32px;padding-top: 15px;">مرحبا بكم في أكاديمية كُن</h1>
        <p style="color: white;font-size:18px;">أفضل منصة تدريب في العالم العربي</p>
      </div>
      <!-- <div class="col-md-6 col-trainer-pic">
        <button class="dropdown dropbottom btn-go-profile-popup">
          <a class="nav-link dropdown-toggle nav-link-user" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">عبدالرحمن <img
              src="../../../../../assets/images/user-default.jpg" alt="" class="img-user rounded-circle"></a>
          <div class="dropdown-menu custom-dropdown-menu">
            <mdb-card class="testimonial-card" style="border-radius: 20px">
              <div class="card-up indigo lighten-1">
              </div>
              <div class="avatar mx-auto">
                <img src="../../../../../assets/images/user-default.jpg" class="rounded-circle">
              </div>
              <mdb-card-body>
                <mdb-card-title>
                  <h4 class="text-center">عبدالرحمن</h4>
                </mdb-card-title>
                <hr>
                <a class="user-items-dd"><i class="fal fa-user-cog"></i> {{ 'myProfile' | translate }}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" class="user-items-dd" (click)="logout()"><i class="fal fa-sign-in"></i>
                  {{ 'signOut' | translate }}</a>
              </mdb-card-body>
            </mdb-card>
          </div>
        </button>
      </div> -->
    </div>
  </div>
</div>
