/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */
.wrapper-trainer-header-ar {
  direction: rtl;

  .wrapper-trainer-header {
    background: #f1f1f1;
    padding: 30px 20px;
    position: fixed;
    width: 100%;
    box-shadow: 0px 5px 5px lightgrey;
    z-index: 99;
    font-weight: bold;
  }
}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */
.wrapper-trainer-header-en {
  .wrapper-trainer-header {
    background: #f1f1f1;
    padding: 30px 20px;
    position: fixed;
    width: 100%;
    box-shadow: 0px 5px 5px lightgrey;
    z-index: 99;
  }
}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */
