<div [ngClass]="langStyle">
  <div class="loader" *ngIf="loadGifLoader">
    <img src="../../../../assets/images/spiner.gif" alt=""
      style="width: 100px;height: auto;display: block;margin: 100px auto;">
  </div>
  <div class="wrap-blog-banner">
    <!-- <img src="../../../../../assets/images/img-slider.jpg" alt="" class="img-fluid"> -->
    <div class="ttm-page-title-row">
      <div class="ttm-page-title-row-bg-layer ttm-bg-layer"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-box ttm-textcolor-white">
              <div class="page-title-heading">
                <h1 class="title">{{'Blog' | translate}}</h1>
              </div><!-- /.page-title-captions -->
            </div>
          </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div>
  </div>
  <div class="container">
    <div class="row row-blog-list">
      <div class="col-md-4" *ngFor="let blog of blogs ; let cardIndex = index">
        <div class="wrap-blog-list-inner">
          <img *ngIf="!blog.image" src="../../../../../assets/images/blog-03.png" alt=""
            class="img-fluid img-blog-item">
          <img *ngIf="blog.image" [src]="app_ser.img_url(blog.image)" alt="" class="img-fluid img-blog-item">
          <a routerLink="/blog/{{blog.id}}/{{app_ser.urlString(blog.title)}}" class="blog-title">
            <h1>{{blog.title}}</h1>
          </a>
          <span class="blogDate-postedBy">
            <span class="txt-by">{{'By' | translate}}</span>
            <span class="name">{{blog.writer}}</span>
            <!-- <span class="divider">|</span> -->
            <span class="date"> {{blog.create_date.substring(0,10)}}</span>
          </span>
          <!-- <span class="blogDate-postedBy">
            <div class="row" style="padding: 0 15px">
              <div class="col-5 p-0">
                <span class="txt-by">{{'By' | translate}}</span>
                <span class="name">{{blog.writer}}</span>
              </div>
              <div class="col-1 text-center">
                <span class="divider">|</span>
              </div>
              <div class="col-6 p-0">
                <span class="date"> {{blog.create_date.substring(0,10)}}</span>
              </div>
            </div>
          </span> -->
          <!-- <span class="blogDate-postedBy">
            <span class="txt-by">{{'By' | translate}}</span>
            <span class="name">{{blog.writer}}</span>
            <span class="divider"></span>
            <span class="date"> {{blog.create_date.substring(0,10)}}</span>
          </span> -->
          <p class="blog-description">{{blog.short}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="wrap-no-course-found" *ngIf="!blogs.length && noData" style="width:100%;">
          <div class="alert alert-danger mb-0" role="alert">
            <i class="fal fa-exclamation-triangle"></i> {{'dataNotFound' | translate}} </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div *ngIf="pager.show" class="card-footer pb-0 pt-3">
          <jw-pagination [pager]="pager" (changePage)="onChangePage($event)"></jw-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
