/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */
.wrapper-trainer-uploads-ar {
  direction: rtl;
  text-align: right;

  .wrapper-browse-btn {
    position: relative;
  }

  .ngx-file-drop__content {
    position: relative;
  }

  .ngx-file-drop__drop-zone {
    height: 120px !important;
    margin: auto;
    border: 2px dashed #00b5a9 !important;
    border-radius: 30px;
  }

  .txt-files-limit {
    position: absolute;
    font-size: 14px;
    width: 100%;
    text-align: center;
    bottom: -10px;
    color: black;
  }

  .progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #a6a6a6 !important;
    border-radius: .25rem;
  }

  .course-dd {
    padding: 10px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
  }

}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */
.wrapper-trainer-uploads-en {
  .wrapper-browse-btn {
    position: relative;
  }

  .ngx-file-drop__content {
    position: relative;
  }

  .ngx-file-drop__drop-zone {
    height: 120px !important;
    margin: auto;
    border: 2px dashed #00b5a9 !important;
    border-radius: 30px;
  }

  .txt-files-limit {
    position: absolute;
    font-size: 14px;
    width: 100%;
    text-align: center;
    bottom: -10px;
    color: black;
  }

  .progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #a6a6a6 !important;
    border-radius: .25rem;
  }

  .course-dd {
    padding: 10px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
  }

}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */
