<div [ngClass]="langStyle">
  <div class="wrapper-header" [ngClass]="getCurrentUrl()">
    <div class="container container-custom-width">
      <div class="wrap-top-header">
        <div class="wrap-mobile-signin-signup d-block d-lg-none">
          <button *ngIf="!app_ser.getCurrentUser()" class="btn-mobile-signin">
            <a *ngIf="!app_ser.getCurrentUser()" class="nav-link link-signin" (click)="showLogin()"><i
                class="fal fa-sign-in"></i> {{ 'signIn' | translate }}</a>
          </button>
          <!-- <button *ngIf="!app_ser.getCurrentUser()" class="btn-mobile-signup">
            <a class="nav-link link-signup" (click)="showSignUpType()"><i class="fal fa-sign-out"></i>
              {{ 'register' | translate }}</a>
          </button> -->
          <!-- <button *ngIf="app_ser.isStudent()" class="btn-my-courses">
            <a (click)="myLibrary()" class="nav-link"><i class="far fa-book-user"></i>
              <span class="txt-my-courses"> {{ 'myCourses' | translate }}</span></a>
          </button> -->
          <button class="dropdown dropbottom btn-go-profile-popup" *ngIf="app_ser.getCurrentUser()">
            <a class="nav-link dropdown-toggle nav-link-user" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img [src]="usrImg()" alt="" class="img-user"> {{app_ser.getCurrentUser().name | slice:0:6}} </a>
            <div class="dropdown-menu custom-dropdown-menu">
              <mdb-card class="testimonial-card">
                <div class="card-up indigo lighten-1">
                </div>
                <div class="avatar mx-auto">
                  <img [src]="usrImg()" class="rounded-circle">
                </div>
                <mdb-card-body>
                  <mdb-card-title>
                    <h4 class="text-center">{{app_ser.getCurrentUser().name}}</h4>
                  </mdb-card-title>
                  <hr>
                  <!-- <a  (click)="viewProfile()" class="user-items-dd"><i class="fal fa-user-cog"></i>
                                        {{ 'myProfile' | translate }}</a> -->
                  <a *ngIf="!app_ser.isTrainer()" (click)="viewProfile()" class="user-items-dd"><i
                      class="fal fa-user-cog"></i> {{ 'myProfile' | translate }}</a>
                  <a *ngIf="app_ser.isTrainer()" (click)="viewProfile()" class="user-items-dd"><i
                      class="fal fa-user-cog"></i> {{ 'Dashboard' | translate }}</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" class="user-items-dd" (click)="myLibrary()"><i class="fal fa-book-user"></i>
                    {{ 'myCourses' | translate }}</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" class="user-items-dd" (click)="logout()"><i class="fal fa-sign-in"></i>
                    {{ 'signOut' | translate }}</a>
                </mdb-card-body>
              </mdb-card>
            </div>
          </button>
          <button class="btn-mobile-search">
            <a data-target="#basicExample" (click)="frame.show()" mdbWavesEffect class="btn-search"><i
                class="far fa-search" aria-hidden="true"></i></a>
          </button>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light navbar-top-header">
          <button class="navbar-toggler custom-navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="far fa-bars"></i>
          </button>
          <a class="navbar-brand d-block d-lg-none" routerLink="/" style="z-index: 999">
            <img [src]="app_ser.img_url(null,'logo')" class="img-fluid logo-style" alt="">
          </a>
          <div class="wrap-toggle" class="collapse navbar-collapse style-zindex" id="navbarTogglerDemo03">
            <div class="col d-none d-lg-block">
              <a class="navbar-brand" routerLink="/" style="z-index: 999">
                <img [src]="app_ser.img_url(null,'logo')" class="img-fluid logo-style" alt="">
              </a>
            </div>
            <div class="col-lg-7 text-center p-0">
              <app-offers class="d-none d-lg-block"></app-offers>
              <app-navigation></app-navigation>
            </div>
            <div class="col p-0">
              <ul class="navbar-nav mt-2 ml-auto mt-lg-0 navbar-custom-ul">
                <li class="nav-item d-none d-lg-block">
                  <!-- <div class="searchBtn">
                          <form class="searchbox" [ngClass]="{'expandedSearch':searchInput, 'hiddenSearch': !searchInput}">
                            <input [(ngModel)]="search" (keydown.enter)="searchCourses($event)" type="search"
                              placeholder="{{ 'txtSearch' | translate }}" name="search"
                              class="searchbox-input form-control text-center" onkeyup="buttonUp();" required>
                            <span class="searchbox-icon" (click)="expandSearch()"><i class="fal fa-search"
                                aria-hidden="true"></i></span>
                          </form>
                        </div> -->
                  <a data-target="#basicExample" (click)="frame.show()" mdbWavesEffect class="btn-search"><i
                      class="far fa-search" aria-hidden="true"></i></a>
                </li>
                <!-- <li class="nav-item">
                        <a *ngIf="app_ser.app_lang()=='ar'" class="nav-link" (click)="changedLang();"><i
                            class="fal fa-globe"></i> العربية</a>
                        <a *ngIf="app_ser.app_lang()=='en'" class="nav-link" (click)="changedLang();"><i
                            class="fal fa-globe"></i> English</a>
                      </li> -->
                <!-- <li class="nav-item">
                          <a routerLink="/" class="nav-link">الصفحة الرئيسية</a>
                        </li> -->
                <!-- <li class="nav-item">
                            <a routerLink="/" class="nav-link"><i class="far fa-heart"></i> {{ 'wishlist' | translate }}</a>
                          </li> -->
                <!-- <li *ngIf="app_ser.isStudent()" class="nav-item d-none d-lg-block">
                  <a (click)="myLibrary()" class="nav-link"><i class="far fa-book-user"></i>
                    <span class="txt-my-courses"> {{ 'myCourses' | translate }}</span></a>
                </li> -->
                <li class="nav-item d-none d-lg-block">
                  <a *ngIf="!app_ser.getCurrentUser()" class="nav-link link-signin" (click)="showLogin()"><i
                      class="fal fa-sign-in"></i> {{ 'signIn' | translate }}</a>
                </li>
                <!-- <li class="nav-item d-none d-lg-block" *ngIf="!app_ser.getCurrentUser()">
                  <a class="nav-link link-signup" (click)="showSignUpType()"><i class="fal fa-sign-out"></i>
                    {{ 'register' | translate }}</a>
                </li> -->
                <li class="nav-item dropdown dropbottom d-none d-lg-block" *ngIf="app_ser.getCurrentUser()">
                  <a class="nav-link dropdown-toggle nav-link-user" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img [src]="usrImg()" alt="" class="img-user"> {{app_ser.getCurrentUser().name | slice:0:6}} </a>
                  <div class="dropdown-menu custom-dropdown-menu">
                    <mdb-card class="testimonial-card">
                      <div class="card-up indigo lighten-1">
                      </div>
                      <div class="avatar mx-auto">
                        <img [src]="usrImg()" class="rounded-circle">
                      </div>
                      <mdb-card-body>
                        <mdb-card-title>
                          <h4 class="text-center">{{app_ser.getCurrentUser().name}}</h4>
                        </mdb-card-title>
                        <hr>
                        <!-- <a  (click)="viewProfile()" class="user-items-dd"><i class="fal fa-user-cog"></i>
                                        {{ 'myProfile' | translate }}</a> -->
                        <a *ngIf="!app_ser.isTrainer()" (click)="viewProfile()" class="user-items-dd"><i
                            class="fal fa-user-cog"></i> {{ 'myProfile' | translate }}</a>
                        <a *ngIf="app_ser.isTrainer()" (click)="viewProfile()" class="user-items-dd"><i
                            class="fal fa-user-cog"></i> {{ 'Dashboard' | translate }}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" class="user-items-dd" (click)="myLibrary()"><i
                            class="far fa-book-user"></i> {{ 'myCourses' | translate }}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" class="user-items-dd" (click)="logout()"><i class="fal fa-sign-in"></i>
                          {{ 'signOut' | translate }}</a>
                      </mdb-card-body>
                    </mdb-card>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <app-offers class="d-block d-lg-none" style="text-align: center;
        margin-top: 50px;"></app-offers>
      </div>
      <div mdbModal #frame="mdbModal" class="modal fade top modal-scrolling" id="frameModalTop" tabindex="-1"
        role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
        [config]="{backdrop: true, ignoreBackdropClick: false}">
        <div class="modal-dialog modal-frame modal-top modal-notify modal-info search-modal-dialog" role="document">
          <!--Content-->
          <div class="modal-content" style="background-image: linear-gradient(to right, #00b5a9, #01637f);">
            <!--Body-->
            <div class="modal-body" style="padding: 60px">
              <div class="cross-icon" (click)="frame.hide()">
                <i class="fal fa-times"></i>
              </div>
              <div class="container">
                <form class="searchForm">
                  <div class="row d-flex justify-content-center align-items-center">
                    <div class="wrap-input">
                      <input [(ngModel)]="search" (keydown.enter)="searchCourses($event)" type="search"
                        placeholder="{{ 'txtSearch' | translate }}" name="search"
                        class="searchbox-input form-control text-center" onkeyup="buttonUp();" required
                        style="background: white;">
                    </div>
                    <div class="wrap-search-btn">
                      <a type="button" mdbBtn color="success" outline="true" class="waves-light" mdbWavesEffect
                        data-dismiss="modal" (click)="searchCourses($event)"
                        (keydown.enter)="searchCourses($event)">{{'search' | translate}}</a>
                    </div>
                    <!-- <span class="searchbox-icon" (click)="expandSearch()"><i class="fal fa-search"
                        aria-hidden="true"></i></span> -->
                  </div>
                </form>
                <!-- <div class="row">
            <div class="col-md-12 text-center">

            </div>
          </div> -->
              </div>
            </div>
            <!--/.Content-->
          </div>
        </div>
      </div>
    </div>
  </div>
