<!-- ================================ SEARCH START ================================ -->
<div class="wrapper-search">
  <h1>{{ 'onlineCoursesAvailable' | translate }}</h1>
  <p class="text-size-best-platfrom">{{ 'txtBestPlatform' | translate }}</p>
  <form class="form-inline form-search">
    <div class="wrap-search">
      <input class="form-control search-input" type="search" placeholder="{{ 'txtSearch' | translate }}"
        aria-label="Search">
      <i class="far fa-search search-icon"></i>
    </div>
  </form>
</div>
<!-- ================================ SEARCH END ================================ -->
