.paymentGateway {
  background: rgba(0, 0, 0, 0.5);
  overflow-y: auto !important;
  z-index: 999999 !important;

  .modal-dialog {
    border-radius: 20px !important;
    min-height: 400px;

    .modal-content {
      border-radius: 20px !important;
      min-height: 400px;

      .wrapper-payment-inner {
        border-radius: 20px !important;

      }
    }
  }
}

.paypal-powered-by {
  display: none;
}

/* ======================================================================================
    *****************************************************************************************
    =========================================================================================
    ARABIC STYLE START
    =========================================================================================
    *****************************************************************************************
    ====================================================================================== */
.wrapper-payment-gateway-ar {

  direction: rtl !important;
  text-align: right;
  border-radius: 20px !important;

  .cross-icon {
    padding: 30px;
    text-align: right;
    cursor: pointer;

  }

  .wrapper-payment-inner {
    .tab-content {
      padding-top: 30px;
    }

    .tab-content-visa-master-card {
      padding-top: 0px !important;
    }

    .paypal-main {
      .paypal-buttons {
        margin: 0 auto !important;
        display: block !important;
      }

      .paypal-button {
        border-radius: 100px !important;
      }
    }
  }
}

/* ======================================================================================
    *****************************************************************************************
    =========================================================================================
    ARABIC STYLE END
    =========================================================================================
    *****************************************************************************************
    ====================================================================================== */

/* ======================================================================================
    *****************************************************************************************
    =========================================================================================
    ENGLISH STYLE START
    =========================================================================================
    *****************************************************************************************
    ====================================================================================== */
.wrapper-payment-gateway-en {

  direction: ltr !important;
  text-align: left;
  border-radius: 20px !important;

  body {
    font-family: "HelveticaNeueLight";
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "HelveticaNeuelight";
  }

  p {
    font-family: "HelveticaNeuelight";
  }

  span {
    font-family: "HelveticaNeuelight";
  }

  a {
    font-family: "HelveticaNeuelight";
  }

  div {
    font-family: "HelveticaNeuelight";
  }

  input {
    font-family: "HelveticaNeuelight";

  }

  .cross-icon {
    padding: 30px;
    text-align: right;
    cursor: pointer;

  }

  .wrapper-payment-inner {
    .tab-content {
      padding-top: 30px;
    }

    .tab-content-visa-master-card {
      padding-top: 0px !important;
    }

    .paypal-main {
      .paypal-buttons {
        margin: 0 auto !important;
        display: block !important;
      }

      .paypal-button {
        border-radius: 100px !important;
      }
    }
  }


}

/* ======================================================================================
    *****************************************************************************************
    =========================================================================================
    ENGLISH STYLE END
    =========================================================================================
    *****************************************************************************************
    ====================================================================================== */
.loader {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;

  img {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    width: 80px !important;
  }
}


.loader {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
  z-index: 999999999999 !important;

  img {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    width: 80px !important;
  }
}

.style-form-width {
  max-width: 750px;
  width: 100%;
  text-align: center;
  display: block;
  margin: 20px auto 50px;
}

.after-success-coupen {
  max-width: 750px;
  width: 100%;
  text-align: center;
  display: block;
  margin: 20px auto 50px;
}

.btn-coupen-code {

  background-image: linear-gradient(to right, #00b5a9, #01637f);
  color: #fff !important;
  font-weight: 700;
  text-align: center;
  width: 100%;
  border: 0;
  padding: 15px;
  border-radius: 100px;
  margin-bottom: 20px;
}

.col-course-price {
  font-size: 26px;
  background: lightgray;
  width: 100%;
  max-width: 750px;
  display: block;
  margin: 20px auto 0;
  padding-top: 5px;
  border-radius: 4px;
}

// NEW CSS
ngb-tabset.tabset-main {
  .nav-tabs {
    li {
      width: 50% !important;

      img {
        max-width: 130px;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

#bankFrame {
  min-height: 750px !important;
  height: 100% !important;
  margin-top: -30px !important;
}
