<div [ngClass]="langStyle">
  <section id="trainerAddCourse">
    <!-- Breadcrumbs start  -->
    <!-- <nav aria-label="breadcrumb">
      <ol class="breadcrumb custom-breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/"><i class="fal fa-home-lg-alt"></i> {{'Home' | translate}}</a></li>
        <li class="breadcrumb-item"><a routerLink="/trainer/courses/list"><i class="fal fa-book"></i>
            {{'Courses' | translate}}</a></li>
        <li class="breadcrumb-item active">{{title | translate}}</li>
      </ol>
    </nav> -->
    <!-- Breadcrumbs End  -->
    <mdb-card>
      <mdb-card-body>
        <!-- <form class="border border-light p-5 custom-form-class-genrl" novalidate #addCourseForm="ngForm"> -->
        <form class="p-2 pb-4 form-genrl" novalidate #addCourseForm="ngForm">
          <h3 class="mb-3">{{title | translate}}</h3>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 label-div">
                <label for="" class="mb-2 lbl-genrl lbl-required">{{ 'Course name' | translate }}</label>
              </div>
              <div class="col-md-6 error-msg-div">
                <div class="error-message" *ngIf="courseName.errors?.required && courseName.touched">
                  {{ 'Course name' | translate }} {{ 'is required' | translate }}</div>
              </div>
            </div>
            <input class="form-control form-control-genrl mb-4" type="text" #courseName="ngModel" required
              name="courseName" [(ngModel)]="course.name" placeholder="{{ 'Course name' | translate }}" />
          </div>

          <div *ngIf="0" class="form-group">
            <div class="row">
              <div class="col-md-6 label-div">
                <label for="" class="mb-2 lbl-genrl lbl-required">{{ 'Course Code' | translate }}</label>
              </div>
              <div class="col-md-6 error-msg-div">
                <div class="error-message" *ngIf="courseCode.errors?.required && courseCode.touched">
                  {{ 'Course Code' | translate }} {{ 'is required' | translate }}</div>
                <div class="error-message" *ngIf="courseCode.errors?.pattern && courseCode.touched">
                  {{ 'Error Invalid Code' | translate }}</div>
              </div>
            </div>
            <input class="form-control form-control-genrl mb-4" type="text" #courseCode="ngModel" required
              name="courseCode" [(ngModel)]="course.code" placeholder="{{ 'Course Code' | translate }}"
              pattern="[a-zA-Z0-9]*" />
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 label-div">
                <label for="" class="mb-2 lbl-genrl lbl-required">{{'Template'| translate}}</label>
              </div>
              <div class="col-md-6 error-msg-div">
                <div class="error-message" *ngIf="course.template_id==0 && template.touched">
                  {{ 'Template' | translate }} {{ 'is required' | translate }} </div>
              </div>
            </div>
            <select (change)="onChangeTemplate()"
              class="mdb-select md-form form-control form-control-genral dd-genrl mb-4" [(ngModel)]="course.template_id"
              #template="ngModel" name="template" style="height: 50px;" required>
              <option [ngValue]="0">{{ 'Select' | translate }} {{'Template'| translate}}</option>
              <option [value]="template.id" *ngFor="let template of templates">
                {{ app_ser.stringLang(template.name, template.en_name)}}</option>
            </select>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 label-div">
                <label for="" class="mb-2 lbl-genrl lbl-required">{{'Category'| translate}}</label>
              </div>
              <div class="col-md-6 error-msg-div">
                <div class="error-message" *ngIf="course.course_category==0 && category.touched">
                  {{ 'Category' | translate }} {{ 'is required' | translate }} </div>
              </div>
            </div>
            <select class="mdb-select md-form form-control form-control-genral dd-genrl mb-4"
              [(ngModel)]="course.course_category" #category="ngModel" name="category" style="height: 50px;" required>
              <option [ngValue]="0">{{ 'Select' | translate }} {{'Category'| translate}}</option>
              <option [value]="category.id" *ngFor="let category of categories">
                {{ app_ser.stringLang(category.name, category.en_name)}}</option>
            </select>
          </div>


          <div class="form-group">
            <div class="row">
              <div class="col-md-6 label-div">
                <label for="" class="mb-2 lbl-genrl lbl-required">{{'Level'| translate}}</label>
              </div>
              <div class="col-md-6 error-msg-div">
                <div class="error-message" *ngIf="level.errors?.required && level.touched">
                  {{ 'Level' | translate }} {{ 'is required' | translate }} </div>
              </div>
            </div>
            <select class="mdb-select md-form form-control form-control-genral dd-genrl mb-4" [(ngModel)]="course.level"
              #level="ngModel" name="level" style="height: 50px;" required>
              <option [ngValue]="1">{{ 'LevelBegin' | translate }}</option>
              <option [ngValue]="2">{{ 'LevelIntermed' | translate }}</option>
              <option [ngValue]="3">{{ 'LevelAdv' | translate }}</option>
            </select>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 label-div">
                <label mdbTooltip="{{app_ser.inst('Centenary pass rate for course certification') }}" placement="top"
                  for="" class="mb-2 lbl-genrl lbl-required">{{ 'PassMark' | translate }}</label>
              </div>
              <div class="col-md-6 error-msg-div">
                <div class="error-message" *ngIf="pass_mark.errors?.required && pass_mark.touched">
                  {{ 'PassMark' | translate }} {{ 'is required' | translate }}</div>
                <div class="error-message" *ngIf="pass_mark.errors?.pattern && pass_mark.touched">
                  {{ 'bw-0-100' | translate }}</div>
              </div>
            </div>
            <input class="form-control form-control-genrl mb-4" type="number" min="0" max="100" step="1"
              #pass_mark="ngModel" required name="pass_mark" [(ngModel)]="course.pass_mark"
              placeholder="{{ 'PassMark' | translate }}" pattern="0*([0-9]|[1-8][0-9]|9[0-9]|100)" />
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6 label-div">
                <label for="" class="mb-2 lbl-genrl lbl-required"
                  mdbTooltip="{{app_ser.inst('The number of repeat runs available for this course') }}"
                  placement="top">{{ 'RepeatCount' | translate }}</label>
              </div>
              <div class="col-md-6 error-msg-div">
                <div class="error-message" *ngIf="repeat_count.errors?.required && repeat_count.touched">
                  {{ 'RepeatCount' | translate }} {{ 'is required' | translate }}</div>
                <div class="error-message" *ngIf="repeat_count.errors?.pattern && repeat_count.touched">
                  {{ 'Invalid' | translate }}</div>
              </div>
            </div>
            <input class="form-control form-control-genrl mb-4" type="number" min="0" step="1" #repeat_count="ngModel"
              required name="repeat_count" [(ngModel)]="course.repeat_count"
              placeholder="{{ 'RepeatCount' | translate }}" pattern="[0-9]*" />
          </div>

          <div class="form-group">
            <div class="custom-control custom-switch ">
              <div class="label-div">
                <input id="customSwitch1" type="checkbox" class="custom-control-input" #is_ordering="ngModel"
                  name="is_ordering" [(ngModel)]="course.is_ordering"
                  (change)="course.is_ordering = !!course.is_ordering? 1 : 0">
                <label mdbTooltip="{{app_ser.inst('Watch the course items in order') }}" placement="top"
                  class="custom-control-label lbl-genrl" for="customSwitch1">{{ 'Ordering Items' | translate }}</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 label-div">
                <label for="" class="mb-2 lbl-genrl lbl-required">{{'Upload Cover Image' | translate}}</label>
              </div>
              <div class="col-md-6 error-msg-div">
                <div class="error-message" *ngIf="false"> {{ 'Cover Image' | translate }}
                  {{ 'is required' | translate }}</div>
              </div>
              <div class="col-md-12" *ngIf="course.cover_image">
                <img [src]="app_ser.img_url(course.cover_image)" alt="" class="img-fluid img-thumbnail cover-img">
              </div>
            </div>
            <a (click)="selectImg()" class="wrap-btn-upload-cover"><i
                class="fal fa-cloud-upload upload-cover-img-icon"></i> <span class="lbl-upload-from-gallery">{{'Upload from
                          media gallery' | translate}}</span></a>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6 label-div">
                <label for="" class="mb-2 lbl-genrl lbl-required">{{ 'CourseDescription' | translate }}</label>
              </div>
              <div class="col-md-6 error-msg-div">
                <div class="error-message" *ngIf="description.errors?.required && description.touched">
                  {{ 'CourseDescription' | translate }} {{ 'is required' | translate }}</div>
              </div>
            </div>
            <textarea class="form-control form-control-genrl mb-4" rows="3" #description="ngModel" required
              name="description" [(ngModel)]="course.description"
              placeholder="{{ 'CourseDescription' | translate }}"></textarea>
          </div>


          <button [ngClass]="{'enabled':checked(addCourseForm),'disabled':!checked(addCourseForm) }" (click)="save()"
            rounded="true" mdbBtn color="info" block="true" class="my-4" type="submit" class="btn-add-course">
            {{'Save' | translate}}</button>
        </form>
      </mdb-card-body>
    </mdb-card>
  </section>
</div>
