<div [ngClass]="langStyle">
  <ngx-ui-loader class="wrapper-app-video"></ngx-ui-loader>
  <div *ngIf="courseDetail.id" class="wrapper-course-view">
    <div class="container">
      <div class="row" style="margin: 50px 0;">
        <div class="col-md-8">
          <!-- <div class="wrapper-course-info"> -->
          <div class="course-video">
            <!-- <app-course-loader *ngIf="courseGifLoader"></app-course-loader> -->
            <vg-player (onPlayerReady)="onPlayerReady($event)">
              <vg-overlay-play vgFor="masterVideo" class="video-big-play-icon"></vg-overlay-play>
              <vg-controls>
                <vg-play-pause></vg-play-pause>
                <vg-scrub-bar>
                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                  <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                </vg-scrub-bar>
                <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                <!-- <ul class="dubbing-ul" *ngFor="let dubbing of activeStep.dubbingList ; let dubbingIndex= index">
                <li (click)="changeDubbing(dubbingIndex)"
                  [ngClass]="{'active': activeDubbing == dubbingIndex, 'inActive': !activeDubbing == dubbingIndex}">
                  {{dubbing.name}}</li>
                <li (click)="changeDubbing(-1)"
                  [ngClass]="{'active': activeDubbing == -1 , 'inActive': !activeDubbing == -1}"
                  *ngIf="dubbingIndex==activeStep.dubbingList.length-1">Default </li>

              </ul> -->
                <!-- </div> -->
                <!-- ================================ DUBBING SETTING START ================================  -->
                <div *ngIf="dubbingList.length>0" class="dubbing" (click)="showDubbings()">
                  <div class="dubbing-inner">
                    <span class="active-dubbing">{{ getActiveDubbing() | translate }}</span>
                    <i class="fal fa-language dubbing-control-icon"></i>
                  </div>
                  <div class="content-dubbing" *ngIf="dubbingContent">
                    <p class="title-dubbing"><i class="fal fa-language dubbing-title-icon"></i> {{'Dubbing'| translate}}
                    </p>
                    <ul class="dubbing-ul" *ngFor="let dubbing of dubbingList ; let dubbingIndex= index">
                      <li (click)="changeDubbing(dubbingIndex)"
                        [ngClass]="{'active': activeDubbing == dubbingIndex, 'inActive': !activeDubbing == dubbingIndex}">
                        {{dubbing.name| translate}}</li>
                      <li (click)="changeDubbing(-1)"
                        [ngClass]="{'active': activeDubbing == -1 , 'inActive': !(activeDubbing == -1)}"
                        *ngIf="dubbingIndex==dubbingList.length-1">{{'English'| translate}} </li>
                    </ul>
                  </div>
                </div>
                <!-- ================================ DUBBING SETTING END ================================  -->
                <!-- ================================ QUALITY SETTING START ================================  -->
                <div *ngIf="qualitiesList.length>0" class="quality" (click)="showQuality()">
                  <!-- <i class="fal fa-cog quality-control-icon"></i> -->
                  <div class="quality-inner">
                    <span class="active-quality">{{ getActiveQuality() | translate }}</span>
                    <i class="fal fa-cog quality-control-icon"></i>
                  </div>
                  <div class="content-quality" *ngIf="qualityContent">
                    <p class="title-quality"><i class="fal fa-cog quality-title-icon"></i> {{'Quality'| translate}} </p>
                    <ul class="quality-ul" *ngFor="let qualitiy of qualitiesList ; let qualitiyIndex= index">
                      <li (click)="changeQuality(qualitiyIndex)"
                        [ngClass]="{'active': activeQuality == qualitiyIndex, 'inActive': !activeQuality == qualitiyIndex}">
                        {{qualitiy.name| translate}}</li>
                      <!-- <li (click)="changeQuality(-1)"
                        [ngClass]="{'active': activeQuality == -1 , 'inActive': !(activeQuality == -1)}"
                        *ngIf="qualitiyIndex==qualitiesList.length-1">{{'Basic '| translate}} </li> -->
                    </ul>
                    <!-- <ul class="quality-ul">
                      <li>220px</li>
                      <li>360px</li>
                      <li>720px Hd</li>
                      <li>1040px Hd</li>
                      <li>Default</li>
                    </ul> -->
                  </div>
                </div>
                <!-- ================================ QUALITY SETTING END ================================  -->
                <!-- ================================ SUBTITLE SETTING START ================================  -->
                <div *ngIf="0" class="subtitle" (click)="showSubtitle()"><i
                    class="fal fa-closed-captioning subtitle-control-icon"></i>
                  <div class="content-subtitle">
                    <p class="title-subtitle"><i class="fal fa-language subtitle-title-icon"></i> Subtitle</p>
                    <ul class="subtitle-ul">
                      <li>Ar</li>
                      <li>En</li>
                      <li>Default</li>
                    </ul>
                  </div>
                </div>
                <!-- ================================ SUBTITLE SETTING END ================================  -->
                <!-- </div>  -->
                <!-- <div class="wrapper-settings">
                  <div class="setting" (click)="showSettings()">
                    <i class="fal fa-cog setting-control-icon"></i>
                    <div class="content-setting" *ngIf="settingItem">
                      <ul class="setting-ul">
                        <li (click)="showDubbings()">
                          <div class="row p-0">
                            <div class="col-7 p-0 setting-title"> Dubbing </div>
                            <div class="col-5 p-0 text-right setting-value"> Ar </div>
                          </div>
                        </li>
                        <li (click)="showSubtitle()">
                          <div class="row p-0">
                            <div class="col-7 p-0 setting-title"> Subtitles </div>
                            <div class="col-5 p-0 text-right setting-value"> En </div>
                          </div>
                        </li>
                        <li (click)="showQuality()">
                          <div class="row p-0">
                            <div class="col-7 p-0 setting-title"> Quality </div>
                            <div class="col-5 p-0 text-right setting-value"> 1040 hd </div>
                          </div>
                        </li>

                      </ul>
                    </div>
                  </div>
                  <div class="content-dubbing" *ngIf="dubbingContent">
                    <p class="title-dubbing"><i class="fal fa-language dubbing-title-icon"></i> Dubbing</p>
                    <ul class="dubbing-ul" *ngFor="let dubbing of dubbingList ; let dubbingIndex= index">
                      <li (click)="changeDubbing(dubbingIndex)"
                        [ngClass]="{'active': activeDubbing == dubbingIndex, 'inActive': !activeDubbing == dubbingIndex}">
                        {{dubbing.name}}</li>
                      <li (click)="changeDubbing(-1)"
                        [ngClass]="{'active': activeDubbing == -1 , 'inActive': !activeDubbing == -1}"
                        *ngIf="dubbingIndex==dubbingList.length-1">Default </li>
                    </ul>
                  </div>
                </div> -->
                <!-- <div *ngIf="dubbingList.length>0" class="dubbing" (click)="showDubbings()"><i
                    class="fal fa-language dubbing-control-icon"></i>
                  <div class="content-dubbing" *ngIf="dubbingContent">
                    <p class="title-dubbing"><i class="fal fa-language dubbing-title-icon"></i> Dubbing</p>
                    <ul class="dubbing-ul" *ngFor="let dubbing of dubbingList ; let dubbingIndex= index">
                      <li (click)="changeDubbing(dubbingIndex)"
                        [ngClass]="{'active': activeDubbing == dubbingIndex, 'inActive': !activeDubbing == dubbingIndex}">
                        {{dubbing.name}}</li>
                      <li (click)="changeDubbing(-1)"
                        [ngClass]="{'active': activeDubbing == -1 , 'inActive': !activeDubbing == -1}"
                        *ngIf="dubbingIndex==dubbingList.length-1">Default </li>
                    </ul>

                  </div>
                </div> -->
                <!-- DUBBING HTML BEFORE DESIGN CHANGE START -->
                <!-- <div *ngIf="dubbingList.length>0" class="dubbing" (click)="showDubbings()"><i
                    class="fal fa-language dubbing-control-icon" placement="top" ngbTooltip="Dubbing"></i>
                  <div class="content-dubbing" *ngIf="dubbingContent">
                    <p class="title-dubbing"><i class="fal fa-language dubbing-title-icon"></i> Dubbing</p>
                    <ul class="dubbing-ul" *ngFor="let dubbing of dubbingList ; let dubbingIndex= index">
                      <li (click)="changeDubbing(dubbingIndex)"
                        [ngClass]="{'active': activeDubbing == dubbingIndex, 'inActive': !(activeDubbing == dubbingIndex)}">
                        {{dubbing.name}}</li>
                      <li (click)="changeDubbing(-1)"
                        [ngClass]="{'active': activeDubbing == -1 , 'inActive': ! (activeDubbing == -1)}"
                        *ngIf="dubbingIndex==dubbingList.length-1">Default </li>
                    </ul>
                  </div>
                </div> -->
                <!-- DUBBING HTML BEFORE DESIGN CHANGE END -->
                <vg-mute></vg-mute>
                <vg-volume vgFor="masterVideo"></vg-volume>
                <vg-fullscreen></vg-fullscreen>
              </vg-controls>
              <video [vgMedia]="master" #master id="masterVideo" autoplay="true" preload="auto"
                [src]="app_ser.video_url(video, video_derivation)">
              </video>
            </vg-player>
          </div>
          <div class="course-title">
            <h3>{{courseDetail.name}}</h3>
          </div>
          <!-- <span class="course-star-rating" *ngFor="let rate of rating_arr">
            <i [class]="rate"></i>

          </span> -->
          <p class="course-price">
            <span *ngIf="!courseDetail.price" class="current-discounted-price" mdbTooltip="{{courseDetail.text_price}}"
              placement="left">{{'Free'|translate}}</span>
            <span *ngIf="courseDetail.price" class="current-discounted-price" mdbTooltip="{{courseDetail.text_price}}"
              placement="left">${{courseDetail.price}}</span>
          </p>
          <p class="course-description"> {{courseDetail.description}} </p>
          <div class="course-summary">
            <p class="course-date"><i class="fal fa-calendar-alt"></i>{{'Course Date' | translate}}:
              {{courseDetail.create_date | date:'mediumDate' }}</p>
            <p class="no-of-lessons"><i class="fal fa-book"></i>{{'No of Lessons' | translate}}:
              {{courseDetail.lessons}}</p>
            <p class="trainer-name"><i class="fal fa-chalkboard-teacher"></i>مدرب: <a *ngIf="courseDetail.trainer_id"
                routerLink="/trainer-view/{{courseDetail.trainer_id}}">{{courseDetail.trainer}}</a>
              <span *ngIf="!courseDetail.trainer_id">{{'Focus Academy' | translate}}</span> </p>
            <!-- <p class=" trainer-name"><i class="fal fa-chalkboard-teacher"></i>مدرب: <a
                  routerLink="/trainer-view/{{trainer.id}}">{{courseDetail.trainer}}</a> </p> -->
            <p class="course-time"><i class="fal fa-clock"></i>{{'Course Duration' | translate}} :
              {{app_ser.formatTime(courseDetail.duration).hours}} {{'hour' | translate}}
              {{app_ser.formatTime(courseDetail.duration).minutes}} {{'Minutes' | translate}} </p>
            <p class="registered-students"><i class="fal fa-users"></i>{{'No of Students' | translate}}:
              {{courseDetail.students_count}}</p>
            <p class="course-level"><i class="fal fa-analytics"></i>{{'Course Level' | translate}}:
              {{courseDetail.course_level.name}} </p>


            <p *ngIf="courseDetail.issued_by" class="no-of-lessons"><i
                class="fas fa-file-certificate"></i>{{'certificate of achievement' | translate}}:
              {{courseDetail.issued_by}}</p>
          </div>
          <div *ngIf="!app_ser.isTrainer()">
            <a mdbTooltip="{{app_ser.inst('register_course') }}" placement="top" *ngIf="!courseDetail.register"
              class="btn btn-get-it-now" (click)="register()">{{'Get it Now' | translate}}</a>
            <a mdbTooltip="{{app_ser.inst('complete_your_course') }}" placement="top"
              *ngIf="courseDetail.register && courseDetail.register.status==1" class="btn btn-get-it-now"
              (click)="completeCourse()">{{'Continue Course' | translate}}</a>
            <a mdbTooltip="{{app_ser.inst('rejoin_course') }}" placement="top" *ngIf=" courseDetail.register"
              class="btn btn-get-it-now" (click)="register()">{{'Register Again' | translate}}</a>
          </div>

          <div *ngIf="checkOwnerLive()">

            <a class="btn btn-get-it-now" (click)="registerOwner()">{{'Start' | translate}}</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wrapper-course-outline">
            <div class="hdng-course-outline">
              <h4 class="mb-0">محتوى الدورة</h4>
            </div>
            <div class="course-outline-inner" *ngFor="let courseItem of courseDetail.items; let i = index;">
              <div class="wrap-outline-item" mdbWavesEffect>
                <h6 class="title-course-content">
                  <span>{{i+1}}.</span>
                  <span>{{courseItem.name}}</span>
                  <span *ngIf="courseItem.type=='Exam'" mdbTooltip="{{app_ser.inst(courseItem.type) }}" placement="top"
                    class="lbl-type">{{courseItem.type | translate }}</span>
                  <span class="wrap-toggle-icon" (click)="test.toggle()">
                    <i class="icon-plus" (click)="ChangetoggleIcon(courseItem.id)"
                      [ngClass]="toggleIcons[courseItem.id] ? 'fal fa-minus-circle' : 'fal fa-plus-circle '"></i>
                  </span>
                </h6>
              </div>
              <div class="course-content-item-body" mdbCollapse #test="bs-collapse">
                <div class="body-inner">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="wrap-course-outline-summary">
                        <p class="course-time"><i class="fal fa-clock"
                            aria-hidden="true"></i><strong>{{'Course Duration' | translate}} :</strong>
                          {{app_ser.secToTime(courseItem.duration)}}</p>
                        <p mdbTooltip="{{app_ser.inst('steps_count') }}" placement="top" class="course-level"><i
                            class="fal fa-analytics"
                            aria-hidden="true"></i><strong>{{'No of Steps' | translate}}:</strong>
                          {{courseItem.steps_count}} </p>
                        <div mdbTooltip="{{app_ser.inst('std_allow_attempt') }}" placement="top">
                          <p *ngIf="courseItem.apply_repeat" class="course-level"><i class="fal fa-ballot"></i><strong>
                              {{'No of Attempts Available' | translate}}:</strong> {{courseItem.apply_repeat}} </p>
                          <p *ngIf="!courseItem.apply_repeat" class="course-level"><i class="fal fa-ballot"></i><strong>
                              {{'No of Attempts Available' | translate}}:</strong> {{'Unlimited' | translate}} </p>
                        </div>
                        <br>
                        <!-- <a href="" class="btn-resume-test"><i class="fal fa-play icon-btn-genrl"></i>استئناف
                        الاختبار</a> -->
                      </div>
                    </div>
                    <!-- <div class="col-md-4">
                    <div class="wrap-circular-progressbar">
                      <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="5" [innerStrokeWidth]="2"
                        [outerStrokeColor]="'#00b5a9'" [innerStrokeColor]="'#01637f'" [animation]="true"
                        [animationDuration]="300" [radius]="30" [imageHeight]="5" [imageWidth]="5"
                        [titleFontSize]="'60'" [unitsFontSize]="'50'" [subtitle]="'Completed'"
                        [subtitleFontSize]="'30'"></circle-progress>
                    </div>
                  </div> -->
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="course-outline-inner">
            <div class="wrap-outline-item" (click)="test2.toggle()" mdbWavesEffect>
              <h6 class="title-course-content">
                <span>2.</span>
                <span>التدريب الاعلامي المتقدم</span>
                <span class="lbl-type">Lesson</span>
                <i class="fal fa-plus-circle icon-plus"></i></h6>
            </div>


            <div class="course-content-item-body" mdbCollapse #test2="bs-collapse">
              <div class="body-inner">
                <div class="row">
                  <div class="col-md-8">
                    <div class="wrap-course-outline-summary">
                      <p class="course-time"><i class="fal fa-clock" aria-hidden="true"></i><strong>المدة الزمنية
                          :</strong> 6 س 5 م</p>
                      <p class="course-level"><i class="fal fa-analytics" aria-hidden="true"></i><strong>مستوى:</strong>
                        المتقدمة </p>
                      <p class="course-level"><i class="fal fa-repeat"></i><strong>محاولة:</strong> 1 </p>
                      <br>
                      <a href="" class="btn-resume-test"><i class="fal fa-repeat icon-btn-genrl"></i>كرر الاختبار</a>
                      <a href="" class="btn-resume-test"><i class="fal fa-eye icon-btn-genrl"></i>عرض النتائج </a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="wrap-circular-progressbar">
                      <circle-progress [percent]="100" [radius]="100" [outerStrokeWidth]="5" [innerStrokeWidth]="2"
                        [outerStrokeColor]="'#00b5a9'" [innerStrokeColor]="'#01637f'" [animation]="true"
                        [animationDuration]="300" [radius]="30" [imageHeight]="5" [imageWidth]="5"
                        [titleFontSize]="'60'" [unitsFontSize]="'50'" [subtitle]="'Completed'"
                        [subtitleFontSize]="'30'"></circle-progress>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
            <!-- <div class="course-outline-inner">
            <div class="wrap-outline-item" (click)="test3.toggle()" mdbWavesEffect>
              <h6 class="title-course-content">
                <span>3.</span>
                <span>مقدمة في التدريب الإعلامي</span>
                <span class="lbl-type">Exam</span>
                <i class="fal fa-plus-circle icon-plus"></i></h6>
            </div>


            <div class="course-content-item-body" mdbCollapse #test3="bs-collapse">
              <div class="body-inner">
                <div class="row">
                  <div class="col-md-7">
                    <div class="wrap-course-outline-summary">
                      <p class="course-time"><i class="fal fa-clock" aria-hidden="true"></i><strong>المدة الزمنية
                          :</strong> 6 س 5 م</p>
                      <p class="course-level"><i class="fal fa-analytics" aria-hidden="true"></i><strong>مستوى:</strong>
                        المتقدمة </p>
                      <p class="course-level"><i class="fal fa-repeat"></i><strong>محاولة:</strong> 1 </p>
                      <br>
                      <a href="" class="btn-resume-test"><i class="fal fa-play icon-btn-genrl"></i>استئناف الاختبار</a>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="wrap-circular-progressbar">
                      <circle-progress [percent]="55" [radius]="100" [outerStrokeWidth]="5" [innerStrokeWidth]="2"
                        [outerStrokeColor]="'#00b5a9'" [innerStrokeColor]="'#01637f'" [animation]="true"
                        [animationDuration]="300" [radius]="30" [imageHeight]="5" [imageWidth]="5"
                        [titleFontSize]="'60'" [unitsFontSize]="'50'" [subtitle]="'Completed'"
                        [subtitleFontSize]="'30'"></circle-progress>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
            <!-- <div class="course-outline-inner">
            <div class="wrap-outline-item" (click)="test4.toggle()" mdbWavesEffect>
              <h6 class="title-course-content">
                <span>4.</span>
                <span>التدريب الاعلامي المتقدم</span>
                <span class="lbl-type">Lesson</span>
                <i class="fal fa-plus-circle icon-plus"></i></h6>
            </div>


            <div class="course-content-item-body" mdbCollapse #test4="bs-collapse">
              <div class="body-inner">
                <div class="row">
                  <div class="col-md-7">
                    <div class="wrap-course-outline-summary">
                      <p class="course-time"><i class="fal fa-clock" aria-hidden="true"></i><strong>المدة الزمنية
                          :</strong> 6 س 5 م</p>
                      <p class="course-level"><i class="fal fa-analytics" aria-hidden="true"></i><strong>مستوى:</strong>
                        المتقدمة </p>
                      <p class="course-level"><i class="fal fa-repeat"></i><strong>محاولة:</strong> 1 </p>
                      <br>
                      <a href="" class="btn-resume-test"><i class="fal fa-play icon-btn-genrl"></i> بدء الاختبار</a>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="wrap-circular-progressbar">
                      <circle-progress [percent]="0" [radius]="100" [outerStrokeWidth]="5" [innerStrokeWidth]="2"
                        [outerStrokeColor]="'#00b5a9'" [innerStrokeColor]="'#01637f'" [animation]="true"
                        [animationDuration]="300" [radius]="30" [imageHeight]="5" [imageWidth]="5"
                        [titleFontSize]="'60'" [unitsFontSize]="'50'" [subtitle]="'Completed'"
                        [subtitleFontSize]="'30'"></circle-progress>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          </div>
          <div class="wrapper-related-courses">
            <div class="hdng-related-courses">
              <h4 class="mb-0">{{'Related Courses' | translate}}</h4>
            </div>
            <!-- <div class="wrap-courses" *ngFor="let relatedCourse of courseDetail.related_courses;">
              <div class="wrap-course-item">
                <div class="row">
                  <div class="col-md-12 col-custom-padding">
                    <div class="wrap-img">

                      <img [src]="app_ser.img_url(relatedCourse.cover_image,'course')" alt=""
                        class="img-fluid img-rounded img-thumbnail rel-course-img">
                    </div>
                  </div>
                  <div class="col-md-12 col-custom-padding">

                    <p class="course-name text-center">{{relatedCourse.name}}</p>
                    <div class="row pb-0" style="padding:5px 15px">
                      <div class="col-4 p-0 text-center">
                        <span class="trainer-name" *ngIf="relatedCourse.trainer_name"><i
                            class="far fa-chalkboard-teacher"></i> {{relatedCourse.trainer_name}} <i
                            class="fas fa-circle dot-separator-icon"></i>
                        </span>
                        <span class="trainer-name" *ngIf="!relatedCourse.trainer_name"><i
                            class="far fa-chalkboard-teacher"></i> {{'Kun Academy' | translate}} <i
                            class="fas fa-circle dot-separator-icon"></i>
                        </span>
                      </div>
                      <div class="col-4 p-0 text-center">
                        <span class="course-duration"><i class="far fa-clock"></i>
                          {{app_ser.formatTime(relatedCourse.duration).hours}} {{'hour' | translate}}
                          {{app_ser.formatTime(relatedCourse.duration).minutes}} {{'Minutes' | translate}} <i
                            class="fas fa-circle dot-separator-icon"></i></span>
                      </div>
                      <div class="col-4 p-0 text-center">
                        <span class="course-level"><i class="far fa-analytics"></i> {{relatedCourse.level_name}}</span>
                      </div>
                    </div>
                    <a (click)="viewCourse(relatedCourse)" class="view-course-btn">{{'View course' | translate}}</a>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="wrap-related-courses">
              <div class="row">
                <div *ngFor="let relatedCourse of courseDetail.related_courses;let cardIndex = index"
                  class="col-12 custom-col-padding">
                  <mdb-card class="my-1 card-main">
                    <div class="wrapper-inner-course">
                      <a (click)="viewCourse(relatedCourse)">
                        <div class="main-div-course">
                          <img [src]="app_ser.img_url(relatedCourse.cover_image,'course')" class="img-fluid course-img"
                            alt="">
                          <div class="overlay-dark-background"></div>
                          <div class="overlay-course">
                            <h3 class="course-title bold-hdng">{{relatedCourse.name}}</h3>
                            <p class="price">
                              <span *ngIf="!relatedCourse.price"
                                class="current-discounted-price">{{'Free' | translate}}</span>
                              <span *ngIf="relatedCourse.price"
                                class="current-discounted-price">${{relatedCourse.price}}</span>
                              <span *ngIf="relatedCourse.old_price"
                                class="old-price">${{relatedCourse.old_price}}</span>
                            </p>
                          </div>
                        </div>
                        <!-- <div class="wrapper-hover-course-video" *ngIf="playVideoOnHover == relatedCourse.register_id">
                              <app-course-loader *ngIf="courseGifLoader" [class]="stopCourseLoader()"></app-course-loader>
                              <div class="wrap-course-over-vg-player">
                                <vg-player (onPlayerReady)="onPlayerReady($event,course)">
                                  <video *ngIf="api" [vgMedia]="master" #master  id="masterVideo" preload="auto"
                                    autoplay="true" [src]="app_ser.video_url(relatedCourse.video)">
                                  </video>
                                </vg-player>
                              </div>
                            </div>
                            <div class="overlay-course-summary-hover">
                              <div class="box-play-icon">
                                <a routerLink="/steps/{{relatedCourse.register_id}}/{{app_ser.urlString(relatedCourse.name)}}"><i
                                    class="fal fa-play"></i></a>
                              </div>
                              <h3 class="course-title bold-hdng">{{relatedCourse.name}}</h3>
                              <div class="summary-course">
                                <span class="course-date"><i class="fal fa-calendar-alt"></i>تاريخ:
                                  {{relatedCourse.create_date |  date:'MM/dd/yyyy'}}</span>
                                <span class="no-of-lessons"><i class="fal fa-book"></i>عدد الدروس: {{relatedCourse.items_count}}</span>
                                <br>
                                <span class="course-time"><i class="fal fa-clock"></i>المدة الزمنية :
                                  {{app_ser.formatTime(relatedCourse.duration).hours}} {{'hour' | translate}}
                                  {{app_ser.formatTime(relatedCourse.duration).minutes}} {{'Minutes' | translate}} </span>
                                <span class="registered-students"><i class="fal fa-users"></i>عدد الطلاب:
                                  {{relatedCourse.students_count}}</span>
                                <br>
                                <span class="trainer-name"><i class="fal fa-chalkboard-teacher"></i>مدرب:
                                  {{relatedCourse.trainer_name?relatedCourse.trainer_name:"أكاديمية فوكس" }}</span>
                              </div>
                            </div> -->
                      </a>
                      <!-- <div class="wrapper-icons-links">
                            <div class="box-social-icon">
                              <a *ngIf="api" (click)="muteAndPlay(course)">
                                <i *ngIf="relatedCourse.volume" class="fal fa-volume"></i>
                                <i *ngIf="! relatedCourse.volume" class="fal fa-volume-mute"></i>
                              </a>
                            </div>
                            <div class="box-social-icon">
                              <a (click)="setFavourite(course)">
                                <i class="fal fa-heart" *ngIf="!relatedCourse.is_interested"></i>
                                <i class="fal fa-heart" *ngIf="relatedCourse.is_interested" style="color: red; font-weight: 1000"></i>
                              </a>
                            </div>
                          </div> -->
                    </div>
                  </mdb-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-download-app-popup></app-download-app-popup>
  </div>
  <!-- <div class="openPaypal" style="margin:100px 0">
    <a class="btn btn-primary" (click)="app_ser.openPaymentGateway(courseDetail)">Open Paypal</a>
  </div>
  <a (click)="app_ser.showInvoice()"
    style="margin: 100px 0; text-align: center; font-size: 30px;text-decoration: underline;cursor: pointer; display: block;">View
    Invoice</a> -->
