<div [ngClass]="langStyle">
  <section id="trainerAddItem" *ngIf="!!item">
    <!-- Breadcrumbs start  -->
    <!-- <nav aria-label="breadcrumb">
      <ol class="breadcrumb custom-breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/"><i class="fal fa-home-lg-alt"></i> {{'Home' | translate}}</a></li>
        <li class="breadcrumb-item"><a routerLink="/trainer/courses/list"><i class="fal fa-book"></i>
            {{'Courses' | translate}}</a></li>
        <li class="breadcrumb-item active"><i class="fal fa-layer-plus"></i> {{'Add Item' | translate}}</li>
      </ol>
    </nav> -->
    <!-- Breadcrumbs End  -->
    <!-- <select class="custom-select" [(ngModel)]="itemId" (change)="onChangeItem()">
      <option selected value="0">{{'Add Item' | translate}}</option>
      <option [value]="item.id" *ngFor="let item of items">
        {{ item.name}}
      </option>
    </select> -->

    <!-- <mdb-card>
      <mdb-card-body> -->
        <!-- <form class="border border-light p-5 custom-form-class-genrl" novalidate #addCourseForm="ngForm"> -->
          <form class="p-2 pb-4 form-genrl" novalidate #addItemForm="ngForm">
          <!-- Nav Tabs -->
<mdb-tabset #staticTabs [buttonClass]="'md-tabs tabs-3'" [contentClass]="'card'">
  <h3 class="mb-3">{{ title | translate}}</h3>
  <!--Panel 1-->
  <mdb-tab heading="Item">
    <div class="row">
      <div class="col-12">
        
          <div class="form-group" >
            <div class="row">
              <div class="col-md-6 label-div">
                <label for="" class="mb-2 lbl-genrl lbl-required">{{'Item Type'| translate}}</label>
              </div>
              <div class="col-md-6 error-msg-div">
                <div class="error-message" *ngIf="type.errors?.required && type.touched"> {{ 'Item Type' | translate }} {{ 'is required' | translate }} </div>
              </div>
            </div>
            <select class="mdb-select md-form form-control form-control-genral dd-genrl mb-4" name="type" #type="ngModel" [(ngModel)]="item.type"
              style="height: 50px;"  required>
              <option [value]="'Lesson'"> {{'Lesson' | translate}}</option>
              <option [value]="'Exam'"> {{'Exam' | translate}}</option>
            </select>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 label-div">
                <label for="" class="mb-2 lbl-genrl lbl-required">{{ 'Item Name' | translate }}</label>
              </div>
              <div class="col-md-6 error-msg-div">
                <div class="error-message" *ngIf="itemName.errors?.required && itemName.touched"> {{ 'Item Name' | translate }} {{ 'is required' | translate }}</div>
              </div>
            </div>
            <input class="form-control form-control-genrl mb-4" type="text" name="itemName" #itemName="ngModel" [(ngModel)]="item.name"
              placeholder="{{ 'Item Name' | translate }}" required />
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 label-div">
                <label for="" class="mb-2 lbl-genrl lbl-required">{{'Upload Cover Image' | translate}}</label>
              </div>
              <div class="col-md-6 error-msg-div">
                <div class="error-message" *ngIf="false"> {{ 'Cover Image' | translate }} {{ 'is required' | translate }}</div>
              </div>
            </div>
            <a (click)="app_ser.openGalleryPopup()" class="wrap-btn-upload-cover"><i
                class="fal fa-cloud-upload upload-cover-img-icon"></i> <span class="lbl-upload-from-gallery">{{'Upload from
                media gallery' | translate}}</span></a>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-6 label-div">
                <label for="" class="mb-2 lbl-genrl lbl-required">{{ 'PassMark' | translate }}</label>
              </div>
              <div class="col-md-6 error-msg-div">
                <div class="error-message" *ngIf="pass_mark.errors?.required && pass_mark.touched">
                  {{ 'PassMark' | translate }} {{ 'is required' | translate }}</div>
                  <div class="error-message" *ngIf="pass_mark.errors?.pattern && pass_mark.touched">
                    {{ 'bw-0-100' | translate }}</div>
              </div>
            </div>
            <input class="form-control form-control-genrl mb-4" type="number" min="0" max="100" step="1" #pass_mark="ngModel" required
              name="pass_mark" [(ngModel)]="item.pass_mark" placeholder="{{ 'PassMark' | translate }}" pattern="0*([0-9]|[1-8][0-9]|9[0-9]|100)" />
          </div>

          <div class="form-group">
            <div class="custom-control custom-switch ">          
              <div class="label-div">
                <input id="customSwitch2" type="checkbox" class="custom-control-input" #is_basic="ngModel" name="is_basic"
                  [(ngModel)]="item.is_basic" (change)="item.is_basic = !!item.is_basic? 1 : 0">
                <label class="custom-control-label lbl-genrl" for="customSwitch2">{{ 'Basic' | translate }}</label>
              </div>
            </div>
          </div>
      </div>
    </div>
  </mdb-tab>
  <!--Panel 2-->
  <mdb-tab heading="Settings">
    <div class="row">
      <div class="col-12">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" name="save_answers_on_move" (change)="item.settings[settingsKeys[item.type]['save_answers_on_move']] = $event ? 1 : 0" [(ngModel)]="item.settings[settingsKeys[item.type]['save_answers_on_move']]">
          <label class="custom-control-label" for="save_answers_on_move"> {{ 'save_answers_on_move' | translate }} </label>
        </div>

        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" name="custom_navigating" (change)="item.settings[settingsKeys[item.type]['custom_navigating']] = $event ? 1 : 0" [(ngModel)]="item.settings[settingsKeys[item.type]['custom_navigating']]">
          <label class="custom-control-label" for="custom_navigating"> {{ 'custom_navigating' | translate }} </label>
        </div>

        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" name="no_back" (change)="item.settings[settingsKeys[item.type]['no_back']] = $event ? 1 : 0" [(ngModel)]="item.settings[settingsKeys[item.type]['no_back']]">
          <label class="custom-control-label" for="no_back"> {{ 'no_back' | translate }} </label>
        </div>

        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" name="no_mark" (change)="item.settings[settingsKeys[item.type]['no_mark']] = $event ? 1 : 0" [(ngModel)]="item.settings[settingsKeys[item.type]['no_mark']]">
          <label class="custom-control-label" for="no_mark"> {{ 'no_mark' | translate }} </label>
        </div>

        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" name="show_correct" (change)="item.settings[settingsKeys[item.type]['show_correct']] = $event ? 1 : 0" [(ngModel)]="item.settings[settingsKeys[item.type]['show_correct']]">
          <label class="custom-control-label" for="show_correct"> {{ 'show_correct' | translate }} </label>
        </div>
        
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" name="show_result" (change)="item.settings[settingsKeys[item.type]['show_result']] = $event ? 1 : 0" [(ngModel)]="item.settings[settingsKeys[item.type]['show_result']]">
          <label class="custom-control-label" for="show_result"> {{ 'show_result' | translate }} </label>
        </div>

        <div class="md-form">
          <input type="number" class="form-control" name="input_repeat" mdbInput [(ngModel)]="item.settings[settingsKeys[item.type]['input_repeat']]">
          <label for="input_repeat">{{ 'input_repeat' | translate }}</label>
        </div>

      </div>
    </div>
  </mdb-tab>
  <button  rounded="true" mdbBtn color="info" block="true" class="my-4" (click)="save()" type="submit" class="btn-add-course">
    {{'Save' | translate}}</button>

</mdb-tabset>


         
</form>
      <!-- </mdb-card-body>
    </mdb-card> -->
  </section>
</div>


