<div [ngClass]="langStyle">
  <div class="session-title">
    <div class="container">
      <h3>دورة تدريبية حية لأكاديمية كن</h3>
    </div>
  </div>
  <div class="wrapper-main-stream-box">
    <div class="stream-sessions-sidebar">
      <div class="session-inner" *ngFor="let session of sessionData, let i=index;"
        [ngStyle]="{'height': !( i==active_item_index) ? (100/(sessionData.length +1))+'%' : (200/(sessionData.length+1))+'%' }"
        [ngClass]="{'activeSessionTile':( i==active_item_index)}">
        <div class="tile" (mouseenter)="changeStyle($event, i)" (mouseleave)="changeStyle($event, i)">
          <a class="session-item">&nbsp;</a>
          <div class="summary-session-box" [ngClass]="opacityShowHide" *ngIf="i==itemMouseOverIndex">
            <div class="row">
              <div class="col-md-12">
                <div class="wrap-session-summary">
                  <h3 class="title"><i class="fal fa-video"></i> {{sessionData[itemMouseOverIndex].item.name}}</h3>
                  <p class="date text-style-genrl">تاريخ: {{sessionData[itemMouseOverIndex].item.session_time}}</p>
                  <p class="type text-style-genrl">الحالة: {{sessionData[itemMouseOverIndex].status|translate}}</p>
                  <p class="archived text-style-genrl">مؤرشف:
                    {{sessionData[itemMouseOverIndex].item.is_archived? "نعم":"لا"}}</p>
                  <!-- <hr style="margin: 10px 0 5px;">
                  <button class="btn btn-start-session btn-rounded">بدء الجلسة</button> -->
                </div>
              </div>
              <div class="col-md-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="stream-box">
      <div *ngIf="active_item_index==-1">
        <img src="../../../../../assets/images/video-call-bg.jpg" alt="" class="img-fluid">
      </div>
      <div *ngIf="!(active_item_index==-1)">
        <!-- <img src="../../../../../assets/images/video-call-bg.jpg" alt="" class="img-fluid"> -->

        <div class="wrap-session-summary">
          <h3 class="title"><i class="fal fa-video"></i> {{sessionData[active_item_index].item.name}}</h3>
          <p class="date text-style-genrl">تاريخ: {{sessionData[active_item_index].item.session_time}}</p>
          <p class="type text-style-genrl">الحالة: {{sessionData[active_item_index].status}}</p>
          <p class="archived text-style-genrl">مؤرشف: {{sessionData[active_item_index].item.is_archived}}</p>
          <hr style="margin: 10px 0 5px;">
          <button class="btn btn-start-session btn-rounded" (click)="startSession(active_item_index)">بدء
            الجلسة</button>
        </div>

      </div>

    </div>
  </div>
  <div class="wrapper-streaming-controls">Streaming controls goes here</div>
</div>
